
<section class="content-header" ng-if="properties.isLogin">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i> Inicio</a></li>
    </ol>
</section>

<section class="content" ng-if="properties.isLogin">
    <article class="row centerCol">
        <div class="col-xs-12 col-md-10">
            <div class="row userlogin">
                <div class="col-xs-12 col-md-2 userlogin-nav">
                    <div class="userlogin-nav__media text-center fadeInDown a-7ms">
                        <img class="userlogin-nav__media-photo" src="static/dist/img/user-female3.jpg" alt="" />
                        <label class="userlogin-nav__media-name">
                            FÁTIMA LUNA HERNÁNDEZ
                        </label>
                    </div>
                    <div class="userlogin-nav__menu fadeInUp a-7ms">
                        <ul>
                            <li ng-class="{'active':properties.isHome}"
                                ng-click="togglePages('home')">
                                Inicio
                            </li>
                            <li ng-class="{'active':properties.isVehicles}"
                                ng-click="togglePages('vehicles')">
                                Mis vehículos
                                <i class="item-count">3</i>
                            </li>
                            <!-- <li ng-class="{'active':properties.isCourses}"
                                ng-click="togglePages('courses')">
                                Mis cursos
                            </li> -->
                            <li>
                                Mis cursos
                                <i class="item-count">4</i>
                            </li>
                            <!-- <li ng-class="{'active':properties.isAppointments}"
                                ng-click="togglePages('appointments')">
                                Mis citas
                            </li> -->
                            <li>
                                Mis citas
                                <i class="item-count">1</i>
                            </li>
                            <li>
                                Cuenta
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-10 userlogin-content">
                    <div class="userlogin-content__arrows">
                        <i class="fa fa-angle-left fadeInRight a-7ms"
                            ng-click="togglePagesArrow('left')"
                            ng-class="{'disabled':properties.isHome}"
                            ng-disabled="properties.isHome">
                        </i>
                        <!-- <i class="fa fa-angle-right fadeInLeft a-7ms"
                            ng-click="togglePagesArrow('right')"
                            ng-class="{'disabled':properties.isAppointments}"
                            ng-disabled="properties.isAppointments">
                        </i> -->
                        <i class="fa fa-angle-right" ng-if="properties.isHome && !properties.isVehicles"
                            ng-click="togglePagesArrow('right')"
                            ng-class="{'disabled':properties.isAppointments}"
                            ng-disabled="properties.isAppointments">
                        </i>
                        <i class="fa fa-angle-right" ng-if="!properties.isHome && properties.isVehicles"
                            ng-class="{'disabled':properties.isVehicles}"
                            ng-disabled="properties.isVehicles">
                        </i>
                    </div>
                   
                </div>
            </div>
        </div>
    </article>
</section>