<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Modifica Dispositivo</title>
</head>
<body>

	<section class="content-header">
		<h1>{{'DISPOSITIVOS.Modificacion.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>

	<section class="content">
		<form role="form" name="altaDispositivo" novalidate>
			<div class="row centerRow">

				<div class="col-md-11">
					<div class="box box-danger">

						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'DISPOSITIVOS.Modificacion.nombreBox.tituloBox'
								| translate}}</h3>
						</div>

						<br />

						<div class="box-body">

							<div class="row">

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.nombreDispositivo.$invalid && altaDispositivo.nombreDispositivo.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.nuevoDispositivo.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input type="text" class="form-control"
												name="nombreDispositivo" ng-required="true"
												ng-model="tipoDispositivoVO.nombre" maxlength="50" />
										</div>
										<div
											ng-show="altaDispositivo.nombreDispositivo.$error.required && altaDispositivo.nombreDispositivo.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.nuevoDispositivo.validacion'
											|translate}}</div>

									</div>
								</div>


								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.ip.label' |
											translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input type="text" class="form-control" name="ipDisp"
												ng-required="true" ng-model="tipoDispositivoVO.nuIp"
												maxlength="15" />
										</div>
										<div
											ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion'
											| translate}}</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input type="text" class="form-control" name="txDesc"
												ng-required="true"
												ng-model="tipoDispositivoVO.txDispositivo" maxlength="250" />
										</div>
										<div
											ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion'
											| translate}}</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
										<label>{{'DISPOSITIVOS.Nuevo.nombreBox.celEmp.label' |
											translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-mobile"></i>
											</div>
											<input type="text" class="form-control" name="nuCelEmpDisp"
												ng-required="false"
												ng-model="tipoDispositivoVO.nuCelularEmpresa" maxlength="10"
												onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
										</div>
										<div
											ng-show="altaDispositivo.nuCelEmpDisp.$error.required && altaDispositivo.nuCelEmpDisp.$dirty"
											ng-style="{color:'black'}">{{'DISPOSITIVOS.Nuevo.nombreBox.celEmp.validacion'
											| translate}}</div>
									</div>
								</div>


							</div>


							<div class="row">


								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.tipDisp.$invalid && altaDispositivo.tipDisp.$dirty) }"">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>

											<select
												select2  
												class="form-control" id="tipDisp" name="tipDisp"												
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-options="tipDis.nombre for tipDis in listaTipoDisp"
												ng-model="tipoDispositivoVO.tipo"												
												ng-change="obtenerSubtipo()">			
												<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>									
											</select>

										</div>
										<div
											ng-show="altaDispositivo.tipDisp.$error.required && altaDispositivo.tipDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.validacion'
											| translate}}</div>
									</div>
								</div>


								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
										<label>*{{
											'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.label'
											|translate }}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>
											<select
												select2
												class="form-control" id="subtipo"
												ng-disabled="subtipo" name="subTipoDisp"												
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-model="tipoDispositivoVO.tipoSubtipo"
												ng-options="subTipo.nombre for subTipo in listaSubTipo"
												ng-change="obtenerMarca()">
												<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>
											</select>
										</div>
										<div
											ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
											| translate}}</div>
									</div>
								</div>


								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.marcasDisp.$invalid && altaDispositivo.marcasDisp.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.tipoMarcas.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>
											<select class="form-control" id="marca666"
												 select2
												ng-disabled="marca" name="marcasDisp"												
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-model="tipoDispositivoVO.marca"
												ng-options="marcFil.nombre for marcFil in marcasFiltradas"
												ng-change="obtenerModelos()">
												<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>
											</select>
										</div>
										<div
											ng-show="altaDispositivo.marcasDisp.$error.required && altaDispositivo.marcasDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoMarcas.validacion'
											| translate}}</div>
									</div>
								</div>



								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.model333.$invalid && altaDispositivo.model333.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.tipoModelos.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>
											<select class="form-control" id="model333" name="model333"
												select2
												ng-disabled="modelo"												
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-model="tipoDispositivoVO.tipModelo"
												ng-options="modeFil.nombre for modeFil in modelosFiltrados">
												<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>					
											</select>
										</div>
										<div
											ng-show="altaDispositivo.model333.$error.required && altaDispositivo.model333.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoModelos.validacion'
											| translate}}</div>

									</div>
								</div>

							</div>



							<div class="row">

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.imeiDisp.$invalid && altaDispositivo.imeiDisp.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.imei.label' |
											translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input type="text" class="form-control" name="imeiDisp"
												ng-required="true" ng-model="tipoDispositivoVO.imei"
												maxlength="16"
												onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
										</div>
										<div
											ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion'
											| translate}}</div>
									</div>
								</div>


								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-info': (altaDispositivo.nuCelPerDisp.$invalid && altaDispositivo.nuCelPerDisp.$dirty) }">
										<label>{{'DISPOSITIVOS.Nuevo.nombreBox.celPers.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-mobile"></i>
											</div>
											<input type="text" class="form-control" name="nuCelPerDisp"
												ng-required="false"
												ng-model="tipoDispositivoVO.nuCelularPersonal"
												maxlength="10"
												onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
										</div>
										<div
											ng-show="altaDispositivo.nuCelPerDisp.$error.required && altaDispositivo.nuCelPerDisp.$dirty"
											ng-style="{color:'black'}">{{'DISPOSITIVOS.Nuevo.nombreBox.celPers.validacion'
											| translate}}</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.serieDisp.$invalid && altaDispositivo.serieDisp.$dirty) }">
										<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.numeroSerie.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input type="text" class="form-control" name="serieDisp"
												ng-required="true" ng-model="tipoDispositivoVO.serie"
												maxlength="20"
												onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
										</div>
										<div
											ng-show="altaDispositivo.serieDisp.$error.required && altaDispositivo.serieDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.numeroSerie.validacion'
											| translate}}</div>
									</div>
								</div>

								<div class="col-sm-3">
									<div class="form-group"
										ng-class="{'has-error': (altaDispositivo.empleadoDisp.$invalid && altaDispositivo.empleadoDisp.$dirty) }">
										<label>{{'DISPOSITIVOS.Nuevo.nombreBox.usuario.label'
											| translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-user"></i>
											</div>
											<input type="text" class="form-control" name="empleadoDisp"
												ng-required="false" ng-change="cambiaUsuario()"
												ng-disabled="true" ng-model="tipoDispositivoVO.empleado"
												maxlength="50" /> 
												
											<span class="input-group-btn">
												<button class="btn btn-danger "												  
													ng-click="showModal = true; ">
													{{'APP.Base.boton.buscar' | translate}}
												</button>													
												<button class="btn btn-danger " ng-click="removerUsuario()" 
													ng-show="showCloseEmpleado">
													<i class="fa fa-times"></i>
												</button>
											</span>
											
										</div>
										<div
											ng-if="altaDispositivo.empleadoDisp.$error.required && altaDispositivo.empleadoDisp.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.usuario.validacion'
											| translate}}</div>
										<!-- 										<div -->
										<!-- 											ng-if="!usuarioValida && altaDispositivo.empleadoDisp.$valid" -->
										<!-- 											ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.usuario.validar' | translate}}</div> -->
										<div
											ng-if="usuarioValida && altaDispositivo.empleadoDisp.$valid">
											{{'DISPOSITIVOS.Nuevo.nombreBox.usuario.validado' |
											translate}}</div>
									</div>
								</div>
							</div>

							<br />

							<div class="row">
								<div class="col-lg-6" style="text-align: right;">									
									<button class="btn btn-danger" type="button" onclick="window.saveBack=true;window.location='#/consultaDispositivo'">
										{{'APP.Base.boton.regresar' | translate}}
									</button>									
								</div>
								<div class="col-lg-6 style="text-align: left;">
									<button class="btn btn-danger" id="btnGuardarDatos"
										type="button" ng-click="newDispositivo(tipoDispositivoVO)">{{'APP.Base.boton.guardar'
										| translate}}</button>
								</div>
							</div>

							<br />
							
						</div>
					</div>
				</div>

			</div>
		</form>

		<form name="formTemplateModal" novalidate>
			<modal visible="showModal" size-modal="md" noescape modalstatic>
			<modal-header
				title="{{ 'DISPOSITIVOS.Nuevo.nombreBox.modal.title' |translate }}">
			<!-- 			<div class="row col-md-8 col-md-offset-2" ng-if="true"> --> <!-- 				<div class="alert alert-teclo alert-dismissable center"> -->
			<!-- 					<strong>Sin Resultados</strong> --> <!-- 				</div> --> <!-- 			</div> -->
			</modal-header> <modal-body>
			<div class="row">

				<div class="col-sm-6">
					<div class="form-group"
						ng-class="{'has-error': (formTemplateModal.busquedaTipo.$invalid && formTemplateModal.busquedaTipo.$dirty) }">
						<label>*{{
							'DISPOSITIVOS.Nuevo.nombreBox.busquedaTipo.label' |translate }}</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-window-restore"></i>
							</div>
							<select class="form-control" name="busquedaTipo"
								data-minimum-results-for-search="Infinity"  select2
								idioma-s2="{{currentLanguage}}" ng-required="true"
								ng-model="templateModalVO.busquedaTipo" id="busquedaTipo"
								ng-options="swos as swos.nbOpcion for swos in selectList track by swos.idOpcion">

								<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.busquedaTipo.seleccionar'
									| translate}}</option>
							</select>
						</div>
						<div
							ng-show="formTemplateModal.busquedaTipo.$error.required && formTemplateModal.busquedaTipo.$dirty"
							ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.busquedaTipo.validacion'
							| translate}}</div>
					</div>
				</div>


				<div class="col-md-6">
					<div class="form-group"
						ng-class="{'has-error': (formTemplateModal.txtBusqueda.$invalid && formTemplateModal.txtBusqueda.$dirty) }">
						<label>*{{
							'DISPOSITIVOS.Nuevo.nombreBox.txtBusqueda.label' |translate }}</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-pencil"></i>
							</div>

							<input type="text" class="form-control" name="txtBusqueda"
								ng-required="true" ng-model="templateModalVO.txtBusqueda" />
									<span class="input-group-btn">
										<button class="btn btn-danger fullWidth" ng-click="buscar()">
											{{'APP.Base.boton.buscar' | translate}}
										</button>												
									</span>			
						</div>

						<div
							ng-show="formTemplateModal.txtBusqueda.$error.required && formTemplateModal.txtBusqueda.$dirty">
							<span ng-style="{color:'red'}">
								{{'DISPOSITIVOS.Nuevo.nombreBox.txtBusqueda.validacion' |
								translate}} </span>
						</div>
					</div>
				</div>

				

			</div>
			<div class="row" ng-show="selectListEmpleados.length > 0">

				<div class="col-sm-12">
					<div class="form-group"
						ng-class="{'has-error': (formTemplateModal.empleadoSeleccionado.$invalid && formTemplateModal.empleadoSeleccionado.$dirty) }">
						<label>*{{ 'APP.Base.mensaje.seleccioneOpcion' |translate
							}}</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-window-restore"></i>
							</div>
							<select class="form-control" name="empleadoSeleccionado"
								 select2
								idioma-s2="{{currentLanguage}}" ng-required="false"
								ng-model="templateModalVO.empleadoSeleccionado"
								id="empleadoSeleccionado"
								ng-options="swos as swos.nbEmpleado + ' ' + swos.nbPaterno + ' ' + swos.nbMaterno for swos in selectListEmpleados track by swos.idEmpleado">

								<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.busquedaTipo.seleccionar'
									| translate}}</option>
							</select>
						</div>
						<div
							ng-show="formTemplateModal.empleadoSeleccionado.$error.required && formTemplateModal.empleadoSeleccionado.$dirty"
							ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.busquedaTipo.validacion'
							| translate}}</div>
					</div>
				</div>

			</div>
			</modal-body> <modal-footer btn-close="{{'APP.Base.boton.cancelar' | translate}}">
			<button class="btn btn-danger" ng-click="saveModalInculde()">{{'APP.Base.boton.aceptar'
				| translate}}</button>
			</modal-footer> </modal>
		</form>


	</section>

</body>
</html>