<html>
<head>
<meta charset="utf-8">
<title>Consulta Dispositivo</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'DISPOSITIVOS.Consulta.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a><i class="{{breadCrumbs.icono}}"></i>{{ breadCrumbs.modulo }}</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>

	

	<section class="content">
		<form role="form" name="formBusquedaDispositivo">
			<div class="row">
				<div ng-class="listaBusqueda.valor.id === 4 ? 'col-md-1' : 'col-md-3'"></div>
				<div ng-class="listaBusqueda.valor.id === 4 ? 'col-md-10' : 'col-md-6'">

					
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'DISPOSITIVOS.Consulta.nombreBox.tituloBox' | translate}}</h3>
						</div>
	
						<div class="box-body">
							<div class="row">							

								<div ng-class="listaBusqueda.valor.id === 4 ? 'col-md-4' : 'col-md-6'" id="tippBusqueda">
									<div class="form-group">
										<label>{{'APP.Base.boxBusqueda.tipoBusqueda.label' | translate}}</label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-list"></i></span>
											<select class="form-control" name="tipoBusqueda" id="tipoBusqueda"
												data-minimum-results-for-search="Infinity" select2												
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-options="filtro as filtro.nombre for filtro in listaBusqueda.lista"
												ng-model="listaBusqueda.valor"
												ng-change="changeBusqueda()">
											</select>
										</div>
									</div>
								</div>
								
								<div ng-class="listaBusqueda.valor.id === 4 ? 'col-md-4' : 'col-md-6'">
								
									<label ng-show="listaBusqueda.valor.id != 5">{{'APP.Base.boxBusqueda.valorBusqueda.label' | translate}}</label>
									
									<div class="form-group" 
										ng-class="{'has-error': formBusquedaDispositivo.inputBusquedaDispo.$invalid && formBusquedaDispositivo.inputBusquedaDispo.$dirty}"
										ng-show="listaBusqueda.valor.id == 1 || listaBusqueda.valor.id == 2">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</span>
												<input type="text" ng-model="parametroBusqueda.valor" id="inputBusquedaDispo" name="inputBusquedaDispo" ng-required="true"
												class="form-control " ng-enter="consultar(listaBusqueda.valor, parametroBusqueda.valor)">
											</input> 
											<span class="input-group-btn"></span>
										</div>
										<div
											ng-show="formBusquedaDispositivo.inputBusquedaDispo.$invalid && formBusquedaDispositivo.inputBusquedaDispo.$dirty"
											ng-style="{color:'red'}">{{'DISPOSITIVOS.Consulta.nombreBox.validacion' | translate}}</div>
									</div>
									
									<div class="form-group" ng-show="listaBusqueda.valor.id == 3 || listaBusqueda.valor.id == 4">
										<div class="input-group">
												<span class="input-group-addon">
												{{'DISPOSITIVOS.Nuevo.nombreBox.Marca.label' | translate}}	
												</span>
												<select 
													select2 id="smarca" 
													idioma-s2="{{currentLanguage}}"
													class="form-control"													 
													ng-model="myMarca" ng-options="m.nombre for m in marca"
													ng-change="loadModelo()">
												</select>
										</div>
									</div>
									
								</div>
								
								<div class="col-md-4" ng-show="listaBusqueda.valor.id == 4">									
									<div class="form-group" style="margin-top: 22px;">
											<div class="input-group">
													<span class="input-group-addon">
													{{'DISPOSITIVOS.Nuevo.nombreBox.Modelo.label' | translate}}
													</span>
													<select
														select2 id="smodelo" 
														idioma-s2="{{currentLanguage}}" 
														class="form-control"													  
														ng-model="myModelo" ng-options="m.nombre for m in modelo">
													</select>												
											</div>
									</div>
								</div>
								
							</div>
							
							<div class="row text-center">
							<br/>
								<button type="button" ng-click="consultar(listaBusqueda.valor, parametroBusqueda.valor)"class="btn btn-danger btn-flat">{{'APP.Base.boton.buscar' | translate}}</button>
							<br/>
							<br/>
							</div>

						</div>
					</div>

				</div>
				<div ng-class="listaBusqueda.valor.id === 4 ? 'col-md-1' : 'col-md-3'"></div>
			</div>

			<div class="row"  ng-if="dispositivos.length>0">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-md-12">
								<h3 class="box-title">{{ 'DISPOSITIVOS.Consulta.nombreBox.tituloBoxTwo' | translate}}: {{(dispositivos | filter : view.searchSomething).length}}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10">
				      			<div class="input-group">
				        			<input id="searchsomething" type="text" class="form-control pull-right" placeholder="Buscar por filtro" ng-model="view.searchSomething">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
				     			</div>
				     		</div>
						</div>
						<div class="box-body table-responsive">
							<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.nombre.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.imei.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.ip.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.celular.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.email.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.marca.label' | translate}}</th>
										<th class="center">{{ 'DISPOSITIVOS.Consulta.resultado.modelo.label' | translate}}</th>
										<th ng-show="webComponentes.activarDispositivo.show" class="center">{{ 'DISPOSITIVOS.Consulta.resultado.activar.label' | translate}}</th>										
										<th ng-show="webComponentes.eliminarDispositivo.show || webComponentes.editarDispositivo.show" class="center">{{ 'DISPOSITIVOS.Consulta.resultado.accion.label' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="dispositivo in dispositivos | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">

										<td class="center">{{dispositivo.nombre}}</td>										
										<td class="center">{{dispositivo.imei}}</td>
										<td class="center">{{dispositivo.ip}}</td>
										<td class="center">{{dispositivo.celular}}</td>
										<td class="center">{{dispositivo.email.split("@")[0]}}<br/>{{dispositivo.email ? '@' : ''}}{{dispositivo.email.split("@")[1]}}</td>
										<td class="center">{{dispositivo.marca}}</td>
										<td class="center">{{dispositivo.modelo}}</td>
										<td class="center" ng-show="webComponentes.activarDispositivo.show">		
											<switcher
												ng-disabled="webComponentes.activarDispositivo.disabled" 
												class="swTeclo"
												ng-model="dispositivo.active"
												ng-change="activarDesactivarDispositivo(dispositivo)"
												true-label="<i class='fa fa-check-circle'></i>"
												true-value="1"
												false-label="<i class='fa fa-times-circle'></i>"
												false-value="0">
											</switcher>
										</td>
										<td class="accion-item center"  ng-show="webComponentes.eliminarDispositivo.show || webComponentes.editarDispositivo.show" >
											<a ng-show="webComponentes.editarDispositivo.show" href="#/actualizaDispositivo/{{dispositivo.id}}"  class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="left" title="Modificar"></a>
											<a ng-show="webComponentes.eliminarDispositivo.show" href="#" ng-click="eliminar(dispositivo.id,$event)" class="fa fa-times fa-2x" data-toggle="tooltip" data-placement="left" title="Eliminar"></a>											
										</td>
									</tr>
									<tr ng-if="(dispositivos | filter:view.searchSomething).length < 1"><td colspan="9" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="dispositivos"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
<body>
</html>