<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Alta de Geocerca</title>
<style>
.ol-zoom {
	left: unset !important;
	right: .5em !important;
	top: unset !important;
	bottom: 2em !important;
}

#map-canvas {
	overflow: hidden;
	height: 70vh;
	width: 100%;
}

.col-md-9 {
	overflow: hidden;
}

.mapMarker {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #9b0a00
}

.ghostMarker {
	width: 14px;
	height: 14px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: rgba(155, 10, 0, 0.3);
}

#listaDispositivos {
	width: 100%;
	max-width: 600px;
}

#listaPuntos {
	width: 100%;
	max-width: 250px;
}

.color {
	width: 33px;
	height: 32px;
}

.pickRed {
	background-color: #F44336;
}

.pickGreen {
	background-color: #4CAF50;
}

.pickBlue {
	background-color: #2196F3;
}

.pickYellow {
	background-color: #FFEB3B;
}

.pickCyan {
	background-color: #00BCD4;
}

.pickPink {
	background-color: #E91E63;
}

.pickGrey {
	background-color: #9E9E9E;
}

.map:-moz-full-screen {
	height: 100% !important;
}
.map:-webkit-full-screen {
	height: 100% !important;
}
.map:-ms-fullscreen {
	height: 100% !important;
}
.map:fullscreen {
	height: 100% !important;
}

.addressMap{
	position:relative;
	overflow:hidden;
}

.addressSearch{
	background-color:#FFF;
	position:absolute;
	padding: 1rem;
	top:0;
	right:1.071rem;
	width:50rem;
	z-index:1;
}

</style>
</head>
<body>
	<section class="content-header">
		<h1>{{translate.pagina}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
			<div class="row">
				<!-- div class="col-md-3"></div-->
				<div class="col-md-12 ">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'GEOCERCAS.Alta.nombreBox.tituloBox' | translate}}</h3>
							<div class="pull-right" style="cursor:pointer;" ng-click="toggleDireccion = !toggleDireccion">
								<i class="fa fa-search"></i>
							</div>
						</div>
						<div class="box-body">
							<div class="form-group">
								<div class="row">
									<div class="col-md-3">
										<form role="form" name="formAltaGeocerca" ng-submit="guardaGeocerca()" novalidate>
											<div class="form-group"
												ng-class="{'has-error': formAltaGeocerca.inputNombreGeocerca.$error.required && formAltaGeocerca.inputNombreGeocerca.$dirty}">
												<label for="inputNombreGeocerca">*{{'GEOCERCAS.Alta.nombreGeocerca.label' | translate}}:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-pencil"></i>
													</div>
													<input class="form-control" id="inputNombreGeocerca" maxlength="50"
														name="inputNombreGeocerca" ng-model="altaGeocercaVO.nombre" ng-required="true" />
												</div>
												<div
													ng-show="formAltaGeocerca.inputNombreGeocerca.$error.required && formAltaGeocerca.inputNombreGeocerca.$dirty"
													ng-style="{color:'red'}">{{'GEOCERCAS.Alta.nombreGeocerca.validacion' | translate}}</div>
											</div>
											<div class="form-group"
												ng-class="{'has-error': formAltaGeocerca.comboTipoGeocerca.$error.required && formAltaGeocerca.comboTipoGeocerca.$dirty}">
												<label for="comboTipoGeocerca">*{{'GEOCERCAS.Alta.tipoGeocerca.label' | translate}}:</label>
												<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-list"></i>
													</div>
													<select class="form-control" id="comboTipoGeocerca" name="comboTipoGeocerca"
														data-minimum-results-for-search="Infinity" select2
														idioma-s2="{{currentLanguage}}" ng-required="true"
														ng-change="cambiaTipoGeocerca(tipoGeocerca.valor)"
														ng-options="listaFiltro.nombre for listaFiltro in tipoGeocerca.lista"
														ng-model="tipoGeocerca.valor">
													</select>
												</div>
											</div>
											<div class="form-group">
												<label for="inputNombreGeocerca">{{'GEOCERCAS.Alta.colorGeocerca.label' | translate}}:</label>
												<button type="button" class="btn btn-danger fullWidth" color-picker color-picker-model="customColor" color-picker-show-value="false" color-picker-output-format="hex" ng-style="{'background-color':customColor,'border-color':customColor}">
												&nbsp;
												</button>
											</div>
											<div class="form-group"
												ng-class="{'has-error': formAltaGeocerca.textAreaDescripcionGeocerca.$error.required && formAltaGeocerca.textAreaDescripcionGeocerca.$dirty}">
												<label for="textAreaDescripcionGeocerca">*{{'GEOCERCAS.Alta.descripcionGeocerca.label' | translate}}:</label>
												<textarea rows="" cols="" maxlength="250" class="form-control" ng-model="altaGeocercaVO.descripcion" id="textAreaDescripcionGeocerca" name="textAreaDescripcionGeocerca"
													style="overflow: auto; resize: none" ng-required="true">
											</textarea>
											<div ng-show="formAltaGeocerca.textAreaDescripcionGeocerca.$error.required && formAltaGeocerca.textAreaDescripcionGeocerca.$dirty"
													ng-style="{color:'red'}">{{'GEOCERCAS.Alta.descripcionGeocerca.validacion' | translate}}</div>
											</div>
											<label>{{'GEOCERCAS.Alta.asignacion.label' | translate}}</label>
											<div class="form-group center">
												<switcher class="swTeclo center" id-check="stMenuFijo"
													ng-model="toggleDispositivos" ng-change=""
													true-label="{{'GEOCERCAS.Alta.asignacion.labelGrup' | translate}}" true-value="1"
													false-label="{{'GEOCERCAS.Alta.asignacion.labelDisp' | translate}}" false-value="0">
												</switcher>
											</div>
											<div class="form-group">

											</div>
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
													<div ng-if="!toggleDispositivos" class="center" ng-click="abrirModalDispositivo()" tooltip="{{'GEOCERCAS.Alta.asignacion.botonDisp' | translate}}">
														<!--img src="./static/dist/img/device32.png" /-->
														<i class='fa fa-user fa-2x' style="cursor: pointer"></i>
													</div>
													<div ng-if="toggleDispositivos" class="center" ng-click="abrirModalDispositivo()" tooltip="{{'GEOCERCAS.Alta.asignacion.botonGrup' | translate}}">
														<!--img src="./static/dist/img/device32.png" /-->
														<i class='fa fa-users fa-2x' style="cursor: pointer"></i>
													</div>
														<!-- button class="btn btn-danger "
															ng-click="abrirModalDispositivo()">
															{{toggleDispositivos ? 'GEOCERCAS.Alta.asignacion.botonGrup':'GEOCERCAS.Alta.asignacion.botonDisp' | translate}}</button-->
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
													<div class="center" ng-click="abrirModalPuntos()" tooltip="{{'GEOCERCAS.Alta.puntos.label' | translate}}">
														<img src="./static/dist/img/marker32.png" style="cursor: pointer"/>
													</div>
													<!-- button class="btn btn-danger "
														ng-click="showModalPuntos = true">{{'GEOCERCAS.Alta.puntos.label' | translate}}</button-->
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
													<div class="center" ng-click="showOpcionesNotificacion = true" tooltip="{{'GEOCERCAS.Alta.asignacion.avanzado' | translate}}">
														<img src="./static/dist/img/cog32.png" style="cursor: pointer"/>
													</div>
													<!-- button class="btn btn-danger "
														ng-click="showModalPuntos = true">{{'GEOCERCAS.Alta.puntos.label' | translate}}</button-->
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6" ng-if="isConsulta">
													<div class="form-group">
														<button type="button" class="btn btn-danger fullWidth" ng-click="regresar()">{{'APP.Base.boton.regresar' | translate}}</button>
													</div>
												</div>
												<div ng-class="{'col-md-12': !isConsulta, 'col-md-6': isConsulta}">
													<div class="form-group">
														<button type="submit" ng-class="{'center-block': !isConsulta,'fullWidth': isConsulta}" class="btn btn-danger">{{'APP.Base.boton.guardar' | translate}}</button>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="col-md-9 addressMap">
										<div ng-show="toggleDireccion" class="addressSearch">
											<form role="form" name="formBuscaDireccion" ng-submit="buscaDireccion(googleVO.busqueda)" novalidate>
												<div class="form-group">
													<label>Dirección:</label>
													<div class="input-group" style="position:relative;">
														<img ng-if="isSearching" style="position:absolute; left:5px;top:3px;z-index:3;width:2rem;height:2rem" src="./static/dist/img/giphy.gif" />
														<input ng-disabled="inputs.busquedaDireccion" class="form-control" id="inputDireccionUbicacion" name="inputDireccionUbicacion" ng-model="googleVO.busqueda" />
														<span class="input-group-btn">
															<button ng-disabled="inputs.botonBusquedaDireccion" type="submit" class="btn btn-danger">{{'APP.Base.boton.buscar' | translate}}</button>
														</span>
													</div>
												</div>
											</form>
										</div>
										
										<map-for-device id="map-canvas" 
														enableCreate="true"
														allowedit="canEdit"
														color="customColor" 
														enableRealTime="false"
														allowDraggable="true"
														type="tipoGeocerca.valor.id"
														getwkt="obtenerWKT"
														focusoncoord="focusOnMap"
														model="geocercaVO"></map-for-device>
									</div>
								</div>
							</div>
						</div>
						<modal visible="showModalAsignacion" size-modal="lg" noescape
								modalstatic> <modal-header title="{{translate.titulo}}"></modal-header>
							<modal-body>
								<div class="form-group" ng-if="toggleDispositivos" ng-class="{'has-error': formAltaGeocerca.comboBusquedaFiltroGrupos.$error.required && formAltaGeocerca.comboBusquedaFiltroGrupos.$dirty}">
									<label for="comboBusquedaFiltroGrupos">{{'GEOCERCAS.Alta.asignacion.labelGrup' | translate}}:</label>
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
										<select class="form-control" id="comboBusquedaFiltroGrupos" select2
											data-minimum-results-for-search="Infinity" ng-required = "toggleDispositivos"
											name="comboBusquedaFiltroGrupos" idioma-s2="{{currentLanguage}}"
											ng-change="buscarDispositivoEnGrupo(listaGrupos.valor.id)"
											ng-options="grupos.nombre for grupos in listaGrupos.lista"
											ng-model="listaGrupos.valor">
											<option value="" selected="selected">{{'MONITOREO.tiempoReal.nombreBox.filtracion.seleccionar' | translate}}</option>
											</select>
										</select>
									</div>
									<div ng-show="formAltaGeocerca.comboBusquedaFiltroGrupos.$error.required && formAltaGeocerca.comboBusquedaFiltroGrupos.$dirty"
										ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionGrupo' | translate}}</div>
								</div>
								<dnd-lists col="col-md-5" max-height="25vh"
									model="listaDispositivos.list" nb-list="titulo" nb-item="items"
									nb-texts="Identificador:, N° Serial:, Nombre:" nb-labels="idItem, srItem, txtItem"
									locker="bandera.trigger" model-aux="" required-list="false"> </dnd-lists>
							</modal-body> <modal-footer btn-close="Cerrar"> </modal-footer> </modal>
							<modal visible="showModalPuntos" size-modal="md" noescape
								modalstatic> <modal-header title="{{translate.punto}}"></modal-header>
							<modal-body> 
								<div class="row" ng-if="listaPuntos.list.length > 0 ">
									<div class="col-xs-12">
										<div class="box box-danger">
											<div class="box-header row">
												<div class="col-md-6 col-xs-12">
													<h3 class="box-title">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.titleBox' | translate}}: {{ (listaPuntos.list | filter : view.searchSomething).length }}</h3>
												</div>
												<div class="col-md-6 col-xs-10">
													<div class="input-group pull-right">
														<input type="text" id="searchsomething" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
														<div class="input-group-addon"><i class="fa fa-search"></i></div>
													</div>
												</div> 
											</div>
											<div class="box-body table-responsive">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">Latitud</th>
															<th align="center">Longitud</th>
															<th ng-if="tipoGeocerca.valor.id == 1" align="center">Distancia</th>
														</tr>
													</thead>
												<tbody>
													<tr dir-paginate="pts in listaPuntos.list | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
														<td class="center">{{pts.lat}}</td>
														<td class="center">{{pts.lng}}</td>
														<td ng-if="tipoGeocerca.valor.id == 1" class="center">{{pts.dist ? pts.dist : 0}}</td>
													</tr>
													<tr ng-if="(listaPuntos.list | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
												</tbody>
											</table>
										</div>
										<div class="container-fluid">
											<div class="fixed-table-pagination" style="display:block;">
												<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="listaPuntos.list"></rows-per-page>
												<div class="pull-right pagination">
													<dir-pagination-controls class="pagination"></dir-pagination-controls>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-if="listaPuntos.list.length < 1 ">
								<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
									<tbody>
										<tr><td colspan="10" class="text-center"><h4>Vacio</h4></td></tr>
									</tbody>
								</table>
							</div>
						</modal-body> <modal-footer btn-close="Cerrar"></modal-footer> </modal>
						<modal visible="showOpcionesNotificacion" size-modal="lg" noescape
								modalstatic> <modal-header title="{{'GEOCERCAS.Alta.asignacion.titleAvanzado' | translate}}"></modal-header>
							<modal-body>
								<div class="row">
									<div class="col-md-8">
										<label for="comboBusquedaFiltroGrupos">{{'GEOCERCAS.Alta.asignacion.labelOpciones' | translate}}:</label>
										<div style="overflow:auto; height:200px">
											<div class="form-group" ng-repeat=" var in listaOpcioNoti">
												<div class="input-group mb-3">
													<div class="input-group-addon">
														<div class="input-group-text">
															<input type="checkbox" ng-checked="var.valor" ng-model="var.valor">
														</div>
													</div>
													<input type="text" name="" class="form-control" ng-model="var.nombre" readonly>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3 col-md-offset-1">
										<div class="form-group">	
											<label for="comboTipoEnvio">*{{'GEOCERCAS.Alta.asignacion.labelNotifica' | translate}}:</label>						
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-list"></i>
												</div>
												<select class="form-control" id="comboTipoEnvio" name="comboTipoEnvio"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true" 
													ng-options="listaFiltro.nombre for listaFiltro in listaTipoEnvio.lista" ng-model="listaTipoEnvio.valor">
												</select>
											</div>
										</div>
									</div>
								</div>
							</modal-body> <modal-footer btn-close="Cerrar"> </modal-footer>
						</modal>
					</div>
				</div>
			</div>
	</section>
</body>
</html>