<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Modifica Geocerca</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'GEOCERCAS.Consulta.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">{{'GEOCERCAS.Consulta.nombreBox.label' | translate}}</h3>
					</div>
					<div class="box-body">
						<form role="form" name="formModificaGeocerca" ng-submit="consultar(busquedaVO.tipoBusca.id, busquedaVO.busca)" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="comboBusquedaGeocerca">*{{'GEOCERCAS.Consulta.busquedaGeocerca.comboBusqueda.labelTipo' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboBusquedaGeocerca" name="comboBusquedaGeocerca"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true"
													ng-change="modoBusqueda()"
													ng-options="listaFiltro.nombre for listaFiltro in listaCatalogo.lista"
													ng-model="busquedaVO.tipoBusca">
													<!-- option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.filtrado.seleccionar' | translate}}</option-->
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div ng-if="!toggleTipo" class="form-group" ng-class="{'has-error': formModificaGeocerca.inputBusquedaGeocerca.$error.required && formModificaGeocerca.inputBusquedaGeocerca.$dirty}">
										<label for="inputBusquedaGeocerca">*{{'GEOCERCAS.Consulta.busquedaGeocerca.comboBusqueda.labelValor' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input class="form-control" id="inputBusquedaGeocerca" name="inputBusquedaGeocerca" ng-required="!toggleTipo"  ng-model="busquedaVO.busca" />
											<span class="input-group-btn">
												<button type="submit" class="btn btn-danger btn-flat" >{{ 'APP.Base.boton.buscar' |translate}}</button>
											</span>
										</div>
										<div ng-show="formModificaGeocerca.inputBusquedaGeocerca.$error.required && formModificaGeocerca.inputBusquedaGeocerca.$dirty"
												 ng-style="{color:'red'}">{{'GEOCERCAS.Consulta.busquedaGeocerca.comboBusqueda.validacion' | translate}}</div>
									</div>
									<div  ng-if="toggleTipo" class="form-group">
										<label for="comboTipoBusquedaGeocerca">*{{'GEOCERCAS.Consulta.busquedaGeocerca.comboBusqueda.labelValor' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboTipoBusquedaGeocerca" name="comboTipoBusquedaGeocerca"select2
													idioma-s2="{{currentLanguage}}"
													ng-change="consultar(busquedaVO.tipoBusca.id, tipoBusqueda.valor.id)"
													ng-options="listaFiltro.nombre for listaFiltro in tipoBusqueda.lista track by listaFiltro.id"
													ng-model="tipoBusqueda.valor">
													<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.filtrado.seleccionar' | translate}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="geocercas.length >0">
			<div class="col-xs-12">
				<div class="box box-danger">
					<div class="box-header row">
						<div class="col-md-6 col-xs-12">
							<h3 class="box-title">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.titleBox' | translate}}: {{ (geocercas | filter : view.searchSomething).length }}</h3>
						</div>
						<div class="col-md-offset-3 col-md-3 col-xs-10">
			      			<div class="input-group pull-right">
			        			<input type="text" id="searchsomething" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
			     			</div>
			     		</div> 
					</div>
					<div class="box-body table-responsive">
						<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th align="center" sort order="'nombre'" by="order" reverse="reverse">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.nombre.label' | translate}}</th>
									<th align="center" sort order="'tipo'" by="order" reverse="reverse">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.tipo.label' | translate}}</th>
									<th align="center" sort order="'color'" by="order" reverse="reverse">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.color.label' | translate}}</th>
									<th align="center" sort order="'grupo'" by="order" reverse="reverse">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.grupo.label' | translate}}</th>
									<th align="center">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.activo.label' | translate}}</th>
									<th align="center">{{ 'GEOCERCAS.Consulta.resultadoGeocerca.accion.label' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="geo in geocercas | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage" pagination-id="tablaGeocerca">
									<td class="center"><a ng-click="abrirModalDetalle(geo.id)">{{geo.nombre}}</a></td>
									<td class="center">{{ geo.tipo }}</td>
									<td class="center wrap-text"><span class="label" style="background-color:{{geo.color}}">&nbsp;</span></td>
									<td class="center wrap-text">{{geo.grupo ? "Si": "No"}}</td>
									<td class="center">
										<switcher class="swTeclo" id-check="stMenuFijo"
											ng-model="geo.activo"
											ng-change="cambiarEstadoGeocerca(geo)" true-label="Si"
											true-value="1" false-label="No" false-value="0">
										</switcher>
									</td>
									<td class="center">
										<a href="#/modificaAreaGeocerca/{{geo.id}}"  class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="left" title="Modificar"></a>
										<a ng-click="confirmaElimPerma(geo)"  class="fa fa-remove fa-2x" data-toggle="tooltip" data-placement="left" title="Eliminar"></a>
									</td>
								</tr>
								<tr ng-if="(infracciones | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
							</tbody>
						</table>
					</div>
					<div class="container-fluid">
						<div class="fixed-table-pagination" style="display:block;">
							<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="geocercas"></rows-per-page>
							<div class="pull-right pagination">
								<dir-pagination-controls class="pagination" pagination-id="tablaGeocerca"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal visible="showModalDetalleGeocerca" size-modal="lg" noescape modalstatic>
			<modal-header title="Dispositivos asociados"></modal-header>
			<modal-body>
				<div class="box-header row">
					<div class="col-md-6 col-xs-12">
						<h3 class="box-title">{{ 'GEOCERCAS.Consulta.resultadoDetalle.tituloBox' | translate}}: {{ (detalleVO | filter : view2.searchSomething).length }}</h3>
					</div>
					<div class="col-md-offset-3 col-md-3 col-xs-10">
						<div class="input-group pull-right">
							<input type="text" id="searchdetailsomething" class="form-control" placeholder="Buscar por filtro" ng-model="detalleView.searchSomething">
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
						</div>
					</div> 
				</div>
				<div class="box-body table-responsive">
					<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
						<thead>
							<tr>
								<th align="center">{{ 'GEOCERCAS.Consulta.resultadoDetalle.dispositivos' | translate}}</th>
								<th align="center">{{ 'GEOCERCAS.Consulta.resultadoDetalle.tipo' | translate}}</th>
								<th align="center">{{ 'GEOCERCAS.Consulta.resultadoDetalle.estatus' | translate}}</th>
								<th align="center">{{ 'GEOCERCAS.Consulta.resultadoDetalle.marca' | translate}}</th>
								<th align="center">{{ 'GEOCERCAS.Consulta.resultadoDetalle.modelo' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="detalle in detalleVO | orderBy:order:reverse | filter:detalleView.searchSomething | itemsPerPage: detalleView.rowsPerPage" pagination-id="tablaDetalleGeocerca">
								<td class="center">{{ detalle.nombre}}</td>
								<td class="center">{{ detalle.tipo }}</td>
								<td class="center">{{ detalle.activo ? 'Activo':'Inactivo' }}</td>
								<td class="center">{{ detalle.marca}}</td>
								<td class="center">{{ detalle.modelo }}</td>
							</tr>
							<tr ng-if="(detalleVO | filter:detalleView.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
						</tbody>
					</table>
				</div>
				<div class="container-fluid">
					<div class="fixed-table-pagination" style="display:block;">
						<rows-per-page rows="detalleView.rowsPerPage" filtro="detalleView.searchSomething" array="detalleVO"></rows-per-page>
						<div class="pull-right pagination">
							<dir-pagination-controls class="pagination" pagination-id="tablaDetalleGeocerca"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</modal-body>
			<modal-footer btn-close="{{ 'APP.Base.boton.cerrar' | translate}}"></modal-footer>
		</modal>
	</section>
</body>
</html>