<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>

	<!-- Contenido -->
	<section class="content">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="box box-danger"  >
					<div class="box-header text-center">
						<div class="row">
							<div class="col-xs-12">
								<h3 class="box-title">
									{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.tituloBox' |
									translate}}</h3>
							</div>
						</div>
					</div>
					<form role="form" name="formChgPass">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.actPass.$invalid && formChgPass.actPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.contrasenaActual.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
											<input type="password" class="form-control" name="actPass"
												ng-model="objeto.currentPassword" ng-required="true"
												maxlength="10">
										</div>
										<div
											ng-show="formChgPass.actPass.$error.required && formChgPass.actPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.contrasenaActual.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.nwPass.$invalid && formChgPass.nwPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.nuevaContrasena.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-asterisk"></i></span> <input type="password"
												name="nwPass" class="form-control"
												ng-model="objeto.newPassword" ng-required="true"
												maxlength="10">
										</div>
										<div
											ng-show="formChgPass.nwPass.$error.required && formChgPass.nwPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.nuevaContrasena.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group"
										ng-class="{'has-error': formChgPass.repPass.$invalid && formChgPass.repPass.$dirty}">
										<label>
											*{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.repetirNuevaContrasena.label'
											| translate}} </label>
										<div class="input-group">
											<span class="input-group-addon"><i
												class="fa fa-pencil-square-o"></i></span> <input type="password"
												name="repPass" class="form-control"
												ng-model="objeto.repeatPassword" ng-required="true"
												maxlength="10">
										</div>
										<div
											ng-show="formChgPass.repPass.$error.required && formChgPass.repPass.$dirty"
											ng-style="{color:'red'}">
											<span>
												{{'ADMINISTRACION.CambiarContrasena.cambioAcceso.repetirNuevaContrasena.validacion'
												| translate}} </span>
										</div>
									</div>
								</div>
								<div class="col-md-12 text-center">
									<div class="form-group">
										<button type="button" class="btn btn-danger"
											ng-click="guardar()">{{'APP.Base.boton.guardar' |
											translate}}</button>
									</div>
								</div>
								
							</div>

							
						</div>
					</form>
				</div>
				<div class="tooltipPass">
					<span data-toggle="tooltip" data-placement="top"
						data-html="true"
						data-original-title="{{tituloSug}}
        					{{tamanio}}
        					{{mayusculas}}
        					{{minuscula}}
        					{{digitos}}
        					{{caracEpecials}}
        					{{tituloEjemplo}}
        					{{titlePassInvalid}}
        					{{pasInvalid}}
        					{{passValid}}">
						<i class="fa fa-question-circle"></i> Ayuda
					</span>
				</div>
			</div>
		</div>
	</section>
</body>
</html>