<style>
.opacity{
	opacity: .1;
}
</style>
<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li><a>
				<i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section  class="content">
		<div class="row">
			<div class="col-xs-12 col-md-4 col-md-offset-4">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">{{'ADMINISTRACION.Perfiles.tituloBox' | translate}}</h3>
					</div>
					<div class="box-body">
						<form role="form" name="formBusqPerfiles" novalidate>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="form-group" ng-class="{'has-error': formBusqPerfiles.comboTipoBusqueda.$error.required && formBusqPerfiles.comboTipoBusqueda.$dirty}">
										<label>*{{'ADMINISTRACION.Perfiles.busquedaBox.label' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-users"></i>
											</div>
											<select class="form-control" id="comboTipoBusqueda" name="comboTipoBusqueda"
												data-minimum-results-for-search="Infinity" select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-change="seleccionPerfil(tipoBusqueda.valor)"
												ng-options="listaFiltro.nbPerfil for listaFiltro in tipoBusqueda.lista"
												ng-model="tipoBusqueda.valor">
												<option value="" selected="selected">{{'ADMINISTRACION.Perfiles.busquedaBox.seleccione' | translate}}</option>
											</select>
											<span class="input-group-btn">
												<button class="btn btn-danger" ng-click="showModalNuevoPerfil(this)">
													<i class="fa fa-plus"></i>
												</button>
											</span>
										</div>
										<div ng-show="formBusqPerfiles.comboTipoBusqueda.$error.required && formBusqPerfiles.comboTipoBusqueda.$dirty"
										ng-style="{color:'red'}">{{'ADMINISTRACION.Perfiles.busquedaBox.validacion' | translate}}</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-show="bandera.isPerfilSelected">
			<div class="col-md-10 col-md-offset-1">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title pull-left">{{'ADMINISTRACION.Perfiles.menuBox.tituloBox' | translate}}</h3>
						<switcher class="swTeclo pull-right" id-check="stMenuFijo"
								ng-model="isActive" ng-change="habilitaDeshabilitaPerfil(!isActive)"
								true-label="{{'ADMINISTRACION.Perfiles.menuBox.activo.hab' | translate}}" true-value="true"
								false-label="{{'ADMINISTRACION.Perfiles.menuBox.activo.inh' | translate}}" false-value="false">
						</switcher>
					</div>
					<div class="box-body" style="overflow:hidden;position:relative;">
						<div class="row" ng-class="{'opacity':!isActive}">
							<dnd-lists
								col="col-md-5"
								max-height="35vh"
								model="listaAccesosPerfil.lista"
								nb-list="titulo"
								nb-item="items"
								nb-texts="Identificador:, Modulo:"
								nb-labels="idMenu, nbMenu"
								locker="bandera.flag"
								reset-model="resetearLista"
								model-aux=""
								on-move="actualizarAccesos"
								on-all="actualizaTodoAcceso"
								on-reset="resetTodo"
								required-list="false">
							</dnd-lists>
						</div>
						<div ng-if="!isActive" style="position:absolute;top:0;width:100%; height:100%; position:absolute;z-index:5; display:flex;justify-content:center;align-items:center">
							<h3>{{ 'ADMINISTRACION.Perfiles.menuBox.validacion'| translate}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<modal visible="modeEdit" size-modal="lg" noescape modalstatic>
			<modal-header title="{{'ADMINISTRACION.Perfiles.nuevo.tituloBox' | translate}}"></modal-header>
			<modal-body>
				<form role="form" name="formNuevoPerfil" ng-submit="crearPerfil(this)" novalidate>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': formNuevoPerfil.inputPerfilCodigo.$error.required && formNuevoPerfil.inputPerfilCodigo.$dirty}">
								<label>*{{'ADMINISTRACION.Perfiles.nuevo.codigo.label' | translate}}:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-pencil"></i>
									</div>
									<input id="inputPerfilCodigo" name="inputPerfilCodigo"class="form-control" type="text" ng-model="perfilVO.cdPerfil" maxlength="15" ng-required="true" />
								</div>
								<div ng-show="formNuevoPerfil.inputPerfilCodigo.$error.required && formNuevoPerfil.inputPerfilCodigo.$dirty"
										ng-style="{color:'red'}">{{'ADMINISTRACION.Perfiles.nuevo.codigo.validacion' | translate}}</div>
							</div>		
						</div>
						<div class="col-md-6">
							<div class="form-group" ng-class="{'has-error': formNuevoPerfil.inputPerfilNombre.$error.required && formNuevoPerfil.inputPerfilNombre.$dirty}">
								<label>*{{'ADMINISTRACION.Perfiles.nuevo.nombre.label' | translate}}:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-pencil"></i>
									</div>
									<input class="form-control" type="text" id="inputPerfilNombre" name="inputPerfilNombre" ng-model="perfilVO.nbPerfil" maxlength="50" ng-required="true"/>
								</div>
								<div ng-show="formNuevoPerfil.inputPerfilNombre.$error.required && formNuevoPerfil.inputPerfilNombre.$dirty"
										ng-style="{color:'red'}">{{'ADMINISTRACION.Perfiles.nuevo.nombre.validacion' | translate}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" ng-class="{'has-error': formNuevoPerfil.inputPerfilDescripcion.$error.required && formNuevoPerfil.inputPerfilDescripcion.$dirty}">
								<label>*{{'ADMINISTRACION.Perfiles.nuevo.desc.label' | translate}}:</label>
								<textarea class="form-control" id="inputPerfilDescripcion" name="inputPerfilDescripcion" rows="3" style="resize:none; width:100%" ng-model="perfilVO.txPerfil" maxlength="200" ng-required="true"></textarea>
								<div ng-show="formNuevoPerfil.inputPerfilDescripcion.$error.required && formNuevoPerfil.inputPerfilDescripcion.$dirty"
										ng-style="{color:'red'}">{{'ADMINISTRACION.Perfiles.nuevo.desc.validacion' | translate}}</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4 center">
							<button type="submit" class="btn btn-danger">{{'APP.Base.boton.guardar' | translate}}</button>
						</div>
					</div>
				</form>
			</modal-body>
			<modal-footer btn-close="{{'APP.Base.boton.cerrar' | translate}}"></modal-footer>
		</modal>
	</section>
</body>