<div class="modal fade" id="aviso">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-red-active"></div>
        <div class="modal-body" id="modal-body">
            <div class="container">
               <div class="col-md-1 ">
                <div class="icono">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div>
                </div>
                <div class="col-md-11">
                <div class="row" >
                <div  ng-repeat="msg in message" align="center">
                    
                        <label class="text-center">{{msg}}</label>
					
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <button class="btn bg-red-active" type="button" data-dismiss="modal">Aceptar</button>
		  </div>
        </div>
    </div>
  </div>
</div>