 <div class="modal fade" id="prompt" data-keyboard="false" data-backdrop="static">
  	<div class="modal-dialog">
   		<div class="modal-content">
			<div class="modal-header bg-red-active"></div>
			<div class="modal-body">
				<div class="container">
					<div class="icono">
						<span class="glyphicon glyphicon-info-sign"></span>
					</div>
					<div class="mensaje">
						<label>{{message}}</label>
						<div class="entrada">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-pencil"></i>
								</div>
								<input class="form-control" ng-model="prompt" ng-required="true" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<div class="boton">
						<button class="btn bg-red-active btnMargin" type="button" ng-click="success(true)" data-dismiss="modal">Aceptar</button>
					</div>
					<div class="boton">
						<button class="btn bg-red-active btnMargin" type="button" ng-click="close(false)" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
  	</div>
 </div>