 <div class="modal fade" id="confirmacion" data-keyboard="false" data-backdrop="static">
  	<div class="modal-dialog">
   		<div class="modal-content">
			<div class="modal-header bg-red-active"></div>
			<div class="modal-body">
				<div class="container">
					<div class="icono">
						<span class="glyphicon glyphicon-warning-sign"></span>
					</div>
					<div class="mensaje">
						<label>{{message}}</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
					<div class="boton">
						<button class="btn bg-red-active btnMargin" type="button" ng-click="close(true)" data-dismiss="modal">Aceptar</button>
					</div>
					<div class="boton">
						<button class="btn bg-red-active btnMargin" type="button" ng-click="close(false)" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
  	</div>
 </div>