  <div class="modal fade" id="error"  data-keyboard="false" data-backdrop="static">
 	 <div class="modal-dialog">
  		<div class="modal-content">
			<div class="modal-header bg-red-active"></div>
			<div class="modal-body">
				<div class="container">
					<div class="icono">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
					</div>
					<div class="mensaje">
						<label>{{message}}</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="container">
				
					<div class="boton">
						<button type="button" class="btn bg-red-active"
							data-dismiss="modal">Aceptar</button>
					</div>
				</div>
			</div>
		</div>
  	 </div>
 </div>