<div class="modal fade" id="aviso">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-red-active"></div>
        <div class="modal-footer text-center">
            <div class="container">
                <!-- div class="icono">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </div-->
                <!--div class="mensaje"-->
                    <img style="display:inline-block;" ng-src="{{ message }}" width="400px" height="300"/>
                <!--/div-->
            </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <button class="btn bg-red-active" type="button" ng-click="close(true)" data-dismiss="modal">Cerrar</button>
		  </div>
        </div>
    </div>
  </div>
</div>