<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Consulta catalogo</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'CATALOGO.Consulta.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">

		<form role="form" name="formBusquedaDispositivo">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'DISPOSITIVOS.Consulta.nombreBox.tituloBox'
								| translate}}</h3>

						</div>
						<div class="box-body">
							<div class="row">

								<div class="col-md-4" />
								<div class="col-md-4">
									<div class="form-group">
										<label for="comboFiltroComando">*{{'COMANDOS.Nuevo.filtrado.label' | translate}}:</label>	
										<div class="input-group">											
											<span class="input-group-addon"><i class="fa fa-list"></i></span>
											<select class="form-control" idioma-s2="{{currentLanguage}}"
												ng-required="true" select2 id="consultaCataogoBusqueda"
												ng-options="filtro as filtro.nombre for filtro in catalogoSelectData"
												ng-model="catalogoSelect" ng-change="cambiarCatalogo()">
											</select>
										</div>
									</div>
								</div>

								<div ng-show="webComponentes.agregarCatalogo.show" class="col-md-4" style="padding-top: 20px;">
										<button ng-disabled="webComponentes.agregarCatalogo.disabled" 
										class="btn btn-danger" type="button" ng-click="showModal('add')" ng-show="catalogoSelect.nombre !== 'CATALOGO'">
										<i class="fa fa-plus"></i>
										{{'CATALOGO.Nuevo.add.label' | translate}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>				
				<div class="col-md-2"></div>
			</div>

			<div class="row" ng-if="catalogoData.length>0">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">						
							<div class="col-md-6 col-md-12">
								<h3 class="box-title">{{
									'DISPOSITIVOS.Consulta.nombreBox.tituloBoxTwo' | translate}}:
									{{(catalogoData | filter : view.searchSomething).length}}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10">
								<div class="input-group">
									<input id="searchsomething" type="text"
										class="form-control pull-right"
										placeholder="Buscar por filtro"
										ng-model="view.searchSomething">
									<div class="input-group-addon">
										<i class="fa fa-search"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body table-responsive">
							<table id="tabla_infracciones"
								class="table table-striped table-hover header-fixed">
								<thead>

									<!-- CT_CATALOGO -->
									<tr ng-if="catalogoSelect.id === 1">
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.tablasql' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>		
										<th>{{'CATALOGO.Tabla.activar' | translate}}</th>																											
									</tr>

									<!-- CT_TIPO_DISPOSITIVOS -->
									<tr ng-if="catalogoSelect.id === 2">
										<th>ID</th>										
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.imagen' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_MARCAS -->
									<tr ng-if="catalogoSelect.id === 3">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.tipodispositivo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_Modelos -->
									<tr ng-if="catalogoSelect.id === 4">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.marca' | translate}}</th>
										<th>{{'CATALOGO.Tabla.subtipodispositivo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>
									
									<!-- CT_TIPO_EVENTOS -->									
									<tr ng-if="catalogoSelect.id === 5">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.imagen' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th>{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th>{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_TIPO_GEOCERCAS -->
									<tr ng-if="catalogoSelect.id === 6">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_EVENTOS -->
									<tr ng-if="catalogoSelect.id === 7">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.tipoevento' | translate}}</th>
										<th>{{'CATALOGO.Tabla.subtipodispositivo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_GRUPOS -->
									<tr ng-if="catalogoSelect.id === 8">
										<th>ID</th>
										<th>TIPO GRUPO</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>

									<!-- CT_TIPO_GRUPOS -->
									<tr ng-if="catalogoSelect.id === 9">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>
									
									<!-- CT_TIPO_COMANDOS -->
									<tr ng-if="catalogoSelect.id === 10">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.nombre' | translate}}</th>
										<th>{{'CATALOGO.Tabla.descripcion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>
									
									<!-- CT_COMANDOS  -->
									<tr ng-if="catalogoSelect.id === 11">
										<th>ID</th>
										<th>{{'CATALOGO.Tabla.tipocomando' | translate}}</th>
										<th>{{'CATALOGO.Tabla.subtipodispositivo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.tipomedio' | translate}}</th>
										<th>{{'CATALOGO.Tabla.codigo' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechacreacion' | translate}}</th>
										<th>{{'CATALOGO.Tabla.fechamodificada' | translate}}</th>										
										<th ng-show="webComponentes.activarCatalogo.show">{{'CATALOGO.Tabla.activar' | translate}}</th>
										<th ng-show="webComponentes.editarCatalogo.show">{{'CATALOGO.Tabla.accion' | translate}}</th>
									</tr>
									
								</thead>
								<tbody>
									<tr
										dir-paginate="c in catalogoData | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">


										<!-- CT_CATALOGO -->
										<td ng-if="catalogoSelect.id === 1" class="text-center">{{c.nombre}}</td>
										<td ng-if="catalogoSelect.id === 1" class="text-center">{{c.tabla}}</td>

										<!-- _CT_TIPO_DISPOSITIVOS -->
										<td ng-if="catalogoSelect.id === 2" class="text-center">{{c.id}}</td>										
										<td ng-if="catalogoSelect.id === 2" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 2" class="text-center">{{c.tx}}</td>
										<td ng-if="catalogoSelect.id === 2" class="text-center"><p ng-bind-html="c.img"></p></td>


										<!--CT_MARCAS-->
										<td ng-if="catalogoSelect.id === 3" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 3" class="text-center">{{c.idTipoDispositivo}}</td>
										<td ng-if="catalogoSelect.id === 3" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 3" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 3" class="text-center">{{c.tx}}</td>


										<!-- CT_MODELOS -->
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.idMarca}}</td>
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.idSubtipoDispositivo}}</td>
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 4" class="text-center">{{c.tx}}</td>


										<!-- CT_TIPO_EVENTOS -->
										<td ng-if="catalogoSelect.id === 5" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 5" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 5" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 5" class="text-center">{{c.tx}}</td>
										<td ng-if="catalogoSelect.id === 5" class="text-center"><p ng-bind-html="c.img"></p></td>


										<!-- CT_TIPO_GEOCERCAS -->
										<td ng-if="catalogoSelect.id === 6" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 6" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 6" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 6" class="text-center">{{c.tx}}</td>


										<!--CT_EVENTOS -->
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.idTipoEvento}}</td>
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.idSubtipoDispositivo}}</td>
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 7" class="text-center">{{c.tx}}</td>

										<!-- CT_GRUPOS -->
										<td ng-if="catalogoSelect.id === 8" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 8" class="text-center">{{c.idTipoGrupo}}</td>
										<td ng-if="catalogoSelect.id === 8" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 8" class="text-center">{{c.tx}}</td>

										<!-- CT_TIPO_GRUPOS-->
										<td ng-if="catalogoSelect.id === 9" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 9" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 9" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 9" class="text-center">{{c.tx}}</td>
										
										<!-- CT_TIPO_COMANDOS-->
										<td ng-if="catalogoSelect.id === 10" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 10" class="text-center">{{c.cd}}</td>
										<td ng-if="catalogoSelect.id === 10" class="text-center">{{c.nb}}</td>
										<td ng-if="catalogoSelect.id === 10" class="text-center">{{c.tx}}</td>
										
										<!-- CT_COMANDOS-->
										<td ng-if="catalogoSelect.id === 11" class="text-center">{{c.id}}</td>
										<td ng-if="catalogoSelect.id === 11" class="text-center">{{c.idTipoComando}}</td>
										<td ng-if="catalogoSelect.id === 11" class="text-center">{{c.idSubtipoDispositivo}}</td>										
										<td ng-if="catalogoSelect.id === 11" class="text-center">{{c.idMedioSubtipoCmd}}</td>
										<td ng-if="catalogoSelect.id === 11" class="text-center">{{c.cd}}</td>										

										<td class="text-center">{{c.fhCreacion}}</td>
										<td class="text-center">{{c.fhModificacion}}</td>

										<td class="center" ng-show="webComponentes.activarCatalogo.show">
											<switcher
												ng-disabled="webComponentes.activarCatalogo.disabled" 
												class="swTeclo"
												ng-show="c.nombre !== 'CATALOGO'"
												ng-model="c.active"
												ng-change="activarDesactivarCatalogo(c,catalogoSelect.id )"
												true-label="<i class='fa fa-check-circle'></i>"
												true-value="1"
												false-label="<i class='fa fa-times-circle'></i>"
												false-value="0">
											</switcher>
										</td>

										<td ng-show="webComponentes.editarCatalogo.show" ng-if="catalogoSelect.id !== 1" class="accion-item center">
											<a 
											  ng-click="showModal('edit',c.id)"											  
												class="fa fa-pencil fa-2x" data-toggle="tooltip"
												data-placement="left" title="Editar">
											</a>											
											<!-- href="#/actualizaCatalogo/{{c.id}}?catalogoSelectId={{catalogoSelect.id}}&nombre={{catalogoSelect.nombre}}"-->
										</td>


									

									</tr>

								</tbody>
							</table>
						</div>

						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display: block;">
								<rows-per-page rows="view.rowsPerPage"
									filtro="view.searchSomething" array="catalogoData"></rows-per-page>

								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</form>

	</section>
</body>
</html>