<modal visible="true" size-modal="lg" noescape modalstatic>
	<modal-header title="{{'CATALOGO.Nuevo.tituloServicio' | translate}}"></modal-header>
	<modal-body>
		<div class="row centerRow">
				<div class="col-md-12">						
								<div class="text-center">
										<h3 class="box-title">{{catalogoSelect.nombre}}</h3>
								</div>
								<br />
								<div class="">
										<!--	
										--
										-- CT_TIPO_DISPOSITIVOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 2">
												<div class="row">
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>{{'CATALOGO.Actualiza.imagensvg' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-picture-o"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="false" ng-model="catalogoNew.img" maxlength="50" />
																		</div>
																		<div ng-show="altaDispositivo.nuCelEmpDisp.$error.required && altaDispositivo.nuCelEmpDisp.$dirty" ng-style="{color:'black'}">{{'DISPOSITIVOS.Nuevo.nombreBox.celEmp.validacion'
																				| translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_MARCAS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 3">
												<div class="row">
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.tipDisp.$invalid && altaDispositivo.tipDisp.$dirty) }"">
																		<label>*{{'CATALOGO.Actualiza.tipodispositivo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select select2 class="form-control"  ng-required="true" ng-options="tipDis.nombre for tipDis in listas.tipoDispositivo"
																						ng-model="catalogoSelectNew.tipoDispositivo" ng-change="disableSave()">
																						<option value="">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.tipDisp.$error.required && altaDispositivo.tipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
															<div class="form-group" ng-class="{'has-error': (altaDispositivo.imeiDisp.$invalid && altaDispositivo.imeiDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="15" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.tx" maxlength="250" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_MODELOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 4">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
																		<label>*{{ 'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.label' |translate }}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select  select2 class="form-control" idioma-s2="{{currentLanguage}}" ng-required="true"
																						ng-model="catalogoSelectNew.subtipoDispositivo" ng-options="subTipo.nombre for subTipo in listas.subtipoDispositivo" ng-change="disableSave()">
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.marcasDisp.$invalid && altaDispositivo.marcasDisp.$dirty) }">
																		<label>*{{'DISPOSITIVOS.Nuevo.nombreBox.tipoMarcas.label' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select select2 class="form-control"  ng-required="true" ng-model="catalogoSelectNew.marca"
																						ng-options="marcFil.nombre for marcFil in listas.marca" ng-change="disableSave()">
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoMarcas.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.marcasDisp.$error.required && altaDispositivo.marcasDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoMarcas.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.imeiDisp.$invalid && altaDispositivo.imeiDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.cd" maxlength="50"  ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelPerDisp.$invalid && altaDispositivo.nuCelPerDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_TIPO_EVENTOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 5">
												<div class="row">
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.imagensvg' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-picture-o"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="false" ng-model="catalogoNew.img" maxlength="250"  ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.nuCelEmpDisp.$error.required && altaDispositivo.nuCelEmpDisp.$dirty" ng-style="{color:'black'}">{{'DISPOSITIVOS.Nuevo.nombreBox.celEmp.validacion'
																				| translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_TIPO_GEOCERCAS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 6">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" " ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.tx" maxlength="250"  ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_EVENTOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 7">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.tipDisp.$invalid && altaDispositivo.tipDisp.$dirty) }"">
																		<label>*{{'CATALOGO.Actualiza.tipoevento' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select select2 class="form-control" ng-required="true" ng-options="tipDis.nombre for tipDis in listas.tipoEvento"
																						ng-model="catalogoSelectNew.tipoEvento" ng-change="disableSave()">
																						<option value="">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.tipDisp.$error.required && altaDispositivo.tipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
																		<label>*{{ 'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.label' |translate }}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select select2 class="form-control"  ng-required="true" ng-change="disableSave()"
																						ng-model="catalogoSelectNew.subtipoDispositivo" ng-options="subTipo.nombre for subTipo in listas.subtipoDispositivo" >
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
													</div>
													
													<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>{{'CATALOGO.Actualiza.parametro' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.param" maxlength="50" />
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_GRUPOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 8">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.tipDisp.$invalid && altaDispositivo.tipDisp.$dirty) }"">
																		<label>*{{'CATALOGO.Actualiza.tipogrupo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select  select2 class="form-control" ng-required="true" ng-options="tipDis.nombre for tipDis in listas.tipoGrupo"
																						ng-model="catalogoSelectNew.tipoGrupo" ng-change="disableSave()">
																						<option value="">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.tipDisp.$error.required && altaDispositivo.tipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.tipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.nb" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control"  ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										<!--	
										--
										-- CT_TIPO_GRUPOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 9">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.nb" maxlength="50" />
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										
										<!--	
										--
										-- CT_TIPO_COMANDOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 10">
												<div class="row">
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.ipDisp.$invalid && altaDispositivo.ipDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.nombre' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.nb" maxlength="50" />
																		</div>
																		<div ng-show="altaDispositivo.ipDisp.$error.required && altaDispositivo.ipDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.ip.validacion' | translate}}</div>
																</div>
														</div>
														<div class="col-sm-4">
																<div class="form-group" ng-class="{'has-info': (altaDispositivo.nuCelEmpDisp.$invalid && altaDispositivo.nuCelEmpDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.texto' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.tx" maxlength="50" ng-change="disableSave()" />
																		</div>
																		<div ng-show="altaDispositivo.txDesc.$error.required && altaDispositivo.txDesc.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.descripcion.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										
										<!--	
										--
										-- CT_COMANDOS
										-- 
										-->
										<div ng-if="catalogoSelect.id === 11">
												<div class="row">
												
													<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.tipocomandos' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select  select2 class="form-control"  idioma-s2="{{currentLanguage}}" ng-required="true"
																						ng-model="catalogoSelectNew.tipoComando" ng-options="tipoComando.nombre for tipoComando in listas.tipoComando" ng-change="disableSave()">
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
														
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
																		<label>*{{ 'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.label' |translate }}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select  select2 class="form-control" idioma-s2="{{currentLanguage}}" ng-required="true"
																						ng-model="catalogoSelectNew.subtipoDispositivo" ng-options="subTipo.nombre for subTipo in listas.subtipoDispositivo" ng-change="disableSave()">
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>
												
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.subTipoDisp.$invalid && altaDispositivo.subTipoDisp.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.tipomedio' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-window-restore"></i>
																				</div>
																				<select select2 class="form-control" idioma-s2="{{currentLanguage}}" ng-required="true"
																						ng-model="catalogoSelectNew.tipoMedio" ng-options="subTipo.nombre for subTipo in listas.tipoMedio" ng-change="disableSave()">
																						<option value="" selected="selected">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.seleccionar' | translate}}</option>
																				</select>
																		</div>
																		<div ng-show="altaDispositivo.subTipoDisp.$error.required && altaDispositivo.subTipoDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.subTipoDispositivo.validacion'
																				| translate}}</div>
																</div>
														</div>																
												
														<div class="col-sm-3">
																<div class="form-group" ng-class="{'has-error': (altaDispositivo.txDesc.$invalid && altaDispositivo.txDesc.$dirty) }">
																		<label>*{{'CATALOGO.Actualiza.codigo' | translate}}</label>
																		<div class="input-group">
																				<div class="input-group-addon">
																						<i class="fa fa-pencil"></i>
																				</div>
																				<input type="text" class="form-control" ng-required="true" ng-model="catalogoNew.cd" maxlength="50" ng-change="disableSave()"/>
																		</div>
																		<div ng-show="altaDispositivo.imeiDisp.$error.required && altaDispositivo.imeiDisp.$dirty" ng-style="{color:'red'}">{{'DISPOSITIVOS.Nuevo.nombreBox.imei.validacion' |
																				translate}}</div>
																</div>
														</div>
												</div>
										</div>
										
								</div>
								<br />
								<div class="row">															
										
										<div class="text-center col-lg-12">
												<button class="btn btn-danger" type="button" ng-disabled="disableSaveBtn" ng-click="save()">{{'APP.Base.boton.agregar' | translate}}</button>
										</div>				
										
								</div>
								<br />
						</div>
				</div>
	</modal-body>	
	<modal-footer btn-close="{{'APP.Base.boton.cancelar' | translate}}"></modal-footer>
</modal>
