<!DOCTYPE html>
<html ng-app="monitoreoMovilidad">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image" />
	<link type="image/x-icon" href="static/dist/img/iconTeclo.ico" rel="shortcut icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	
	<title>Monitoreo y Movilidad</title>
	
	<link rel="stylesheet" href="static/dist/css/base.css" />
	
</head>

<!-- -----------------------------------------------------------------------------------
---- ** EMPIEZA CONTENIDO ONE PAGE ** -->

<body id="bodyGlobal" ng-controller="templateController"
	class="hold-transition {{configuracionApp.tema.cdTema}} sidebar-mini"
	fullscreen="fullScreenActive" only-watched-property ng-cloak>

	<div class="wrapper ngOnlyEnterApp" ng-if="currentPath() != '/'">
		<div ng-include="'header.html'">
			<!-- ** HEADER **-->
		</div>
		<div ng-include="'menu.html'">
			<!-- ** MENU **-->
		</div>
		<div class="content-wrapper">
			<div ng-view class="animateVistas">
				<!-- ** CONTENIDO POR PÁGINA **-->
			</div>
			<!-- Botón ir arriba -->
			<div class="scrollup">
				<i class="fa fa-chevron-up"></i>
			</div>
			<!-- /Botón ir arriba -->

			<!-- Notificaciones -->
			<div growl limit-messages="5"></div>
		</div>
		<div ng-include="'footer.html'">
			<!-- ** FOOTER **-->
		</div>
	</div>
	<!-- Validación de login -->
	<div class="ngOnlyEnter" ng-if="currentPath() === '/'" ng-view ng-cloak>
		<!-- ** LOGIN **-->
	</div>
</body>

<!-- ** TERMINA CONTENIDO ONE PAGE ** 
------------------------------------------------------------------------------------ -->

<!--______________________________.:: JQUERY v2.2.0 ::.________________________________ -->
<script src="static/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="static/dist/js/jquery-ui.min.js"></script>

<!--____________________________.:: BOOTSTRAP v3.3.6 ::._______________________________ -->
<script src="static/dist/js/bootstrap.min.js"></script>

<!--______________________________.:: GOOGLE MAPS API ::._______________________________________ -->
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKJ4c2HJEgH4Nikrj04Tp1QDMl47LE8_Y"></script>

<!--___________________________.:: ANGULAR-JS v1.5.8 ::._______________________________ -->
<script src="static/js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js"></script>

<!-- LIBRERIAS ANGULAR-JS -->
	<!-- Block UI v0.2.1 -->
	<script src="static/plugins/blockUI/angular-block-ui.min.js"></script>
	<!-- Device Detector -->
	<script src="static/js/lib/re-tree.min.js"></script>	
	<script src="static/js/lib/ng-device-detector.min.js"></script>
	<!-- JWT -->
	<script src="static/js/lib/angular-jwt.min.js"></script>
	<!-- NG Storage -->
	<script src="static/js/lib/ngStorage.min.js"></script>
	<!-- Route lib -->
	<script src="static/js/lib/angular-route.min.js"></script>
	<!-- Traslate lib -->
	<script src="static/js/lib/angular-translate.min.js"></script>
	<script src="static/js/lib/angular-translate-loader-static-files.min.js"></script>
	<!-- Translate Storage Cookie-->
	<script src="static/js/lib/angular-translate-storage-local.min.js"></script>
	<script src="static/js/lib/angular-translate-storage-cookie.min.js"></script>
	<!-- Angular drag and drop -->
	<script src="static/js/lib/angular-drag-and-drop-lists.min.js"></script>
	<!-- Cookies lib -->
	<script src="static/js/lib/angular-cookies.min.js"></script>
	<!-- Resource lib -->
	<script src="static/js/lib/angular-resource.min.js"></script>
	<!-- Responsive lib -->
	<script src="static/js/lib/angular-responsive.js"></script>
	<!-- Upload Module -->
	<script src="static/js/lib/angular-base64-upload.js"></script>
	<!-- Animate -->
	<script src="static/dist/js/angular-animate.min.js"></script>
	
<!-- LIBRERIAS -->
	<!-- Moment -->
	<script src="static/js/lib/moment.js"></script>
	<!-- bootstrap carousel -->
	<script src="static/js/lib/ui-bootstrap-tpls.min.js"></script>
	<!-- Underscore -->
	<script src="static/js/lib/underscore-min.js"></script>
	<!-- humanizeDuration -->
	<script src="static/js/lib/humanizeDuration.js"></script>
	<!-- Canvas -->
	<script src="static/js/lib/canvasjs.min.js"></script>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-utf8.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha512.min.js"></script>	
		
<!--_________________________________.:: PLUGINS ::.___________________________________ -->

	<!-- SlimScroll 1.3.0 -->
	<script src="static/plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="static/plugins/fastclick/fastclick.js"></script>
	<!-- Sparkline v2.1.2 -->
	<script src="static/plugins/sparkline/jquery.sparkline.min.js"></script>
	<!-- Jvectormap v1.2.2 -->
	<script src="static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- ChartJS 1.0.1 -->
	<script src="static/plugins/chartjs/Chart.min.js"></script>
	<!-- Raphael 1.0.0 -->
	<script src="static/dist/js/pages/raphael-min.js"></script>
	<!-- Morris 1.0.0 -->
	<script src="static/dist/js/pages/morris.min.js"></script>
	<!-- bootstrap datepicker v2.0.0 -->
	<script src="static/plugins/datepicker/bootstrap-datepicker.js"></script>
	<!-- bootstrap timepicker v0.2.3 -->
	<script src="static/plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<!-- bootstrap datetimepicker v4.15.35 -->
	<script src="static/plugins/datetimepicker-v4/bootstrap-datetimepicker.js"></script>
	<!-- Select2 v4.0.1 -->
	<script src="static/plugins/select2/select2.full.min.js"></script>
	<!-- Plugin WebUI-Popover v1.2.17 -->
	<script src="static/plugins/webui-popover/webui-popover.js"></script>
	<!-- Plugin SmartWizard - Steps v3.3.1 -->
	<script src="static/plugins/smartWizard/smartWizard.js"></script>
	<!-- DataTables v1.10.7 -->
	<script src="static/plugins/datatables/jquery.dataTables.min.js"></script>
	<!-- InputMask -->
	<script src="static/plugins/input-mask/jquery.inputmask.js"></script>
	<script src="static/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
	<script src="static/plugins/input-mask/jquery.inputmask.extensions.js"></script>
	<!-- Plugin alertas Javascript -->
	<script src="static/plugins/notify/notify.js"></script>
	<script src="static/plugins/notify/prettify.js"></script>
	<!-- BootstrapSelect v1.12.3-->
	<script src="static/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
	<!-- Colorpicker v2.0.0 -->
	<script src="static/plugins/colorpicker/bootstrap-colorpicker.js"></script>
	
<!--______________________________.:: LEAFLET API ::._______________________________________ -->

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>

<!--______________________________.:: OPENLAYERS API ::._______________________________________ -->

	<link rel="stylesheet" href="static/dist/css/custom/aplicacion/ol.css" type="text/css">
	<script src="static/js/lib/ol.js"></script>
	<script src="static/js/lib/jsts.min.js"></script>

<!--_________________________________.:: AMCHARTS ::.______________________________________ -->

    <script src="static/plugins/amcharts/amcharts.js"></script>
    <script src="static/plugins/amcharts/serial.js"></script>
    <script src="static/plugins/amcharts/piechart.js"></script>
    <script src="static/plugins/amcharts/themes/black.js"></script>
    <script src="static/plugins/amcharts/themes/chalk.js"></script>
    <script src="static/plugins/amcharts/themes/dark.js"></script>
    <script src="static/plugins/amcharts/themes/light.js"></script>
    <script src="static/plugins/amcharts/themes/patterns.js"></script>
    <script src="static/plugins/amcharts/themes/customThemes.js"></script>
    <script src="static/plugins/amcharts/export/export.min.js"></script>


<!--_________________________________.:: BASE ::.______________________________________ -->

	<!-- Angular app -->
	<script src="static/js/app.js"></script>
	<!-- AdminLTE App -->
	<script src="static/dist/js/appTeclo.js"></script>
	<!-- Components Custom -->
	<script src="static/dist/js/components.js"></script>

<!--________________________________.:: CONFIG ::.______________________________________ -->
	
	<!-- Constantes -->
	<script src="static/js/constantes/constanteConfig.js"></script>
	<!-- Route -->
	<script src="static/js/config/routeConfig.js"></script>
	<!-- Event -->
	<script src="static/js/events/routeEvent.js"></script>
	<!-- Storage -->
	<script src="static/js/config/storageConfig.js"></script>
	<!-- Locale config -->
	<script src="static/js/config/angular-locale_es-mx.js"></script>
	<!-- Translate -->
	<script src="static/js/config/angular-translate.js"></script>
	<!-- Growl notify -->
	<script src="static/js/config/notifyConfig.js"></script>

<!--_____________________________.:: INTERCEPTORES ::.__________________________________ -->
	
	<!-- Interceptors -->
	<script src="static/js/interceptors/interceptorsConfig.js"></script>
	<!-- Request -->
	<script src="static/js/interceptors/requestInterceptor.js"></script>
	<!-- Error -->
	<script src="static/js/interceptors/errorInterceptor.js"></script>

<!--_______________________________.:: FACTORYS ::._____________________________________ -->

	<!-- Mensajes errores -->
	<script src="static/js/factorys/messageFactory.js"></script>
	<!-- Mensajes modal -->
	<script src="static/js/factorys/mensajesModalFactory.js"></script>

<!--_______________________________.:: FILTERS ::.______________________________________ -->
	<!-- formatDateTime -->
	<script src="static/js/filters/formatDateTime.js"></script>
	<!-- groupBy | contartexto -->
	<script src="static/js/filters/angularFilters.js"></script>
	<!-- tiempoRelativo | timeMinutes -->
	<script src="static/js/filters/tiempoRelativo.js"></script>

<!--______________________________.:: DIRECTIVES ::._____________________________________ -->
	<!-- integerNumber | integerDecimal -->
	<script src="static/js/directivas/integerNumberOnlyDirective.js"></script>
	<!-- dirPagination -->
	<script src="static/js/directivas/pagination.js"></script>
	<!-- checklistModel -->
	<script src="static/js/directivas/checklist-model.js"></script>
	<!-- capitalize -->
	<script src="static/js/directivas/textUpperCase.js"></script>
	<!-- progressBar -->
	<script src="static/js/directivas/progressBar.js"></script>
	<!-- onFinishRender -->
	<script src="static/js/directivas/emitLastRepeaterElement.js"></script>
	<!-- camelCase -->
	<script src="static/js/directivas/camelCase-directive.js"></script>
	<!-- sort -->
	<script src="static/js/directivas/sort.directive.js"></script>
	<!-- rowsPerPage -->
	<script src="static/js/directivas/rowsPerPage.js"></script>
	<!-- fullscreen -->
	<script src="static/js/directivas/angular-fullscreen.js"></script>
	<!-- datePicker -->
	<script src="static/js/directivas/datepicker-directive.js"></script>
	<!-- timePicker -->
	<script src="static/js/directivas/timepicker-directive.js"></script>
	<!-- colorPicker -->
	<script src="static/js/directivas/colorPicker.js"></script>
	<!-- datetimePicker -->
	<script src="static/js/directivas/datetimepicker-directive.js"></script>
	<!-- select2 -->
	<script src="static/js/directivas/select2-directive.js"></script>
	<!-- selectPicker -->
	<script src="static/js/directivas/selectpicker-directive.js"></script>
	<!-- tooltip -->
	<script src="static/js/directivas/tooltip-directive.js"></script>
	<!-- switcher -->
	<script src="static/js/directivas/switch-directive.js"></script>
	<!-- webuipopover -->
	<script src="static/js/directivas/webuiPopover-directive.js"></script>
	<!-- popover -->
	<script src="static/js/directivas/popoverBootstrap-directive.js"></script>
	<!-- wizard -->
	<script src="static/js/directivas/angularWizard-directive.js"></script>
	<!-- modal && modalHeader && modalBody && modalFooter -->
	<script src="static/js/directivas/modalBootstrap-directive.js"></script>
	<!-- growl -->
	<script src="static/plugins/growlNotify/angular-growl.js"></script>
	<!-- dndLists -->
	<script src="static/js/directivas/dragNdropLists-directive.js"></script>
	<!-- mapForDevice -->
	<script src="static/js/directivas/mapa.js"></script>
	<!-- slideBarHistory -->
	<script src="static/js/directivas/slideBarHistory.js"></script>
	<!-- angular-enter -->
	<script src="static/js/directivas/angular-enter.js"></script>
	<!-- PAGINATION -->
	<script src="static/js/directivas/dataGrid.min.js"></script>
	<script src="static/js/directivas/pagination.min.js"></script>
	<!-- SMART-TABLE ORDER -->
	<script src="static/js/directivas/smart-table.js"></script>
	<!--PRE CHARGE-->
	<script src="static/js/directivas/preCharge-directive.js"></script>
	<!-- DRAG AND DROP FILE	 -->
	<script src="static/js/directivas/filednd-directive.js"></script>

<!--______________________________.:: SERVICES ::._______________________________________ -->

<!-- APLICACIÓN -->
	<!-- JWT -->
	<script src="static/js/services/login/jwtService.js"></script>
	<!-- Storage -->
	<script src="static/js/services/aplicacion/storageService.js"></script>
	<!-- Login -->
	<script src="static/js/services/login/loginService.js"></script>
	<script src="static/js/services/login/logOutService.js"></script>
	<!-- Menu -->
	<script src="static/js/services/login/menuDinamicoService.js"></script>
	
	<!-- Modal -->
	<script src="static/dist/js/angular-modal-service.js"></script>
	<script src="static/js/services/aplicacion/alertasModalService.js"></script>
	
<!-- MONITOREO -->	
	<script src="static/js/services/monitoreo/monitoreoService.js"></script>
	
<!-- COMANDO -->	
	<script src="static/js/services/comando/comandoService.js"></script>
	
<!-- NOTIFICACION -->	
	<script src="static/js/services/notificacion/notificacionService.js"></script>

<!-- GEOCERCAS -->	
	<script src="static/js/services/geocerca/geocercaService.js"></script>
	
<!-- SERVICIOS DE GOOGLE -->	
	<script src="static/js/services/geocerca/geocodingService.js"></script>
	
	
<!-- GRUPOS -->	
	<script src="static/js/services/grupo/grupoService.js"></script>
	
<!-- CATALOGO -->	
	<script src="static/js/services/catalogo/catalogoService.js"></script>

<!-- EMPLEADO -->	
	<script src="static/js/services/empleado/empleadoService.js"></script>

<!-- ADMINISTRACIÓN -->
	<!-- Usuarios -->
	<script src="static/js/controllers/administracion/usersController.js"></script>
	<script src="static/js/services/administracion/userService.js"></script>
	<script src="static/js/services/administracion/administracionService.js"></script>
	<!-- Configuración aplicación -->
	<script src="static/js/services/login/configAppService.js"></script>
	<!-- Cambio Contraseña -->
	<script src="static/js/services/administracion/cambioContraseniaService.js"></script>
	<!-- Consulta Logs -->
	<script src="static/js/services/logs/logsService.js"></script>	

<!--______________________________.:: CONTROLLERS ::._______________________________________ -->

<!-- TEMPLATE -->
	<script src="static/js/controllers/login/templateController.js"></script>
	<!-- Login -->
	<script src="static/js/controllers/login/loginController.js"></script>
	<!-- Header -->
	<script src="static/js/controllers/login/headerController.js"></script>
	<!-- Menu -->
	<script src="static/js/controllers/login/menuController.js"></script>
	<!-- Footer -->
	<script src="static/js/controllers/login/footerController.js"></script>
	
	<!-- Modal -->
	<script src="static/js/controllers/templatemodal/modalController.js"></script>
	<script src="static/js/controllers/templatemodal/mensajeModalController.js"></script>
	<script src="static/js/controllers/templatemodal/modalMensajeController.js"></script>
	<script src="static/js/controllers/templatemodal/mensajeTokenModalController.js"></script>
	<script src="static/js/controllers/templatemodal/modalCrearLogController.js"></script>
	
<!-- MONITOREO -->
	<script src="static/js/controllers/monitoreo/monitoreoTiempoRealController.js"></script>
	<script src="static/js/controllers/monitoreo/monitoreoRutasController.js"></script>
	
<!-- GEOCERCAS -->
	<script src="static/js/controllers/geocerca/altaGeocercaController.js"></script>
	<script src="static/js/controllers/geocerca/modificaGeocercaController.js"></script>
	<script src="static/js/controllers/geocerca/bajaGeocercaController.js"></script>

<!-- COMANDOS -->	
	<script src="static/js/controllers/comando/ejecutaComandoController.js"></script>
	
<!-- NOTIFICACION -->
	<script src="static/js/controllers/notificacion/altaNotificacionController.js"></script>
	<script src="static/js/controllers/notificacion/actualizaNotificacionController.js"></script>
	<script src="static/js/controllers/notificacion/modificaNotificacionController.js"></script>
	<script src="static/js/controllers/notificacion/bajaNotificacionController.js"></script>
	
<!-- GRUPOS -->
	<script src="static/js/controllers/grupo/altaGrupoController.js"></script>
	<script src="static/js/controllers/grupo/actualizaGrupoController.js"></script>
	<script src="static/js/controllers/grupo/modificaGrupoController.js"></script>
	<script src="static/js/controllers/grupo/bajaGrupoController.js"></script>
	
<!-- CATALOGO -->
	<script src="static/js/controllers/catalogo/nuevoCatalogoController.js"></script>
	<script src="static/js/controllers/catalogo/consultaCatalogoController.js"></script>
	<script src="static/js/controllers/catalogo/actualizaCatalogoController.js"></script>
	
<!-- 	MANTENIMIENTO -->
<script src="static/js/controllers/mantenimiento/nuevoMantenimientoController.js"></script>
<script src="static/js/controllers/mantenimiento/consultaMantenimientoController.js"></script>
<script src="static/js/services/mantenimiento/mantenimientoService.js"></script>

<!-- ADMINISTRACIÓN -->
	<!-- Configuración aplicación -->
	<script src="static/js/controllers/administracion/configuracionAppController.js"></script>
	<!-- Cambiar contraseña -->
	<script src="static/js/controllers/administracion/administracionCambioContraseniaController.js"></script>

	<!-- Perfiles -->
	<script src="static/js/controllers/administracion/perfilesController.js"></script>
	<script src="static/js/services/administracion/perfilesService.js"></script>
	
	<!-- Administración de Logs -->
	<script src="static/js/controllers/logs/adminLogsController.js"></script>
	<script src="static/js/controllers/logs/adminModificaLogsController.js"></script>
	<script src="static/js/controllers/logs/consultaLogsController.js"></script>
	<!-- Dispositivo -->
	<script src="static/js/controllers/dispositivo/consultaDispositivoController.js"></script>
	<script src="static/js/controllers/dispositivo/nuevoDispositivoController.js"></script>
	<script src="static/js/controllers/dispositivo/actualizaDispositivoController.js"></script>
	<script src="static/js/services/dispositivo/altaDispositivoService.js"></script>
	<script src="static/js/services/dispositivo/consultaDispService.js"></script>	

	<!-- Componentes web -->
	<script src="static/js/controllers/administracion/resources/pluginsWebController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoUnoController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoDosController.js"></script>
	<script src="static/js/controllers/administracion/resources/pasoTresController.js"></script>
	<!-- Herramientas web -->
	<script src="static/js/controllers/administracion/resources/toolsWebController.js"></script>

	<!-- Control Dispositivo dashboard -->
	<script src="static/js/controllers/tableroscontrol/controlDispositivosDiarioController.js"></script>
	<script src="static/js/controllers/tableroscontrol/controlDispositivosHistoricoController.js"></script>
	
	<!-- IndexedDB -->
	<!-- script src="static/js/factorys/localDataBase.js"></script-->
	<!-- Offline Mode -->
	<!-- script src="static/js/services/aplicacion/offlineService.js"></script-->
</html>
