<meta charset="utf-8">
<div class="dropdown-container" ng-class="{ show: listVisible }">
	<div class="dropdown-display" ng-click="show()">
		<span ng-if="!isPlaceholder">{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder">{{placeholder}}</span>
		<i class="fa fa-angle-down"></i>
	</div>
	<div class="dropdown-list">
		<div>
			<div ng-repeat="item in list" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
				<span>{{property !== undefined ? item[property] : item}}</span>
				<i class="fa fa-check"></i>
			</div>
		</div>
	</div>
</div>