<meta charset="utf-8">
<div class="pull-left pagination-detail" ng-if="(array | filter:filtro).length > 0">
	<span class="pagination-info">Mostrar
<!-- 			registros del 1 al  -->
<!-- 		 <label ng-if="filtro">{{(array | filter:filtro).length}}</label> -->
<!-- 		 <label ng-if="!filtro">{{rows}}</label> -->
<!-- 		 de {{ (array | filter:filtro).length }}</span> -->
	<span class="page-list">
		<span class="btn-group dropup">
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		  		<span class="page-size">{{rowsPerPage}}</span>
		    	<span class="caret"></span>
		  	</button>
			<ul class="dropdown-menu" role="menu">
	  			<li ng-click="select($index, option)" ng-class="{active: $index === selectedIndex}" ng-repeat="option in customarray">
	  				{{option.legend}}
	  			</li>
			</ul>
		</span>
		registros por página
	</span>
</div>