<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <style type="text/css">
      html, body { margin: 0 0 0 0; padding: 0px 0px 0px 0px; background-color: white; }
      h4 {  font-family: "Century Gothic", Verdana, Arial; font-size: 24px; line-height: 20px; color: black;  margin-right: 10px;}
      table,.cont-table {margin-left:auto; margin-right: auto;}
      td span {font-family: "Century Gothic", Verdana, Arial; font-size: 14px; line-height: 16px; color: black;  margin-left: 10px; margin-right: 10px;}
      #container  {width: 100%; height: auto;background-color: #fff;padding:70px 0}
      .cont-table {border-top:7px solid #cf0a2c;width:100%;max-width:700px;border-radius: 5px;}
   </style>
   <title>Teclo - Moniotoreo & Movilidad</title>
</head>
<body>
   <div id="container">
       <div class="cont-table">
         <table id="recuperaContrasenia" cellspacing="0" cellpadding="0"
         style="position:relative;width:100%;max-width:700px; box-shadow:1px 2px 15px rgba(0,0,0,0.5);border: 15px solid #ecf0f1;border-radius: 5px;">
            <!-- style="width:100%;max-width:700px; box-shadow:1px 2px 15px rgba(0,0,0,0.5);border: 15px solid #ecf0f1;border-radius: 5px;"> -->
            <tr style="position:absolute;top:0;left:0;">
             </tr>
            <tr style="background-color:#ecf0f1;">
               <td style="padding:10px;">
                  <img style="width: 200px" src="http://ext.teclo.mx/gestionclientes_teclo/static/dist/img/logoTeclo.png">
               </td>
               <td colspan="3" align="right" valign="bottom">
                     <span>
                        <h4 style="color:#55565a;">
                           ${titulo}
                        </h4>
                     </span>
               </td>
            </tr>
            <tr>
               <td colspan="4" style="background-color:#55565a; height:5px;"></td>
            </tr>
            <tr>
               <td colspan="4" style="margin-left:20px;background-color:white; height:50px;padding-top:10px;text-align: center;">

                  <span style="font-size: 25px;font-weight: 600;color:#cc4865;">
                  ${body}
                  </span>
               </td>
            </tr>
            <tr>
               <td colspan="4" style="background-color:white; height:50px;padding-bottom: 10px;text-align: center;">
                  <span style="font-weight: 600;color:#55565a;">
                     Mensaje enviando desde aplicación <strong style="color:#cc4865">${aplicacion}</strong>
                  </span>
               </td>            
            </tr>
            <tr>
               <td colspan="4" style="background-color:#ecf0f1;" align="center">
                    <span style="color:#969597;line-height: 1.5;display: block;font-weight: 600;margin-top: 10px;">
                        ${nombreEmpresa}
                    </span>
                </td>
            </tr>
         </table>
        </div>
   </div>   
</body>
</html>