<section class="content-header">
	<h1>Web App</h1>
	<ol class="breadcrumb">
		<li><a> Teclo </a></li>
		<li class="active">Web App</li>
	</ol>
</section>

<br>

<section class="content">


	<div class="row">
		<div class="col-md-2" />


		<div class="col-md-8">
			<div class="box box-danger fadeInLeft a-10ms">
				<div class="box-header with-border text-center">
					<h3 class="box-title">Aplicación Web</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" type="button" id="btnAlmacen"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="text-right" style="padding: 10px">
						<button class="btn btn-danger" ng-click="refreshApp()">
							<i class="fa fa-refresh fa-1g" ></i>  Actualizar aplicaciones
						</button>
					</div>

					<div class="box-body table-responsive">
						<table class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th class="center">Aplicación</th>
									<th class="center">Status</th>
									<th class="center">Comandos</th>
									<th class="center">Upload</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">
										<br/>
										{{application.name}}
									</td>
									<td class="text-center">
										<br/>
										{{application.status}}
									</td>									
									<td class="text-center">
										<br/>
										<button class="btn btn-danger" ng-disabled="application.status == 'START' || application.status == 'NO_APP'" ng-click="start()">
											<i class="fa fa-play fa-1g" ></i>  Iniciar
										</button>
										<span style="padding: 0 15px 0 15px"></span>
										<button class="btn btn-danger" ng-disabled="application.status == 'STOP' || application.status == 'NO_APP'" ng-click="stop()">
											<i class="fa fa-stop fa-1g" ></i>  Parar
										</button>
									</td>
									<td class="text-center">		
										<br/>										
																		
										<div class="input-group">
											
											<div class="input-group-addon">
												<i class="fa fa-file-o"></i>
											</div>
											
											<input type="text" class="form-control inputFile" name="logoIndex" 
												ng-required="true"
												ng-disabled="true"
												ng-model="file.files[0].name" />
<!-- 											<input type="button" class="resetearInput" value="x" name="logoIndex" onclick="angular.element(this).scope().resetFile(this);" /> -->
											
											<div class="input-group-btn">
												<input type="file" style="display:none;" accept=".jar"
													name="logoIndex" 
													id="logoIndex" 
													onchange="angular.element(this).scope().getFile(this)" 
																										
													/>
												<label for="logoIndex" class="btn btn-danger"  ng-disabled="application.status == 'START' " >
													<i class="fa fa-upload"></i>
												</label>
											</div>											
										</div>
										
										<br/>
										
										<button class="btn btn-danger" ng-click="uploadFile()" ng-disabled="application.status == 'START' ">
											<i class="fa fa-upload fa-1g" ></i>  Upload
										</button>
										
										<br/>
										<br/>
										
									</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
				<div class="box-footer"></div>
			</div>
		</div>

		<div class="col-md-2" />

	</div>


</section>