<div class="modal fade" id="{{typeModal !== 'viewPdf' ? 'aviso' : 'pdf'}}" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-{{typeModal !== 'viewPdf' ? 'md' : 'lg'}}" ng-style="typeModal == 'viewPdf' ? {'width':'90%'} : {}">
		<div class="modal-content">
			<div class="modal-header">
				<button ng-if="typeModal=='viewPdf'" type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span aria-hidden="true">&times;</span>
		       	</button>
			</div>
			<div class="modal-body">
				<div class="container" ng-if="typeModal !== 'viewPdf'">
					<div class="icono">						
						<i ng-if="typeModal=='aviso'" class="fa fa-info-circle faAviso"></i>
						<i ng-if="typeModal=='error'" class="fa fa-exclamation-circle faError"></i>
						<i ng-if="typeModal=='confirmacion'" class="fa fa-exclamation-triangle faConfirmacion"></i>
					</div>
					<div class="mensaje">
						<label>{{message}}</label>
					</div>
				</div>
				<object ng-if="typeModal == 'viewPdf'" type="application/pdf" data="{{message}}" width="100%" height="500" >Este objeto no es soportado por el navegador</object>
			</div>
			<div class="modal-footer" ng-if="typeModal !== 'viewPdf'">
				<div class="container">
					<button type="button" class="btn btn-danger"
						ng-if="typeModal=='aviso' || typeModal=='error'"
						ng-click="close(true)"
						data-dismiss="modal">
						Aceptar
					</button>
					<span ng-if="typeModal=='confirmacion'">
						<button type="button" class="btn btn-danger btnMargin"
							ng-click="close(true)"
							data-dismiss="modal">
							Aceptar
						</button>
						<button type="button" class="btn btn-danger btnMargin"
							ng-click="cancelar()"
							data-dismiss="modal">
							Cancelar
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>