<div class="modal fade" id="pdf" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" style="width: 70% !important;">
    <div class="modal-content">
        <div class="modal-header bg-red-active">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	        	<span aria-hidden="true">&times;</span>
	       	</button>
        </div>
        <div class="modal-body">
				<object type="application/pdf" data="{{message}}" width="100%" height="420" >No Support</object>
      	</div>
    </div>
  </div>
</div>