<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Monitoreo por Rutas</title>
<style>
.ol-zoom {
	left: unset !important;
	right: .5em !important;
	top: unset !important;
	bottom: 2em !important;
}

#map-canvas {
	overflow: hidden;
	height: 70vh;
	width: 100%;
}

.mapEvent1 {
	width: 16px;
	height: 16px;
	border: 1.5px solid #C2D5FF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #2A69FA;
}

.mapEvent2 {
	width: 16px;
	height: 16px;
	border: 1.5px solid #FFF5C5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FFD611;
}

.mapEvent3 {
	width: 16px;
	height: 16px;
	border: 1.5px solid #FFB9B9;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FF1414;
}

#fadeMenu {
	position: absolute;
	padding: 0.7143rem 0.7143rem 0.7143rem 0.7143rem;
	background-color: rgba(255, 255, 255, 0);
	width: 250px;
	z-index: 999;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.fading {
	opacity: 0;
	transition: .5s;
}

.mapRow:hover .form-group {
	opacity: 1;
	transition: .5s;
}

.mapRow:hover #fadeMenu {
	background-color: rgba(255, 255, 255, 0.85);
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.mapRow:hover .fading {
	opacity: 1;
	transition: .5s;
}

.inline {
	display: inline-block;
}

.resumenRuta {
	width: 20%;
	height: 66px;
}

.resumenRuta p {
	line-height: 25px;
}

.contenidoRutas {
	width: 80%;
	height: 100%;
	overflow: hidden;
}

.rutaHistorica {
	margin-left: 10px;
	margin-bottom: 0;
	padding: 0;
	display: flex;
	justify-content: normal;
	align-items: baseline;
}

.diaRutas:first-child {
	background-color: #CDCDCD;
	padding: 15px 20px;
	transition: .5s;
}

.diaRutas {
	background-color: #CDCDCD;
	cursor: pointer;
	padding: 15px 20px;
	margin-left: 15px;
	min-width: 150px;
	box-shadow: 0 1px 5px 2px rgba(0, 0, 0, .06), 0 3px 0px
		rgba(0, 0, 0, .26);
	transition: .5s;
}

.diaRutas:hover {
	background-color: #CF0A2C;
	color: #CDCDCD;
	transition: .5s;
}

.diaRutasActive {
	background-color: #CF0A2C !important;
	color: #CDCDCD !important;
	transition: .5s;
}

.diaRutas span {
	text-align: center;
}

.numeroDiaRuta {
	width: 1em;
	height: 1em;
	line-height: 1em;
	font-weight: bold;
	font-size: 3em;
}

.datoDiaRuta {
	height: 100%;
}

.datoDiaRuta p {
	height: 50%;
	margin: 0;
	margin-left: 10px;
}

.contentDisp {
	width: 250px;
}

.map:-moz-full-screen {
	height: 100% !important;
}
.map:-webkit-full-screen {
	height: 100% !important;
}
.map:-ms-fullscreen {
	height: 100% !important;
}
.map:fullscreen {
	height: 100% !important;
}
</style>
</head>
<body>
	<section class="content-header">
		<h1>{{'MONITOREO.rutas.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div id="popup"></div>
		<form role="form" name="formFiltroRutas">
			<div class="row">
				<div class="col-md-12 ">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'MONITOREO.rutas.nombreBox.tituloBox'| translate}}</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<div class="fullScreen-iconIn ngFullScreenAnimate"
								tooltip="{{'APP.Base.mensaje.salirPantallaCompleta' | translate}}"
								tooltip-placement="left"
								ng-show="fullScreenActive"
								ng-click="goFullscreen()">
								
								<i class="fa fa-close"></i>
							
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-2 col-md-offset-1">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.comboFiltroRutas.$error.required && formFiltroRutas.comboFiltroRutas.$dirty}">
										<label for="comboFiltroRutas">*{{'MONITOREO.rutas.nombreBox.filtrado.label'	| translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboFiltroRutas"
												name="comboFiltroRutas" ng-disabled="inputs.comboFiltro" select2
												data-minimum-results-for-search="Infinity"
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaComboFiltro.lista track by listaFiltro.id"
												ng-model="listaComboFiltro.valor"
												ng-change="cargaListaAgrupada(listaComboFiltro.valor)">
												<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.filtrado.seleccionar'
													| translate}}</option>
											</select>
										</div>
										<div
											ng-show="formFiltroRutas.comboFiltroRutas.$error.required && formFiltroRutas.comboFiltroRutas.$dirty"
											ng-style="{color:'red'}">{{'MONITOREO.rutas.nombreBox.filtrado.validacion'
											| translate}}</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.comboBusquedaRutas.$error.required && formFiltroRutas.comboBusquedaRutas.$dirty}">
										<label for="comboBusquedaRutas">*{{'MONITOREO.rutas.nombreBox.busqueda.label'
											| translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>

											<select class="form-control" id="comboBusquedaRutas"
												name="comboBusquedaRutas" ng-disabled="inputs.comboBusqueda" select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaAgrupamiento.lista track by listaFiltro.id"
												ng-model="listaAgrupamiento.valor"
												ng-change="cargaListaDispositivos(listaAgrupamiento.valor)">
												<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.busqueda.seleccionar'
													| translate}}</option>
											</select>
										</div>
										<div
											ng-show="formFiltroRutas.comboBusquedaRutas.$error.required && formFiltroRutas.comboBusquedaRutas.$dirty"
											ng-style="{color:'red'}">{{'MONITOREO.rutas.nombreBox.busqueda.validacion'
											| translate}}</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.comboDispositivoRutas.$error.required && formFiltroRutas.comboDispositivoRutas.$dirty}">
										<label for="comboDispositivoRutas">{{'MONITOREO.rutas.nombreBox.dispositivo.label'
											| translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-map-marker"></i>
											</div>
											<select class="form-control" id="comboDispositivoRutas"
												name="comboDispositivoRutas"
												ng-disabled="inputs.comboDispositivo" select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaDispositivo.lista track by listaFiltro.id"
												ng-model="listaDispositivo.valor"
												ng-change="buscarRutaDispositivo()"
												ng-disabled="inputs.comboDispositivo">
												<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.dispositivo.seleccionar'
													| translate}}</option>
											</select>
										</div>
										<div
											ng-show="formFiltroRutas.comboDispositivoRutas.$error.required && formFiltroRutas.comboDispositivoRutas.$dirty"
											ng-style="{color:'red'}">{{'MONITOREO.rutas.nombreBox.dispositivo.validacion'
											| translate}}</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.comboDispositivoRutas.$error.required && formFiltroRutas.comboDispositivoRutas.$dirty}">
										<label for="switchTipoBusquedaRuta">Tipo de busqueda:</label>
										<div class="input-group">
											<switcher class="swTeclo center" id-check="stMenuFijo"
												ng-model="toggleTipoBusquedaRuta"
												ng-disabled="viewMode == 1"
												ng-change="buscarPorTipoRuta()" true-label="Días"
												true-value="1" false-label="Rutas" false-value="0">
											</switcher>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-md-offset-2">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.dateInicioRutas.$error.required && formFiltroRutas.dateInicioRutas.$dirty}">
										<label for="dateInicioRutas">*{{'MONITOREO.rutas.nombreBox.fechaInicio.label'
											| translate}}:</label>
										<div class="input-group" datetime-picker
										ng-model="filtroFechas.fechaInicio"
										on-change="buscarRutaDispositivo()"
										idioma-dtp="{{currentLanguage}}"
										options="limitStartDatePicker">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>

											<input type="text" 
												ng-required="true"
												class="form-control pull-right inputFecha"
												id="dateInicioRutas" name="dateInicioRutas" readonly/>
										</div>
										<div
											ng-show="formFiltroRutas.dateInicioRutas.$error.required && formFiltroRutas.dateInicioRutas.$dirty"
											ng-style="{color:'red'}">{{'MONITOREO.rutas.nombreBox.fechaInicio.validacion'
											| translate}}</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group"
										ng-class="{'has-error': formFiltroRutas.dateFinRutas.$error.required && formFiltroRutas.dateFinRutas.$dirty}">
										<label for="dateFinRutas">*{{'MONITOREO.rutas.nombreBox.fechaFin.label'
											| translate}}:</label>
										<div class="input-group" datetime-picker
										on-change="buscarRutaDispositivo()"
										ng-model="filtroFechas.fechaFin"
										idioma-dtp="{{currentLanguage}}"
										options="limitEndDatePicker">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input ng-required="true" class="form-control pull-right inputFecha" id="dateFinRutas"
												name="dateFinRutas"readonly />
										</div>
										<div
											ng-show="formFiltroRutas.dateFinRutas.$error.required && formFiltroRutas.dateFinRutas.$dirty"
											ng-style="{color:'red'}">{{'MONITOREO.rutas.nombreBox.fechaFin.validacion'
											| translate}}</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label for="inputHabilitaSeguimiento">{{'MONITOREO.tiempoReal.nombreBox.seguimiento.label' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-crosshairs"></i>
											</div>
											<button type="button" class="form-control btn btn-danger" id="inputHabilitaSeguimiento" name="inputHabilitaSeguimiento" ng-model="toggle.etiqueta"
												ng-click="toggleSeguimiento($event)" ng-disabled="inputs.botonSeguimiento">{{ toggle.etiqueta | translate }}</button>
										</div>
		                     		</div>
								</div>
							</div>
						</div>
						<div>
							<div class="row">
								<div class="col-md-12" ng-show="viewMode==0">
									<ul class="nav nav-tabs preventClic">
										<li role="presentation" class="tabBox"
											ng-class="{'active border-box':viewMode == 0}"><a
											ng-class="{'active-border':viewMode == 0}"
											ng-click="viewMode=0">{{'MONITOREO.rutas.tabBox.grafica' | translate}}</a></li>
										<li role="presentation" class="tabBox"
											ng-class="{'active border-box':viewMode == 1}"><a
											ng-class="{'active-border':viewMode == 1}"
											ng-click="viewMode=1; toggleTipoBusquedaRuta = false">{{'MONITOREO.rutas.tabBox.tabla' | translate}}</a></li>
									</ul>
									<div>
										<div class="mapRow"
											style="position: relative; overflow: hidden;">
											<div id="fadeMenu" ng-if="listaRutas.valor.length >0">
												<div class="row">
													<div class="col-md-12 pull-left">
														<label class="fading">Filtros:</label>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<b class="fading">Eventos</b>
													</div>
													<div class="col-md-6">
														<switcher class="swTeclo center fading"
															id-check="stMenuFijo" ng-model="filtroEventos.evento"
															ng-change="aplicaFiltroEvento(filtroEventos.evento = !filtroEventos.evento)"
															true-label="<i class='fa fa-check'>" true-value="1"
															false-label="<i class='fa fa-remove'>" false-value="0">
														</switcher>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<b class="fading">Tiempo</b>
													</div>
													<div class="col-md-6">
														<switcher class="swTeclo center fading"
															id-check="stMenuFijo" ng-model="filtroEventos.tiempo"
															ng-change="aplicaFiltroEvento(filtroEventos.tiempo = !filtroEventos.tiempo)"
															true-label="<i class='fa fa-check'>" true-value="1"
															false-label="<i class='fa fa-remove'>" false-value="0">
														</switcher>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<b class="fading">Informativo</b>
													</div>
													<div class="col-md-6">
														<switcher class="swTeclo center fading"
															id-check="stMenuFijo" ng-model="filtroEventos.info"
															ng-change="aplicaFiltroEvento(filtroEventos.info = !filtroEventos.info)"
															true-label="<i class='fa fa-check'>" true-value="1"
															false-label="<i class='fa fa-remove'>" false-value="0">
														</switcher>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<b class="fading">Advertencia</b>
													</div>
													<div class="col-md-6">
														<switcher class="swTeclo center fading"
															id-check="stMenuFijo" ng-model="filtroEventos.advert"
															ng-change="aplicaFiltroEvento(filtroEventos.advert = !filtroEventos.advert)"
															true-label="<i class='fa fa-check'>" true-value="1"
															false-label="<i class='fa fa-remove'>" false-value="0">
														</switcher>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<b class="fading">Error</b>
													</div>
													<div class="col-md-6">
														<switcher class="swTeclo center fading"
															id-check="stMenuFijo" ng-model="filtroEventos.error"
															ng-change="aplicaFiltroEvento(filtroEventos.error = !filtroEventos.error)"
															true-label="<i class='fa fa-check'>" true-value="1"
															false-label="<i class='fa fa-remove'>" false-value="0">
														</switcher>
													</div>
												</div>
											</div>
											<map-for-device id="map-canvas" enableRealTime="false"
												enableCreate="false" color="defaultColor"
												allowDraggable="false" allowEvents="true" type="shapeLine"
												enableTracking="toggle.valor"
												model="listaRutas.valor" enfoqueEvento="enfocaEventoEnMapa"></map-for-device>
										</div>
									</div>
								</div>
								<div class="col-md-12" ng-show="viewMode==1">
									<ul class="nav nav-tabs preventClic">
										<li role="presentation" class="tabBox"
											ng-class="{'active border-box':viewMode == 0}"><a
											ng-class="{'active-border':viewMode == 0}"
											ng-click="viewMode=0">{{'MONITOREO.rutas.tabBox.grafica' | translate}}</a></li>
										<li role="presentation" class="tabBox"
											ng-class="{'active border-box':viewMode == 1}"><a
											ng-class="{'active-border':viewMode == 1}"
											ng-click="viewMode=1; toggleTipoBusquedaRuta = false">{{'MONITOREO.rutas.tabBox.tabla' | translate}}</a></li>
									</ul>
									<div>
										<div class="row" ng-if="copiaListaRutas.length > 0">
											<div class="col-md-6 col-xs-12">
												<h3 class="box-title">{{'MONITOREO.rutas.resultado.label' | translate}}: {{ (listaRutas.valor[0].events | filter :
													view.searchSomething).length }}</h3>
											</div>
											<div class="col-md-offset-3 col-md-3 col-xs-10">
												<div class="input-group pull-right">
													<div class="input-group-addon">
														<i class="fa fa-search"></i>
													</div>
													<input type="text" id="searchsomething"
														class="form-control" placeholder="Buscar por filtro"
														ng-model="view.searchSomething">
													<div class="input-group-addon">
														<img style="width:16px;height:16px;cursor:pointer" ng-click="generarExcel()" src="static/dist/img/excelsm.png" />
													</div>
												</div>
											</div>
										</div>
										<div class="box-body table-responsive">
											<table id="tabla_infracciones"
												class="table table-striped table-hover header-fixed">
												<thead>
													<tr ng-if="copiaListaRutas.length > 0">
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.latitud' | translate}}</th>
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.longitud' | translate}}</th>
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.direccion' | translate}}</th>
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.fecha' | translate}}</th>
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.tipo' | translate}}</th>
														<th align="center">{{'MONITOREO.rutas.resultado.tituloBox.evento' | translate}}</th>
													</tr>
												</thead>
												<tbody>
													<!-- tr dir-paginate="evento in copiaListaRutas[0].events | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: null track by $index"-->
													<tr dir-paginate="evento in copiaListaRutas[0].events | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage track by $index">
														<td class="center">{{evento.lat}}</td>
														<td class="center">{{evento.lng}}</td>
														<td class="center wrap-text"><a ng-click="eventoEnMapa(evento.key)">{{evento.direccion}}</a></td>
														<!-- td class="center wrap-text"><a ng-click="eventoEnMapa($index)">{{evento.direccion}}</a></td-->
														<td class="center">{{evento.fecha}}</td>
														<td class="center ">{{evento.tipo}}</td>
														<td class="center wrap-text">{{evento.descripcion}}</td>
													</tr>
													<tr
														ng-if="(copiaListaRutas[0].events | filter:view.searchSomething).length < 1">
														<td colspan="10" class="text-center"><h4>No se
																encontraron coincidencias</h4></td>
													</tr>
													<tr ng-if="copiaListaRutas.length < 1" >
														<td colspan="10" class="text-center"><h4>No hay registros</h4></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="container-fluid" ng-show="copiaListaRutas.length > 0">
											<div class="fixed-table-pagination" style="display: block;">
												<rows-per-page rows="view.rowsPerPage"
													filtro="view.searchSomething" array="copiaListaRutas[0].events"></rows-per-page>
												<div class="pull-right pagination">
													<dir-pagination-controls class="pagination"></dir-pagination-controls>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"
					ng-show="datosRecibidos && toggleTipoBusquedaRuta && viewMode == 0">
					<div class="box box-danger">
						<div class="box-body">
							<slide-history model="listaRutas.lista" func="cargaPuntoPorDia" info="listaRutas.info"></slide-history>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>