<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Monitoreo en Tiempo Real</title>
<style>

	.ol-zoom {
    	left: unset !important;
     	right: .5em !important;
     	top: unset !important;
     	bottom: 2em !important;
  	}
  	
	#map-canvas{
		overflow:hidden;
		height:70vh;
		width:100%;
	}
	
	#mapMarkerRT {
		width: 16px;
		height: 16px;
	    border: 1.5px solid #C9C9FF;
	    -webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		background-color: #2121FA;
	}
	
	#fadeMenu{
		position:absolute;
		padding: 0.7143rem 0.7143rem 0 0.7143rem;
		background-color:rgba(255,255,255,0);
		left:0;
		top:0;
		width:100%;
		z-index:999;
		-o-transition:.5s;
  		-ms-transition:.5s;
		-moz-transition:.5s;
 		-webkit-transition:.5s;
 		transition:.5s;
	}
	.box-body:hover .form-group{
		opacity:1;
		transition:.5s;
	}
	
	.box-body:hover #fadeMenu{
		background-color:rgba(255,255,255,0.85);
		-o-transition:.5s;
  		-ms-transition:.5s;
		-moz-transition:.5s;
 		-webkit-transition:.5s;
 		transition:.5s;
	}
	
	.inline-block{
		display:inline-block !important; 
	}
	
	.imageUser{
		width:64px;
		height:64px;
	}
	
	.contentDisp {
		width: 250px;
	}
	
	.map:-moz-full-screen {
		height: 100% !important;
	}
	.map:-webkit-full-screen {
		height: 100% !important;
	}
	.map:-ms-fullscreen {
		height: 100% !important;
	}
	.map:fullscreen {
		height: 100% !important;
	}
	
  @media (min-width: 768px) {
    .modal-xl {
      width: 90%;
     	max-width:1200px;
    }
  }
	
</style>
</head>
<body>
	<section class="content-header">
		<h1>{{'MONITOREO.tiempoReal.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
	<!-- div id="popup" class="box box-title" ng-bind-html="cargarDetalle"></div-->
	<div id="popup" ng-bind-html="cargarDetalle"></div>
			<div class="row">
				<!-- div class="col-md-3"></div-->
				<section class="col-md-12 connectedSortable">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'MONITOREO.tiempoReal.nombreBox.tituloBox' | translate}}</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<!-- div id="fadeMenu"-->
							<form role="form" name="formFiltroRastreo">
								<div class="row" >
									<div class="col-md-2">
										<div class="form-group" ng-class="{'has-error': formFiltroRastreo.comboFiltroMonitoreo.$error.required && formFiltroRastreo.comboFiltroMonitoreo.$dirty}">
											<label for="comboFiltroMonitoreo">*{{'MONITOREO.tiempoReal.nombreBox.filtracion.label' | translate}}:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-list"></i>
												</div>
												<select class="form-control" id="comboFiltroMonitoreo" name="comboFiltroMonitoreo" select2
														idioma-s2="{{currentLanguage}}" ng-required="true"
												        ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaComboFiltro.lista track by listaFiltro.id" ng-model="listaComboFiltro.valor"
												        ng-change="cargaListaAgrupada(listaComboFiltro.valor)">
												        <option value="" selected="selected">{{'MONITOREO.tiempoReal.nombreBox.filtracion.seleccionar' | translate}}</option>
												</select>
											</div>
											<div ng-show="formFiltroRastreo.comboFiltroMonitoreo.$error.required && formFiltroRastreo.comboFiltroMonitoreo.$dirty"
		                     					 ng-style="{color:'red'}">{{'MONITOREO.tiempoReal.nombreBox.filtracion.validacion' | translate}}</div>
		                     			</div>
									</div>
									<div class="col-md-3">
										<div class="form-group" ng-class="{'has-error': formFiltroRastreo.comboFiltroAgrupamiento.$error.required && formFiltroRastreo.comboFiltroAgrupamiento.$dirty}">
											<label for="comboFiltroAgrupamiento">*{{'MONITOREO.tiempoReal.nombreBox.busqueda.label' | translate}}:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-pencil"></i>
												</div>
												<select class="form-control" id="comboFiltroAgrupamiento" name="comboFiltroAgrupamiento" select2
														idioma-s2="{{currentLanguage}}" ng-required="true" 
												        ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaAgrupamiento.lista track by listaFiltro.id" ng-model="listaAgrupamiento.valor"
												        ng-change="cargaListaDispositivos(listaAgrupamiento.valor)"
												        ng-disabled="inputs.comboBusqueda">
												        <option value="" selected="selected">{{'MONITOREO.tiempoReal.nombreBox.busqueda.seleccionar' | translate}}</option>
												</select>
											</div>
											<div ng-show="formFiltroRastreo.comboFiltroAgrupamiento.$error.required && formFiltroRastreo.comboFiltroAgrupamiento.$dirty"
		                     					 ng-style="{color:'red'}">{{'MONITOREO.tiempoReal.nombreBox.busqueda.validacion' | translate}}</div>
		                     			</div>
									</div>
									<div class="col-md-3">
										<div class="form-group" ng-class="{'has-error': formFiltroRastreo.comboFiltroDispositivo.$error.required && formFiltroRastreo.comboFiltroDispositivo.$dirty}">
											<label for="comboFiltroDispositivo">{{'MONITOREO.tiempoReal.nombreBox.dispositivo.label' | translate}}:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-map-marker"></i>
												</div>
												<select class="form-control" id="comboFiltroDispositivo" name="comboFiltroDispositivo" select2
												        ng-options="listaFiltro as listaFiltro.nombre for listaFiltro in listaDispositivo.lista track by listaFiltro.id" ng-model="listaDispositivo.valor"
												        ng-change="preparaLocalizar(listaDispositivo.valor)"
														idioma-s2="{{currentLanguage}}" ng-required="true"
												        ng-disabled="inputs.comboDispositivo">
												        <option value="" selected="selected">{{'MONITOREO.tiempoReal.nombreBox.dispositivo.seleccionar' | translate}}</option>
												</select>
											</div>
											<div ng-show="formFiltroRastreo.comboFiltroDispositivo.$error.required && formFiltroRastreo.comboFiltroDispositivo.$dirty"
		                     					 ng-style="{color:'red'}">{{'MONITOREO.tiempoReal.nombreBox.dispositivo.validacion' | translate}}</div>
		                     			</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="inputHabilitaSeguimiento">{{'MONITOREO.tiempoReal.nombreBox.seguimiento.label' | translate}}:</label>
											<div class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-crosshairs"></i>
												</div>
												<button type="button" class="form-control btn btn-danger" id="inputHabilitaSeguimiento" name="inputHabilitaSeguimiento" ng-model="toggle.etiqueta"
													ng-click="toggleSeguimiento($event)" ng-disabled="inputs.botonSeguimiento">{{ toggle.etiqueta | translate }}</button>
											</div>
		                     			</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<label for="inputFrequencia">{{ 'MONITOREO.tiempoReal.nombreBox.frequencia.label' | translate }}:</label>
											<div class="input-group">
												<div class="input-group-btn" ng-if="!loaderFreq.enabled">
													<button  class="btn btn-danger "type="button" ng-disabled="inputs.botonFrequencia" ng-click="localizar({})">
														<i class="fa fa-bolt"></i>
													</button> 
												</div>
												<div class="input-group-addon" ng-if="loaderFreq.enabled">
													<img style="width:1.2rem;height:1.2rem" src="./static/dist/img/giphy.gif" />
												</div>
												
												<select class="form-control" id="inputFrequencia" name="inputFrequencia" select2
												        ng-options="listaFiltro.nombre for listaFiltro in listaFrequencia.lista" ng-model="listaFrequencia.valor"
												        data-minimum-results-for-search="Infinity"
														idioma-s2="{{currentLanguage}}" ng-required="true"
												        ng-change="configuraTimer(listaFrequencia.valor)"
												        ng-disabled="inputs.comboDispositivo">
												        <option value="" selected="selected">{{ 'MONITOREO.tiempoReal.nombreBox.frequencia.seleccionar' | translate }}</option>
												</select>
											</div>
		                     			</div>
									</div>
								</div>
							</form>
						</div>
						<div class="fullscreen">
							<map-for-device id="map-canvas" 
										    enableCreate="false" 
										    color="defaultColor" 
											allowDraggable="false"
											type="shapeLine"
											enableRealTime="true"
											enableTracking="toggle.valor"
											allowEvents="false"
											model="listaTracks"
											callback="cargarDetalle"
											callback2="cargarNotificacion"
											callback3="cargarComando"></map-for-device>
							<modal visible="showModalDetalle" size-modal="lg" noescape modalstatic>
								<modal-header title="{{translate.titulo}}"></modal-header>
								<modal-body>
									<div class="row">
										<div class="col-md-8">
											<fieldset>
											<legend>{{'MONITOREO.tiempoReal.nombreBox.detalle.dispositivoDetalle.titulo' | translate}}</legend>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="inputDetalleNombre">{{'MONITOREO.tiempoReal.nombreBox.detalle.dispositivoDetalle.nombre' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-mobile"></i>
																</div>
																<label class="form-control" id="inputDetalleNombre" name="inputDetalleNombre">{{dispDetalle.nombre}}</label>
															</div>
						                     			</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="inputDetalleImei">{{'MONITOREO.tiempoReal.nombreBox.detalle.dispositivoDetalle.imei' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-key"></i>
																</div>
																<label class="form-control" id="inputDetalleImei" name="inputDetalleImei">{{dispDetalle.imei}}</label>
															</div>
						                     			</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="inputDetalleDesc">{{'MONITOREO.tiempoReal.nombreBox.detalle.dispositivoDetalle.descripcion' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-list"></i>
																</div>
																<label class="form-control" id="inputDetalleDesc" name="inputDetalleDesc">{{dispDetalle.descripcion}}</label>
															</div>
						                     			</div>
													</div>
												</div>
											</fieldset>
										</div>
										<div class="col-md-4">
											<fieldset>
												<legend>{{'MONITOREO.tiempoReal.nombreBox.detalle.ubicacionDetalle.ubicacion' | translate}}</legend>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="inputDetalleDireccion">{{'MONITOREO.tiempoReal.nombreBox.detalle.ubicacionDetalle.direccion' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-map-marker"></i>
																</div>
																<textarea rows="3" cols="" class="form-control" id="inputDetalleDireccion" name="inputDetalleDireccion"
																	style="overflow: auto; resize: none" ng-model="dispDetalle.direccion" ng-disabled="true">
										   						</textarea>
															</div>
							                     		</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label for="inputDetalleLatitud">{{'MONITOREO.tiempoReal.nombreBox.detalle.ubicacionDetalle.coordenada' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-globe"></i>
																</div>
																<label class="form-control" id="inputDetalleLatitud" name="inputDetalleLatitud">{{dispDetalle.lat}}</label>
																<label class="form-control" id="inputDetalleLongitud" name="inputDetalleLongitud">{{dispDetalle.lon}}</label>
															</div>
							                     		</div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<fieldset>
												<legend>{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.titulo' | translate}}</legend>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="inputDetalleUsuario">{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.usuario' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-user"></i>
																</div>
																<label class="form-control" id="inputDetalleUsuario" name="inputDetalleUsuario">{{dispDetalle.usuario}}</label>
															</div>
						                     			</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label for="inputDetalleCodigo">{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.codigo' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-list"></i>
																</div>
																<label class="form-control" id="inputDetalleCodigo" name="inputDetalleCodigo">{{dispDetalle.codigo}}</label>
															</div>
						                     			</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label for="inputDetalleTelefono">{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.telefono' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-phone"></i>
																</div>
																<label class="form-control" id="inputDetalleTelefono" name="inputDetalleTelefono">{{dispDetalle.telefono}}</label>
															</div>
						                     			</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-8">
														<div class="form-group">
															<label for="inputDetalleCorreo">{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.correo' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-envelope"></i>
																</div>
																<label class="form-control" id="inputDetalleCorreo" name="inputDetalleCorreo">{{dispDetalle.correo}}</label>
															</div>
						                     			</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="inputDetalleActividad">{{'MONITOREO.tiempoReal.nombreBox.detalle.usuarioDetalle.actividad' | translate}}:</label>
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-exchange"></i>
																</div>
																<label class="form-control" id="inputDetalleActividad" name="inputDetalleActividad">{{dispDetalle.actividad}}</label>
															</div>
						                     			</div>
													</div>	
												</div>
											</fieldset>
										</div>
									</div>
								</modal-body>
								<modal-footer btn-close="Cerrar"> </modal-footer>
							</modal>
							<modal visible="showModalTRNotifica" size-modal="lg" noescape modalstatic>
								<modal-header title="Notificacion Rapida"></modal-header>
								<modal-body>
									<div class="row">
										<div class="box-body">
											<div class="row">
												<form name="formAltaNotifica" role="form" ng-submit="enviarNotificacionRapida()">
													<div class="col-md-4">
														<div class="form-group" ng-class="{'has-error': formAltaNotifica.inputNombreNotificacion.$error.required && formAltaNotifica.inputNombreNotificacion.$dirty}">	
															<label for="inputNombreNotificacion">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelName' | translate}}:</label>						
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-list"></i>
																</div>
																<input class="form-control" id="inputNombreNotificacion" name="inputNombreNotificacion" ng-required="true" ng-model="notificaVO.nombre" maxlength="50"/>
															</div>
															<div ng-show="formAltaNotifica.inputNombreNotificacion.$error.required && formAltaNotifica.inputNombreNotificacion.$dirty"
																ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionName' | translate}}</div>
														</div>
														<div class="form-group">	
															<label for="comboTipoNotificacion">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelSend' | translate}}:</label>						
															<div class="input-group">
																<div class="input-group-addon">
																	<i class="fa fa-list"></i>
																</div>
																<select class="form-control" id="comboTipoNotificacion" name="comboTipoNotificacion"
																	data-minimum-results-for-search="Infinity" select2
																	idioma-s2="{{currentLanguage}}" ng-required="true" 
																	ng-options="listaFiltro.nombre for listaFiltro in listaComboNotifica.lista" ng-model="listaComboNotifica.valor">
																</select>
															</div>
														</div>
														<div class="form-group">
															<button type="submit" class="btn btn-danger center-block" >{{ 'APP.Base.boton.enviar' | translate}}</button>		
														</div>
													</div>
													<div class="col-md-8">
														<div class="form-group" ng-class="{'has-error': formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty}">
															<label for="textareaMensaje">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelMsgs' | translate}}:</label>						
															<textarea rows="" cols="" id="textareaMensaje" name="textareaMensaje" class="form-control" ng-model="notificaVO.mensaje" style="overflow:auto;resize:none; height:155px" ng-required="true" maxlength="250">
															</textarea>
															<div ng-show="formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty"
																ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionMsgs' | translate}}</div>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</modal-body>
								<modal-footer btn-close="Cerrar"> </modal-footer>
							</modal>
							
							
							
						</div>
						</div>
					</section>
				</div>
			</div>
	</section>
		
	<div class="modal fade" id="showModalComando">
	  <div class="modal-dialog modal-xl">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{ 'COMANDOS.Modal.titulo' |translate }}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
						<div class="box-body">											
							<div class="col-md-12" ng-show="viewMode==0">
								<ul class="nav nav-tabs preventClic">
										<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 0}">
											<a ng-class="{'active-border':viewMode == 0}" ng-click="viewMode=0">
												{{'COMANDOS.Nuevo.nombreBox.tituloBoxTwo' | translate}}
											</a>
										</li>
										<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 1}">
											<a ng-class="{'active-border':viewMode == 1}" ng-click="viewMode=1; logsCommand()">
												{{'COMANDOS.Log.tituloServicio' | translate}}
											</a>
										</li>
									</ul>					
								<div class="box box-danger">
							
									<div class="row">
										<div class="col-md-12" ng-show="catalogoComandos.length > 0">							
											<br/>
											<br/>															 
											<div class="row" style="font-weight: bold;">
												<div class="col-md-6">
													<div class="row">
															<div class="text-center col-md-4">												
																{{'COMANDOS.Titulo.comando' | translate}}
															</div>															
														
															<div class="text-center col-md-4" >
																{{'COMANDOS.Titulo.activarComando' | translate}}
															</div>
															
															<div class=" text-center col-md-4" >
																{{'COMANDOS.Titulo.ejecutarComando' | translate}}
															</div>						
														</div>	
													</div>
													<div class="col-md-6">
														<div class="row">
																<div class="text-center col-md-4">												
																	{{'COMANDOS.Titulo.comando' | translate}}
																</div>															
															
																<div class="text-center col-md-4" >
																	{{'COMANDOS.Titulo.activarComando' | translate}}
																</div>
																
																<div class=" text-center col-md-4" >
																	{{'COMANDOS.Titulo.ejecutarComando' | translate}}
																</div>						
															</div>	
														</div>
												</div>								
												<br/>									
												<div class="row" ng-repeat="x in catalogoComandos">
													<div class="col-md-6">
														<div class="form-group with-border">																			
															<div class="row">
																<div class="text-center col-md-4">
																	<label>{{x.a.data.nombre}}</label>
																</div>															
															
																<div class="text-center col-md-4">
																	<switcher																				 
																		class="swTeclo"
																		id-check="stMenuFijo"
																		ng-model="x.a.model"
																		ng-change="changeDeviceModel(x.a)"											
																		true-label="<i class='fa fa-check-circle'></i>"
																		true-value="1"
																		false-label="<i class='fa fa-times-circle'></i>"
																		false-value="0">
																	</switcher>
																</div>
																
																<div class=" text-center col-md-4" >
																	<button type="button" class="btn btn-danger" 
																		ng-disabled="!x.a.show" 
																		ng-click="exec(x.a.data.id)">
																		{{'APP.Base.boton.ejecutar' | translate}}
																	</button>
																</div>						
															</div>									
														</div>
													</div>
												
													<div class="col-md-6">
														<div class="form-group with-border " ng-show="x.b.data">									
															<div class="row">
																<div class="text-center col-md-4">
																	<label>{{x.b.data.nombre}}</label>
																</div>
																	
																<div class=" text-center col-md-4">
																	<switcher																				 
																		class="swTeclo"
																		id-check="stMenuFijo"
																		ng-model="x.b.model"
																		ng-change="changeDeviceModel(x.b)"											
																		true-label="<i class='fa fa-check-circle'></i>"
																		true-value="1"
																		false-label="<i class='fa fa-times-circle'></i>"
																		false-value="0">
																	</switcher>
																</div>
																	
																<div class=" text-center col-md-4" >
																	<button type="button" class="btn btn-danger" 
																	  ng-disabled="!x.b.show" 
																	  ng-click="exec(x.b.data.id)">
																		{{'APP.Base.boton.ejecutar' | translate}}
																	</button>
																</div>
																									
															</div>									
														</div>
													</div>	
												</div>																
											<br/>				
										</div>												
									</div>												
								</div>
							</div>										
															
							<div class="col-md-12" ng-show="viewMode==1" >
								<ul class="nav nav-tabs preventClic">
										<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 0}">
											<a ng-class="{'active-border':viewMode == 0}" ng-click="viewMode=0">
												{{'COMANDOS.Nuevo.nombreBox.tituloBoxTwo' | translate}}
											</a>
										</li>
										<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 1}">
											<a ng-class="{'active-border':viewMode == 1}" ng-click="viewMode=1; logsCommand()">
												{{'COMANDOS.Log.tituloServicio' | translate}}
											</a>
										</li>
									</ul>					
									
									<div class="box box-danger">						
										<div class="box-header row">
												<div class="col-md-6">
													<h3 class="box-title">{{
														'DISPOSITIVOS.Consulta.nombreBox.tituloBoxTwo' | translate}}:
														{{(catalogoData | filter : view.searchSomething).length}}</h3>
												</div>
												
												<div class="text-center col-md-3" style="padding: 6px;">
													<a ng-click="logsCommand()">
														 <span style="margin:6px"><i class="fa fa-refresh fa-lg" ></i></span> 
														 {{'COMANDOS.Log.actualizar' | translate}} 
													</a>
												</div>
												
												<div class="col-md-3">
													<div class="input-group">
														<input id="searchsomething" type="text"
															class="form-control pull-right"
															placeholder="Buscar por filtro"
															ng-model="view.searchSomething">
														<div class="input-group-addon">
															<i class="fa fa-search"></i>
														</div>
													</div>
												</div>
											</div>
																			
											<div class="box-body table-responsive">								
												<table class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th class="center">{{'COMANDOS.TablaLog.dispositivo' | translate}}</th>
															<th class="center">{{'COMANDOS.TablaLog.comando' | translate}}</th>
															<th class="center">{{'COMANDOS.TablaLog.tipoComando' | translate}}</th>
															<th class="center">{{'COMANDOS.TablaLog.medioComunicacion' | translate}}</th>													
															<th class="center">{{'COMANDOS.TablaLog.fecha' | translate}}</th>
															<th class="center">{{'COMANDOS.TablaLog.accion' | translate}}</th>
															<th class="center">{{'COMANDOS.TablaLog.detalle' | translate}}</th>
														</tr>
													</thead>
													<tbody>
														<tr	dir-paginate="c in logComando | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="text-center">{{c.dispositivo}}</td>
															<td class="text-center">{{c.comando}}</td>												
															<td class="text-center">{{c.tipoComando}}</td>
															<td class="text-center">{{c.tipoComunicacion}}</td>
															<td class="text-center">{{c.fecha}}</td>
															<td class="text-center">
																<a ng-if="c.archivo === 'audio/3gpp'" ng-href="{{urlApi}}{{c.idArchivo}}" target="_blank">{{c.archivo}}</a>
																<a ng-if="c.archivo === 'image/jpeg'" ng-click="openModalImage(c.idArchivo)" ng-href="#">{{c.archivo}}</a>
																<a ng-if="c.gpsActual" ng-click="openModalGpsActual(c.gpsActual.split('Lattitude = ').pop().split(' Longitude = ')[0],c.gpsActual.split('Longitude = ').pop())" ng-href="#">
																	{{c.gpsActual.split('RECIBIDO: NETWORK_PROVIDER ').pop()}}
																</a>
															</td>
															<td class="text-center">
																<a ng-click="openModal(c)" class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="left" title="DETALLE"></a>	
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											
											<div class="container-fluid">
												<div class="fixed-table-pagination" style="display: block;">
													<rows-per-page rows="view.rowsPerPage"
														filtro="view.searchSomething" array="logComando"></rows-per-page>
					
													<div class="pull-right pagination">
														<dir-pagination-controls class="pagination"></dir-pagination-controls>
													</div>
												</div>
											</div>								
									</div>
							</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">{{'APP.Base.boton.cerrar' | translate}}</button>
	      </div>
	    </div>
	  </div>
	</div>	
	
	<div class="modal fade" id="showModalDetalle">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close btn-close"  onclick="$('#showModalDetalle').modal('hide');"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{ 'COMANDOS.Modal.titulo' |translate }}</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
						<div class="text-center col-md-3">		
							<div class="form-group">
					    	<label for="a">{{'COMANDOS.TablaLog.dispositivo' | translate}}</label>
					    	<p id="a">{{logComandoHeader.dispositivo}}</p>
					  	</div>
						</div>															
					
						<div class="text-center col-md-3">						
							<div class="form-group">
					    	<label for="a">{{'COMANDOS.TablaLog.comando' | translate}}</label>
					    	<p id="a">{{logComandoHeader.comando}}</p>
					  	</div>
						</div>
						
						<div class=" text-center col-md-3">
							<div class="form-group">
					    	<label for="a">{{'COMANDOS.TablaLog.tipoComando' | translate}}</label>
					    	<p id="a">{{logComandoHeader.tipoComando}}</p>
					  	</div>
						</div>						
						
						<div class=" text-center col-md-3">						
							<div class="form-group">
					    	<label for="a">{{'COMANDOS.TablaLog.medioComunicacion' | translate}}</label>
					    	<p id="a">{{logComandoHeader.tipoComunicacion}}</p>
					  	</div>
						</div>
					</div>
					<br/>
					<div class="row">
							<div class="box-body table-responsive">								
								<table class="table table-striped table-hover header-fixed">
									<thead>
										<tr>
											<th class="center">{{'COMANDOS.TablaLog.log' | translate}}</th>													
											<th class="center">{{'COMANDOS.TablaLog.estatus' | translate}}</th>
											<th class="center">{{'COMANDOS.TablaLog.fecha' | translate}}</th>										
										</tr>
									</thead>
									<tbody>
										<tr	dir-paginate="c in logComandoDetalle | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
											<td class="text-center">{{c.logs}}</td>
											<td class="text-center">									
												<span class="label" ng-style="{color : c.color}">
													{{c.status}}
												</span>
											</td>
											<td class="text-center">{{c.fecha}}</td>	
										</tr>
									</tbody>
								</table>
							</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" onclick="$('#showModalDetalle').modal('hide');">{{'APP.Base.boton.cerrar' | translate}}</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="modal fade" id="showModalImagen">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close btn-close"  onclick="$('#showModalImagen').modal('hide');"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <div id="imgLoading" style="text-align: center; margin: 90px;">
					<img class="tecloSearch" src="static/dist/img/iconTeclo.png">
					</div>
					<img id="imgModal" class="img-responsive" ng-src="{{image}}">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger"  onclick="$('#showModalImagen').modal('hide');">{{'APP.Base.boton.cerrar' | translate}}</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<div class="modal fade" id="showModalGpsActual">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close btn-close"  onclick="$('#showModalGpsActual').modal('hide');"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"></h4>
	      </div>
	      <div class="modal-body">
	        <map-for-device 
	        		id="map-canvas" 
						  enableCreate="false" 
						  color="defaultColor" 
							allowDraggable="false"
							type="shapeLine"
							enableRealTime="true"											
							allowEvents="false"
							model="listaTracks2">
					</map-for-device>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" onclick="$('#showModalGpsActual').modal('hide');">{{'APP.Base.boton.cerrar' | translate}}</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
</body>
</html>