<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Alta Notificación</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'NOTIFICACIONES.Nuevo.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<form role="form" name="formAltaNotifica" ng-submit="guardarNotificacion()" novalidate>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'NOTIFICACIONES.Nuevo.nombreBox.tituloBox' | translate}}</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group" ng-class="{'has-error': formAltaNotifica.inputNombreNotificacion.$error.required && formAltaNotifica.inputNombreNotificacion.$dirty}">	
										<label for="inputNombreNotificacion">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelName' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<input class="form-control" id="inputNombreNotificacion" name="inputNombreNotificacion" ng-required="true" ng-model="notificaVO.nombre" maxlength="50"/>
										</div>
										<div ng-show="formAltaNotifica.inputNombreNotificacion.$error.required && formAltaNotifica.inputNombreNotificacion.$dirty"
		                     					 ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionName' | translate}}</div>
									</div>
									<div class="form-group">	
										<label for="comboTipoNotificacion">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelSend' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboTipoNotificacion" name="comboTipoNotificacion"
												data-minimum-results-for-search="Infinity" select2
												idioma-s2="{{currentLanguage}}" ng-required="true" 
												ng-options="listaFiltro.nombre for listaFiltro in listaComboNotifica.lista" ng-model="listaComboNotifica.valor">
											</select>
										</div>
									</div>
									<div class="form-group" ng-show="!toggleTipoEnvio" ng-class="{'has-error': formAltaNotifica.dateFechaEnvio.$error.required && formAltaNotifica.dateFechaEnvio.$dirty}">
										<label for="dateFechaEnvio">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelDate' | translate}}:</label>
										<div class="input-group" datetime-picker
											idioma-dtp="{{currentLanguage}}"
											options="fechaProgramadaLimites"
											ng-model="dateFechaEnvio">
											
											<div class="input-group-addon labelCheck">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text"  ng-required="!toggleTipoEnvio" class="form-control pull-right inputFecha" id="dateFechaEnvio" name="dateFechaEnvio" readonly ng-disabled="toggleTipoEnvio"/>
										</div>						
										<div ng-show="formAltaNotifica.dateFechaEnvio.$error.required && formAltaNotifica.dateFechaEnvio.$dirty"
		                     					 ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionDate' | translate}}</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="form-group" ng-class="{'has-error': formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty}">
										<label for="textareaMensaje">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.labelMsgs' | translate}}:</label>						
										<textarea rows="" cols="" id="textareaMensaje" name="textareaMensaje" class="form-control" ng-model="notificaVO.mensaje" style="overflow:auto;resize:none; height:155px" ng-required="true" maxlength="250">
										</textarea>
										<div ng-show="formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty"
		                     				ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionMsgs' | translate}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<label>&nbsp;</label>
									<div class="form-group  center">
										<switcher class="swTeclo center"
											id-check="stMenuFijo"
											ng-model="toggleTipoNotificacion"
											ng-change=""
											true-label="{{'NOTIFICACIONES.Nuevo.asignacion.labelGrup' | translate}}"
											true-value="1"
											false-label="{{'NOTIFICACIONES.Nuevo.asignacion.labelDisp' | translate}}"
											false-value="0">
										</switcher>
									</div>
								</div>
								<div class="col-md-4">
									<label>&nbsp;</label>
									<div class="form-group">
										<button type="button" class="btn btn-danger fullWidth" ng-click="abrirModalDispositivo()">
										{{toggleTipoNotificacion ? 'NOTIFICACIONES.Nuevo.asignacion.botonGrup':'NOTIFICACIONES.Nuevo.asignacion.botonDisp' | translate}}{{ listaNotificaDispositivos.list.length > 0 ? listaNotificaDispositivos.list[1].items.length>0 ? ' ('+listaNotificaDispositivos.list[1].items.length+')': '':''}}</button>
										<div ng-show="formAltaNotifica.comboFiltroMonitoreo.$error.required && formAltaNotifica.comboFiltroMonitoreo.$dirty"
												ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionGrupo' | translate}}</div>
									</div>
									<modal visible="showModalAsignacion" size-modal="lg" noescape modalstatic>
										<modal-header title="{{ translate.titulo }}"></modal-header>
										<modal-body>
											<div class="form-group" ng-if="toggleTipoNotificacion" ng-class="{'has-error': formAltaNotifica.comboFiltroMonitoreo.$error.required && formAltaNotifica.comboFiltroMonitoreo.$dirty}">
												<label for="comboBusquedaFiltroDispositivo">*{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.comboGrupo' | translate}}</label>
													<div class="input-group">
													<div class="input-group-addon">
														<i class="fa fa-map-marker"></i>
													</div>
													<select class="form-control" id="comboFiltroMonitoreo"
														name="comboFiltroMonitoreo"
														data-minimum-results-for-search="Infinity" select2
														idioma-s2="{{currentLanguage}}" ng-required="true" 
														ng-change="buscarDispositivoEnGrupo(listaGrupos.valor.id)"
														ng-options="listaFiltro.nombre for listaFiltro in listaGrupos.lista"
														ng-model="listaGrupos.valor">
														<option value="" selected="selected">{{'MONITOREO.tiempoReal.nombreBox.filtracion.seleccionar' | translate}}</option>
													</select>
												</div>
												<div ng-show="formAltaNotifica.comboFiltroMonitoreo.$error.required && formAltaNotifica.comboFiltroMonitoreo.$dirty"
												ng-style="{color:'red'}">{{'NOTIFICACIONES.Nuevo.nuevaNotificacion.validacionGrupo' | translate}}</div>
											</div>
												<dnd-lists col="col-md-5" max-height="25vh"
													model="listaNotificaDispositivos.list" nb-list="titulo" nb-item="items"
													nb-texts="Identificador:,N° Serial:, Nombre:" nb-labels="idItem, srItem, txtItem"
													locker="bandera.flag" model-aux="" required-list="true"
													img-cursor=""> </dnd-lists>
										</modal-body>
										<modal-footer btn-close="Cerrar"> </modal-footer> 
										</modal>
									</div>
									<div class="col-md-4">
										<label>&nbsp;</label>
										<div class="form-group  center">
											<switcher class="swTeclo center"
												id-check="stMenuFijo"
												ng-model="toggleTipoEnvio"
												ng-change=""
												true-label="{{'NOTIFICACIONES.Nuevo.envio.labelInme' | translate}}"
												true-value="1"
												false-label="{{'NOTIFICACIONES.Nuevo.envio.labelProg' | translate}}"
												false-value="0">
											</switcher>
										</div>
									</div>
								</div>
							</div>
							<div class="box-footer">
								<div class="row">
									<div>									
										<button type="submit" class="btn btn-danger center-block" >{{ toggleTipoEnvio ? 'APP.Base.boton.enviar': 'APP.Base.boton.guardar' | translate}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>