<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Baja Notificación</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'NOTIFICACIONES.Baja.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<form role="form" name="formBajaNotificacion" novalidate>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'NOTIFICACIONES.Baja.nombreBox.label' | translate}}</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboBusquedaNotificacion" name="comboBusquedaNotificacion"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true"
													ng-change="shapeLine = tipoGeocerca.valor.id"
													ng-options="listaFiltro.nombre for listaFiltro in listaCatalogo.lista"
													ng-model="busquedaVO.tipoBusca">
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formBajaNotificacion.inputBusquedaNotificacion.$error.required && formBajaNotificacion.inputBusquedaNotificacion.$dirty}">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input class="form-control" id="inputBusquedaNotificacion" name="inputBusquedaNotificacion" ng-required="true"  ng-model="busquedaVO.busca" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-danger btn-flat" ng-click="consulta(busquedaVO.tipoBusca, busquedaVO.busca)">{{ 'APP.Base.boton.buscar' |translate}}</button>
											</span>
										</div>
										<div ng-show="formBajaNotificacion.inputBusquedaNotificacion.$error.required && formBajaNotificacion.inputBusquedaNotificacion.$dirty"
												 ng-style="{color:'red'}">{{'NOTIFICACIONES.Baja.busquedaNotificacion.comboBusqueda.validacion' | translate}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="notificaciones">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.titleBox' | translate}}: {{ (notificaciones | filter : view.searchSomething).length }}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10">
				      			<div class="input-group pull-right">
				        			<input type="text" id="searchsomething" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
				     			</div>
				     		</div> 
						
						</div>
						<div class="box-body table-responsive">
							<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th align="center">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.nombre.label' | translate}}</th>
										<th align="center">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.mensaje.label' | translate}}</th>
										<th align="center">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.fecha.label' | translate}}</th>
										<th align="center">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.grupo.label' | translate}}</th>
										<th align="center">{{ 'NOTIFICACIONES.Baja.resultadoNotificacion.eliminar.label' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="notis in notificaciones | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
										<td align="left">{{notis.nombre}}</td>
										<td class="center">{{notis.mensaje}}</td>
										<td class="center wrap-text">{{notis.fechaEnvio}}</td>
										<td class="center wrap-text">{{notis.grupo ? "Si":"No"}}</td>
										<td class="center"><a class="fa fa-times fa-2x" data-toggle="tooltip" data-placement="left" title="Eliminar" ng-click="confirmacion()"></a></td>
									</tr>
									<tr ng-if="(infracciones | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="notificaciones"></rows-per-page>
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>