<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Modifica Notificación</title>
</head>
<style>
.limitWord{
	text-overflow:ellipsis;
	width:200px;
	white-space:nowrap;
	overflow:hidden;
}
</style>
<body>
	<section class="content-header">
		<h1>{{'NOTIFICACIONES.Modifica.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form role="form" name="formModificaNotificacion" ng-submit="consulta(busquedaVO.tipoBusca.id, busquedaVO)" novalidate>
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'NOTIFICACIONES.Modifica.nombreBox.label' | translate}}</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>*{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.comboBusqueda.label' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboBusquedaNotificacion" name="comboBusquedaNotificacion"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true"
													ng-change="modoBusqueda()"
													ng-options="listaFiltro.nombre for listaFiltro in listaCatalogo.lista"
													ng-model="busquedaVO.tipoBusca">
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div ng-show="!toggleTipo" class="form-group" ng-class="{'has-error': formModificaNotificacion.inputBusquedaNotificacion.$error.required && formModificaNotificacion.inputBusquedaNotificacion.$dirty}">
										<label>*{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.valorBusqueda.label' | translate}}:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input class="form-control" id="inputBusquedaNotificacion" name="inputBusquedaNotificacion" ng-required="!toggleTipo"  ng-model="busquedaVO.busca" />
										</div>
										<div ng-show="formModificaNotificacion.inputBusquedaNotificacion.$error.required && formModificaNotificacion.inputBusquedaNotificacion.$dirty"
												ng-style="{color:'red'}">{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.valorBusqueda.validacion' | translate}}</div>
									</div>
									<div  ng-show="toggleTipo" class="form-group" ng-class="{'has-error': formModificaNotificacion.comboTipoBusquedaNotificacion.$error.required && formModificaNotificacion.comboTipoBusquedaNotificacion.$dirty}">
										<label>Valor</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboTipoBusquedaNotificacion" name="comboTipoBusquedaNotificacion"select2
													idioma-s2="{{currentLanguage}}"
													ng-required="toggleTipo"
													ng-options="listaFiltro.nombre for listaFiltro in tipoBusqueda.lista track by listaFiltro.id"
													ng-model="tipoBusqueda.valor">
													<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.filtrado.seleccionar' | translate}}</option>
											</select>
										</div>
										<div ng-show="formModificaNotificacion.comboTipoBusquedaNotificacion.$error.required && formModificaNotificacion.comboTipoBusquedaNotificacion.$dirty"
												ng-style="{color:'red'}">{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.comboBusqueda.validacion' | translate}}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.fechaBusqueda.labelInicio' | translate}}:</label>
										<div class="input-group" datetime-picker
											ng-model="busquedaVO.fInicial"
											idioma-dtp="{{currentLanguage}}"
											options="">
												<div class="input-group-addon labelCheck">
													<i class="fa fa-calendar"></i>
												</div>
												<input class="form-control pull-right inputFecha" readonly type="text" id="inputBusquedaNotiFechaInicial" name="inputBusquedaNotiFechaInicial"/>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="inputBusquedaNotiFechaFinal">{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.fechaBusqueda.labelFinal' | translate}}:</label>
										<div class="input-group" datetime-picker
											idioma-dtp="{{currentLanguage}}"
											ng-model="busquedaVO.fFinal"
											options="">
											<div class="input-group-addon labelCheck">
												<i class="fa fa-calendar"></i>
											</div>
											<input type="text" class="form-control pull-right inputFecha" id="inputBusquedaNotiFechaFinal" name="inputBusquedaNotiFechaFinal" readonly />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<div class="form-group">
										<label>{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.medioBusqueda.label' | translate}}:</label>
										<div class="input-group"
										ng-model="busquedaVO.medio"
										on-change=""
										idioma-dtp="{{currentLanguage}}">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<select class="form-control" id="comboMedioNotificacion" name="comboMedioNotificacion"select2
													idioma-s2="{{currentLanguage}}"
													data-minimum-results-for-search="Infinity"
													ng-options="lista.nombre for lista in listaMedio.lista track by lista.id"
													ng-model="listaMedio.valor">
													<option value="" selected="selected">{{'NOTIFICACIONES.Modifica.busquedaNotificacion.tipoBusqueda.medioBusqueda.todos' | translate}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<button type="submit" class="btn btn-danger btn-flat" >{{ 'APP.Base.boton.buscar' |translate}}</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
			<div class="row" ng-if="notificaciones">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.titleBox' | translate}}: {{ (notificaciones | filter : view.searchSomething).length }}</h3>
							</div>
							<div class="col-md-offset-3 col-md-3 col-xs-10">
				      			<div class="input-group pull-right">
				        			<input type="text" id="searchsomething" class="form-control" placeholder="Buscar por filtro" ng-model="viewNoti.searchSomething">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
				     			</div>
				     		</div> 
						</div>
						<div class="box-body table-responsive">
							<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
								<thead>
									<tr>
										<th align="center" class="limitWord" sort order="'nombre'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.nombre.label' | translate}}</th>
										<th align="center" class="limitWord" sort order="'mensaje'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.mensaje.label' | translate}}</th>
										<th align="center" sort order="'fecha'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.fecha.label' | translate}}</th>
										<th align="center" sort order="'tipo'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.tipo.label'| translate }}</th>
										<th align="center">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.estatus.label'| translate }}</th>
										<th align="center" sort order="'fechaCreacion'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.fechaCreacion.label'| translate }}</th>
										<th align="center">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.accion.label' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="notis in notificaciones | orderBy:order:reverse | filter:viewNoti.searchSomething  | itemsPerPage: viewNoti.rowsPerPage" pagination-id="tablaNotificacion">
										<td class="center limitWord"><a ng-click="consultaDetalle(notis.id)">{{notis.nombre}}</a></td>
										<td class="center limitWord">{{notis.mensaje}}</td>
										<td class="center">{{formatDate(notis.fecha) | date:'dd/MM/yyyy H:mm'}}</td>
										<!-- td class="center wrap-text">{{notis.grupo != 0 ? "Si":"No"}}</td-->
										<td class="center">{{notis.tipo == 1?'Push':notis.tipo == 2 ? 'Mail':notis.tipo == 3 ? 'Correo':'Desconocido'}}</td>
										<td class="center"><span class="label" ng-class="{'label-success':notis.enviado == 1 && notis.activo == 1,'label-warning':notis.enviado == 0 && notis.activo == 1, 'label-danger':notis.activo == 0}">{{notis.activo == 0 ?'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.cancelado':notis.enviado == 1 ? 'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.enviado':'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.pendiente' | translate}}</span></td>
										<td class="center">{{formatDate(notis.fechaCreacion) | date:'dd/MM/yyyy H:mm'}}</td>
										<td class="center">
											<a ng-if="notis.enviado ==0 && notis.activo == 1" href="#/actualizaNotificacion/{{notis.id}}/false"  class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="left" title="Modificar"></a>
											<a ng-if="notis.enviado ==0 && notis.activo == 1" ng-click="confirmaElim(notis)"  class="fa fa-remove fa-2x" data-toggle="tooltip" data-placement="left" title="Cancelar"></a>
											<a ng-if="notis.enviado ==1 || notis.activo == 0" href="#/actualizaNotificacion/{{notis.id}}/true"  class="fa fa-copy fa-2x" data-toggle="tooltip" data-placement="left" title="Duplicar"></a>
										</td>
									</tr>
									<tr ng-if="(notificaciones | filter:viewNoti.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="viewNoti.rowsPerPage" filtro="viewNoti.searchSomething" array="notificaciones"></rows-per-page>
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination" pagination-id="tablaNotificacion"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<modal visible="showDetalleNotificacion" size-modal="lg" noescape modalstatic>
				<modal-header title="{{'NOTIFICACIONES.Modifica.modalDetalle.tituloBox' | translate}}"></modal-header>
				<modal-body>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>{{ 'NOTIFICACIONES.Modifica.resultadoDetalleNotificacion.nombre' | translate}}</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-list"></i>
									</div>
									<input class="form-control pull-right" readonly type="text" id="inputDetalleNotificaNombre" name="inputDetalleNotificaNombre" ng-model="detalleNotifica.mensaje.nombre"/>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>{{ 'NOTIFICACIONES.Modifica.resultadoDetalleNotificacion.fecha' | translate}}</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-list"></i>
									</div>
									<input class="form-control pull-right" readonly type="text" id="inputDetalleNotificaFecha" name="inputDetalleNotificaFecha" value="{{formatDate(detalleNotifica.mensaje.fecha) | date:'dd/MM/yyyy H:mm'}}"/>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>{{ 'NOTIFICACIONES.Modifica.resultadoDetalleNotificacion.tipo'| translate }}</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-list"></i>
									</div>
									<input class="form-control pull-right" readonly type="text" id="inputDetalleNotificaTipo" name="inputDetalleNotificaTipo" ng-model="detalleNotifica.mensaje.tipo"/>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{ 'NOTIFICACIONES.Modifica.resultadoDetalleNotificacion.mensaje' | translate}}</label>
								<textarea rows="4" cols="" id="textareaDetalleNotificaMensaje" name="textareaDetalleNotificaMensaje" class="form-control" ng-model="detalleNotifica.mensaje.mensaje" style="overflow:auto;resize:none" readonly>
								</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="box box-danger">
								<div class="box-header row">
									<div class="col-md-6 col-xs-12">
										<h3 class="box-title">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.titleBox' | translate}}: {{ (detalleNotifica.usuarios | filter : view.searchSomething).length }}</h3>
									</div>
									<div class="col-md-offset-3 col-md-3 col-xs-10">
						      			<div class="input-group pull-right">
						        			<input type="text" id="searchdetailsomething" class="form-control" placeholder="Buscar por filtro" ng-model="viewDetail.searchSomething">
											<div class="input-group-addon"><i class="fa fa-search"></i></div>
						     			</div>
						     		</div>
								</div>
								<div class="box-body table-responsive">
									<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
										<thead>
											<tr>
												<th align="center" class="limitWord" sort order="'usuario'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.usuario.label' | translate}}</th>
												<th align="center" class="limitWord" sort order="'dispositivo'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.dispositivo.label' | translate}}</th>
												<th align="center">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.estatus.label' | translate}}</th>
												<th align="center" sort order="'fechaEnvio'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.fecha.label' | translate}}</th>
												<th align="center" sort order="'fechaRecepcion'" by="order" reverse="reverse">{{ 'NOTIFICACIONES.Modifica.resultadoNotificacion.fechaRecepcion.label' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr dir-paginate="usuario in detalleNotifica.usuarios | orderBy:order:reverse | filter:viewDetail.searchSomething | itemsPerPage: 5" pagination-id="tablaDetalleNotificacion">
												<td class="center limitWord">{{usuario.usuario}}</td>
												<td class="center limitWord">{{usuario.dispositivo}}</td>
												<td class="center"><span class="label" ng-class="{'label-danger':detalleNotifica.mensaje.activo == 0,'label-success':!usuario.estatus && detalleNotifica.mensaje.activo == 1,'label-warning':usuario.estatus && detalleNotifica.mensaje.activo == 1}">{{detalleNotifica.mensaje.activo == 0 ? 'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.cancelado' : usuario.estatus ? 'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.pendiente':'NOTIFICACIONES.Modifica.busquedaNotificacion.estatusNotificacion.enviado' | translate}}</span></td>
												<td class="center">{{formatDate(usuario.fechaEnvio) | date:'dd/MM/yyyy H:mm'}}</td>
												<td class="center">{{formatDate(usuario.fechaRecepcion) | date:'dd/MM/yyyy H:mm'}}</td>
											</tr>
											<tr ng-if="(detalleNotifica.usuarios | filter:viewDetail.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
										</tbody>
									</table>
								</div>
								
								<div class="container-fluid">
									<div class="fixed-table-pagination" style="display:block;">
										<rows-per-page rows="viewDetail.rowsPerPage" filtro="viewDetail.searchSomething" array="detalleNotifica.usuarios"></rows-per-page>
										<div class="pull-right pagination">
											<dir-pagination-controls class="pagination" pagination-id="tablaDetalleNotificacion"></dir-pagination-controls>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</modal-body> 
				<modal-footer btn-close="Cerrar"></modal-footer>
			</modal>
		</form>
	</section>
</body>
</html>