<html>
	<head>
		<meta charset="utf-8">
	</head>
	
	<body>
		<div class="row">
			<section class="content pb">
				<div class="row">
					<div class="col-sm-2 col-xs-1"></div>
					<div class="cont-error col-sm-8 col-xs-10">
	<!-- 					<h1 class="errorT">401</h1> -->
						<h2 class="title-exception">
							{{'APP.Base.mensaje.accesoDenegado.title' | translate}}
						</h2>
						<p class="description-exception">
							{{'APP.Base.mensaje.accesoDenegado.descripcion' | translate}}
						</p>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>