<meta charset="utf-8">

<section class="content content-error animateError">

	<div class="row centerCol">

		<div class="col-md-10">
			<h2 class="title-error">
		 	¡Ha ocurrido algo inesperado! Por favor contacte al administrador del sistema</br>

			</h2>
		</div>

		<div class="col-md-10 text-center">
			<img src="static/dist/img/teclobot-search.svg" alt="Teclobot búsqueda" height="250" />
		</div>
		<br> 
		<div class="col-md-10">
			<p class="description-error">
 			</p>
		</div>

	</div>
</section>