<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<span>{{'APP.Header.breadCrumbs.inicio' | translate}}</span>
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<!-- Info boxes -->

		<div class="row centerCol">
			<div class="col-md-8">
				<div class="box">
					<div class="box-body">
						<h2 class="title-intro">{{configuracionApp.aplicacion.nombre}}</h2>
						<img class="imgIntro"
							ng-if="configuracionApp.logoIndex != null"
							ng-src="data:image/png;base64,{{configuracionApp.logoIndex}}" />
							
						<img class="imgIntro"
							ng-if="configuracionApp.logoIndex == null"
							src="static/dist/img/ejemploLogos/medidaLIndex.png" />
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>