<html>
<head>
<meta charset="utf-8">
	<title>{{'DASHBOARD.Dispositivos.tituloServicio' | translate}}</title>
	<style>
 		.webui-popover {
 			width: 80%;
 		}
 		.opacity{
			opacity: .1;
		}
		.chartDispo .amcharts-legend-div {
  			overflow-y: auto!important;
  			max-height: 300px;
		}
	</style>
</head>

<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-4" ng-repeat="ctrl in ctrls">
				<div class="small-box {{ctrl.bgPanel}}">
					<div class="inner">
						<div class="icon">
							<i class="fa {{ctrl.icon}}"></i>
						</div>

						<div class="counter" value="ctrl.myValue"
							to="ctrl.myTarget" duration="ctrl.myDuration"
							effect="ctrl.myEffect">
							<h3>{{ctrl.myValue | number:0 }}</h3>
						</div>

						<h4>{{ctrl.nbPanel}}</h4>
					</div>
					
					<a class="small-box-footer" ng-click="toggleMoreInfo()"
						webuipopover idioma-wup="{{currentLanguage}}"
						webui-title="{{ctrl.nbPanel}}"
						webui-placement="auto"
						selector-content="{{ctrl.idPanel}}">
						{{ 'DASHBOARD.Dispositivos.tituloHistorico.activo.info' | translate }}
						<i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			
			<div class="contentMantto" id="dispActivo">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listaDispActivos.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ultregistro' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="dispActivo in listaDispActivos | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{dispActivo.nbDispositivo}}</td>
									<td class="center">{{dispActivo.nbGrupo}}</td>
									<td class="center">{{dispActivo.nbEmplead}}</td>
									<td class="center">{{dispActivo.nbUbicacion}}</td>
									<td class="center">{{dispActivo.fhRegistro}}</td>
								</tr>
							</tbody>
						</table>
						<div class="center" ng-if="listaDispActivos.length == 0">
							<h4>{{'DASHBOARD.Diario.tablaActuales.validacion' | translate}}</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="contentMantto" id="dispInactivos">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listaDispDesactivados.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ultregistro' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="dispDesa in listaDispDesactivados | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{dispDesa.nbDispositivo}}</td>
									<td class="center">{{dispDesa.nbGrupo}}</td>
									<td class="center">{{dispDesa.nbEmplead}}</td>
									<td class="center">{{dispDesa.nbUbicacion}}</td>
									<td class="center">{{dispDesa.fhRegistro}}</td>
								</tr>
							</tbody>
							<div class="center" ng-if="listaDispDesactivados.length == 0">
								<h4>{{'DASHBOARD.Dispositivos.tablaHistorico.validacion' | translate}}</h4>
							</div>
						</table>
					</div>
				</div>
			</div>
			
			<div class="contentMantto" id="dispTotales">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listDispositivos.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.estatus' | translate}}</th>
									<th>{{'DASHBOARD.Dispositivos.tablaHistorico.ultregistro' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="disp in listDispositivos | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{disp.nbDispositivo}}</td>
									<td class="center">{{disp.nbGrupo}}</td>
									<td class="center">{{disp.nbEmplead}}</td>
									<td class="center">{{disp.nbUbicacion}}</td>
									<td class="center">{{disp.stActivo ? 'Activo':'Inactivo'}}</td>
									<td class="center">{{disp.fhRegistro}}</td>
								</tr>
							</tbody>
						</table>
						<div class="center" ng-if="listDispositivos.length == 0">
							<h4>{{'DASHBOARD.Dispositivos.tablaHistorico.validacion' | translate}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<div class="row">
							<div class="col-md-12">
								<h3 class="box-title ng-binding">{{'DASHBOARD.Dispositivos.graficaGrupos.titulo' | translate}}</h3>
							</div>
						</div>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-header with-border">
						<div class="col-md-6">
							<form role="form" name="formGraficaGE" novalidate>	
								<div class="" ng-class="{'has-error': formGraficaGE.inputMesGraficaGE.$error.required && formGraficaGE.inputMesGraficaGE.$dirty }">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-window-restore"></i>
										</div>
										<select class="form-control" select2  id="inputMesGraficaGE" name="inputMesGraficaGE" 
											data-minimum-results-for-search="Infinity"
											idioma-s2="{{currentLanguage}}" ng-required="true"
											ng-model="listaMeses.valor"
											ng-options="mes.nombre for mes in listaMeses.lista track by mes.id"
											ng-change="buscarEventosPorGrupo()">
										</select>
									</div>
									<div ng-show="formGraficaGE.inputMesGraficaGE.$error.required && formGraficaGE.inputMesGraficaGE.$dirty"
										ng-style="{color:'red'}">{{'DASHBOARD.Dispositivos.graficaGrupos.labels.validacion' | translate | translate}}</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<switcher class="swTeclo pull-right" id-check="stMenuFijo"
								ng-model="a" ng-change="orderarEventosPorGrupo()"
								true-label="{{ 'DASHBOARD.Dispositivos.graficaGrupos.orden.des' | translate }}" true-value="true"
								false-label="{{ 'DASHBOARD.Dispositivos.graficaGrupos.orden.asc' | translate }}" false-value="false">
							</switcher>	
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12" ng-show="viewMode.grupo==0">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.grupo == 0}"><a
										ng-class="{'active-border':viewMode.grupo == 0}"
										ng-click="viewMode.evento=0">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.grupo == 1}"><a
										ng-class="{'active-border':viewMode.grupo == 1}"
										ng-click="viewMode.grupo=1;">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabs.grafica' | translate }}</a></li>

								</ul>
								<div class="row">
									<div class="col-md-12">
										<div style="height:299px!important;position:relative;overflow:hidden">
											<div class="box-body table-responsive" ng-show="grafica.grupo.data.length > 0">
												<table id="tabla_grupos" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabla.labelGr' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="grupo in grafica.grupo.data | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{grupo.tcNombre}}</td>
															<td class="center">{{grupo.tcConteo}}</td> 
														</tr>
														<tr ng-if="(grupo | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div class="box-body table-responsive" ng-if="grafica.grupo.data == undefined">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabla.labelGr' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="grupo in grafica.grupo.vacio | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{grupo.tcNombre}}</td>
															<td class="center">{{grupo.tcConteo}}</td> 
														</tr>
														<tr ng-if="(grupo | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div ng-if="grafica.grupo.data == undefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0; background-color: rgba(255,255,255,0.6)">
													<h3>{{ 'DASHBOARD.Dispositivos.graficaGrupos.validacion' | translate }}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" ng-show="viewMode.grupo==1">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.grupo == 0}"><a
										ng-class="{'active-border':viewMode.grupo == 0}"
										ng-click="viewMode.grupo=0">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.grupo == 1}"><a
										ng-class="{'active-border':viewMode.grupo == 1}"
										ng-click="viewMode.grupo=1;">{{ 'DASHBOARD.Dispositivos.graficaGrupos.tabs.grafica' | translate }}</a></li>

								</ul>
								<div class="row">
									<div class="col-md-12">
										<div style="position:relative;height:100%;">
											<div class="amCharts" id="eventosPorGrupo" ng-class="{'opacity': grafica.grupo.data == undefined}"></div>
											<div ng-if="grafica.grupo.data == undefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;">
												<h3>{{ 'DASHBOARD.Dispositivos.graficaGrupos.validacion' | translate }}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<div class="row">
							<div class="col-md-12">
								<h3 class="box-title ng-binding">{{'DASHBOARD.Dispositivos.graficaDispositivo.tituloBox.titulo' | translate}}</h3>								
							</div>
						</div>	
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" type="button" data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-header with-border">
						<form name="formGraficaED" role="form">
							<div class="row">
								<div class="col-md-6">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-window-restore"></i>
										</div>
										<select class="form-control" select2 name="comboGraficaMesED" 
											data-minimum-results-for-search="Infinity"
											idioma-s2="{{currentLanguage}}" ng-required="true"
											ng-model="camposDispo.valor"
											ng-options="mes.nombre for mes in camposDispo.lista track by mes.id"
											ng-change="buscarEventosPorDispositivo()">
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<switcher class="swTeclo pull-right" id-check="stMenuFijo"
										ng-model="b" ng-change="orderarEventosPorDispositivo()"
										true-label="{{ 'DASHBOARD.Dispositivos.graficaDispositivo.orden.des' | translate }}" true-value="true"
										false-label="{{ 'DASHBOARD.Dispositivos.graficaDispositivo.orden.asc' | translate }}" false-value="false">
									</switcher>	
								</div>
							</div>
						</form>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12" ng-show="viewMode.dispo==0">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispo == 0}"><a
										ng-class="{'active-border':viewMode.dispo == 0}"
										ng-click="viewMode.dispo=0">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabs.tabla' | translate}}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispo == 1}"><a
										ng-class="{'active-border':viewMode.dispo == 1}"
										ng-click="viewMode.dispo=1">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabs.grafica' | translate}}</a></li>
								</ul>
								<div class="row">
									<div class="col-md-12">
										<div style="height:299px!important;position:relative;overflow:hidden">
											<div class="box-body table-responsive" ng-show="grafica.dispo.tabla.data.length > 0">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabla.labelDi' | translate}}</th>
															<th align="center">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabla.labelCo' | translate}}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="dispo in grafica.dispo.tabla.data | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center"><a ng-click="buscarGraficaEventosPorDispositivo(dispo.tcIdDispo)">{{dispo.tcNombre}}</a></td>
															<td class="center">{{dispo.tcConteo}}</td> 
														</tr>
														<tr ng-if="(actual | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div class="box-body table-responsive" ng-if="grafica.dispo.tabla.data == undefined">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabla.labelDi' | translate}}</th>
															<th align="center">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabla.labelCo' | translate}}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="dispo in grafica.dispo.tabla.vacio | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{dispo.tcNombre}}</td>
															<td class="center">{{dispo.tcConteo}}</td> 
														</tr>
														<tr ng-if="(dispo | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div ng-if="grafica.dispo.tabla.data == undefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0; background-color: rgba(255,255,255,0.6)">
												<h3>{{ 'DASHBOARD.Dispositivos.graficaDispositivo.validacion.tabla' | translate }}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" ng-show="viewMode.dispo==1">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispo == 0}"><a
										ng-class="{'active-border':viewMode.dispo == 0}"
										ng-click="viewMode.dispo=0">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabs.tabla' | translate}}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispo == 1}"><a
										ng-class="{'active-border':viewMode.dispo == 1}"
										ng-click="viewMode.dispo=1">{{'DASHBOARD.Dispositivos.graficaDispositivo.tabs.grafica' | translate}}</a></li>
								</ul>
								<div style="position:relative;height:100%;">
									<div class="amCharts chartDispo" id="eventosDispositivoHist" ng-class="{'opacity': grafica.dispo.data == undefined}"></div>
									<div ng-if="grafica.dispo.data == undefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;">
										<h3>{{ 'DASHBOARD.Dispositivos.graficaDispositivo.validacion.grafica' | translate }}</h3>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header with-border ">
						<form name="formEventosAnual">
							<div class="row">
								<div class="col-md-3" style="line-height:2.5;">
									<h3 class="box-title ng-binding">{{'DASHBOARD.Dispositivos.graficaAnual.titulo' | translate}}</h3>								
								</div>
								<div class="col-md-3">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-window-restore"></i>
										</div>
										<select class="form-control" select2 id="comboGraficaGrupoAnual" 
											idioma-s2="{{currentLanguage}}" ng-required="true"
											ng-model="camposAnual.grupo.valor"
											ng-options="grupo.nombre for grupo in camposAnual.grupo.lista track by grupo.id"
											ng-change="buscarDispositivos(camposAnual.grupo.valor.id); buscarEventoAnual()">
											<option value="" selected="selected">{{'DASHBOARD.Dispositivos.graficaAnual.campos.grupo.todos' | translate}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-3">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-window-restore"></i>
										</div>
										<select class="form-control" select2 id="comboGraficaDispoAnual"
											idioma-s2="{{currentLanguage}}" ng-required="true"
											ng-model="camposAnual.dispo.valor"
											ng-options="dispo.nombre for dispo in camposAnual.dispo.lista track by dispo.id"
											ng-change="buscarEventoAnual()">
											<option value="" selected="selected">{{'DASHBOARD.Dispositivos.graficaAnual.campos.dispo.todos' | translate}}</option>
										</select>
									</div>
								</div>
								<div class="col-md-2">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-window-restore"></i>
										</div>
										<select class="form-control" select2 name="comboGraficaAnioAnual" 
											idioma-s2="{{currentLanguage}}" ng-required="true"
											ng-model="listaAnios.valor"
											ng-options="anio.nombre for anio in listaAnios.lista track by anio.id"
											ng-change="buscarEventoAnual()">											
										</select>
									</div>
								</div>
								<div class="col-md-1">
									<div class="box-tools pull-right">
										<button class="btn btn-box-tool" type="button"
											data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div style="position:relative; height:100%;">
									<div class="amCharts" id="eventoAnual" ng-class="{'opacity': grafica.anual.data == undefined}"></div>
									<div ng-if="grafica.anual.data == undefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;">
										<h3>{{ 'DASHBOARD.Dispositivos.graficaAnual.validacion' | translate }}</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>