<html>
<head>
<meta charset="utf-8">
	<title>{{'DASHBOARD.dispositivos.tituloServicio' | translate}}</title>
	<style>
 		.webui-popover {
 			width: 80%;
 		}
		.opacity{
			opacity: .1;
		}
		#multiAmCharts{
			flex: 1;
			display: flex;
			overflow: auto;
			justify-content: space-between;
		}
		.eventoChart{
			min-width:150px !important;
			height:200px !important;
			margin-right: 10px;
		}
		.eventoChart:first-child{
			margin-left: 10px;
		}
	</style>
</head>

<body>
	<section class="content-header">
		<h1>{{breadCrumbs.servicio}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-4" ng-repeat="ctrl in panelDiario">

				<div class="small-box {{ctrl.bgPanel}}">
					<div class="inner">
						<div class="icon">
							<i class="fa fa-mobile"></i>
						</div>
						<img ng-if="carga.resumen" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
						<div class="counter" value="ctrl.myValue"
							to="ctrl.myTarget" duration="ctrl.myDuration"
							effect="ctrl.myEffect">
							<h3 ng-show="!carga.resumen">{{ctrl.myValue | number:0 }}</h3>
						</div>

						<h4>{{ctrl.nbPanel}}</h4>
					</div>
					<a class="small-box-footer" ng-click="toggleMoreInfo()"
						webuipopover idioma-wup="{{currentLanguage}}"
						webui-title="{{ctrl.nbPanel}}"
						webui-placement="auto"
						selector-content="{{ctrl.idPanel}}">
						{{'DASHBOARD.Diario.tituloActuales.activo.info' | translate}}
						<i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			
			<div class="contentMantto" id="dispEnLinea">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listaDispActivos.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.estatus' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="dispActivo in listaDispActivos | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{dispActivo.nbDispositivo}}</td>
									<td class="center">{{dispActivo.nbGrupo}}</td>
									<td class="center">{{dispActivo.nbEmplead}}</td>
									<td class="center">{{dispActivo.nbUbicacion}}</td>
									<td class="center">ACTIVO</td>
								</tr>
							</tbody>
						</table>
						<div class="center" ng-if="listaDispActivos.length == 0">
							<h4>{{'DASHBOARD.Diario.tablaActuales.validacion' | translate}}</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="contentMantto" id="dispHaceRato">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listaDispHaceRato.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.ultregistro' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="dispInac in listaDispHaceRato | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{dispInac.nbDispositivo}}</td>
									<td class="center">{{dispInac.nbGrupo}}</td>
									<td class="center">{{dispInac.nbEmplead}}</td>
									<td class="center">{{dispInac.nbUbicacion}}</td>
									<td class="center">{{fechaActivas(dispInac.fhRegistro)}}</td>
								</tr>
							</tbody>
						</table>
						<div class="center" ng-if="listaDispHaceRato.length == 0">
							<h4>{{'DASHBOARD.Diario.tablaActuales.validacion' | translate}}</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="contentMantto" id="dispFueraLinea">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover header-fixed" ng-if="listaDispSinReportar.length > 0">
							<thead>
								<tr>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreDisp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreGrup' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.nombreEmp' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.ubicacion' | translate}}</th>
									<th>{{'DASHBOARD.Diario.tablaActuales.ultregistro' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="disp in listaDispSinReportar | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center wrap-text">{{disp.nbDispositivo}}</td>
									<td class="center">{{disp.nbGrupo}}</td>
									<td class="center">{{disp.nbEmplead}}</td>
									<td class="center">{{disp.nbUbicacion}}</td>
									<td class="center">{{fechaActivas(disp.fhRegistro)}}</td>
								</tr>
							</tbody>
						</table>
						<div class="center" ng-if="listaDispSinReportar.length == 0">
							<h4>{{'DASHBOARD.Diario.tablaActuales.validacion' | translate}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<div class="row">
							<div class="col-md-12" style="line-height:2.5;">
								<h3 class="box-title ng-binding">{{ 'DASHBOARD.Diario.graficaEventos.titulo' | translate }}</h3>
							</div>
						</div>	
					
						<div class="box-tools pull-right">
							<switcher class="swTeclo" id-check="stMenuFijo"
								ng-model="a" ng-change="ordenarEventosActuales()"
								true-label="{{ 'DASHBOARD.Diario.graficaEventos.orden.des' | translate }}" true-value="true"
								false-label="{{ 'DASHBOARD.Diario.graficaEventos.orden.asc' | translate }}" false-value="false">
							</switcher>	
							<button class="btn btn-box-tool" type="button"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12" ng-show="viewMode.evento==0">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.evento == 0}"><a
										ng-class="{'active-border':viewMode.evento == 0}"
										ng-click="viewMode.evento=0">{{ 'DASHBOARD.Diario.graficaEventos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.evento == 1}"><a
										ng-class="{'active-border':viewMode.evento == 1}"
										ng-click="viewMode.evento=1; toggleTipoBusquedaRuta = false">{{ 'DASHBOARD.Diario.graficaEventos.tabs.grafica' | translate }}</a></li>

								</ul>
								<div class="row">
									<div class="col-md-12">
										<div style="height:299px!important;position:relative;overflow:hidden">
											<div class="box-body table-responsive" ng-show="grafica.evento.data.length > 0">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Diario.graficaEventos.tabla.labelEv' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Diario.graficaEventos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="eventoActual in grafica.evento.data | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{eventoActual.tcNombre}}</td>
															<td class="center">{{eventoActual.tcConteo}}</td> 
														</tr>
														<tr ng-if="(eventoActual | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div class="box-body table-responsive" ng-if="grafica.evento.data == udefined">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Diario.graficaEventos.tabla.labelEv' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Diario.graficaEventos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="eventoActual in grafica.evento.vacio | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{eventoActual.tcNombre}}</td>
															<td class="center">{{eventoActual.tcConteo}}</td> 
														</tr>
														<tr ng-if="(eventoActual | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div ng-if="grafica.evento.data == udefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0; background-color: rgba(255,255,255,0.6)" ng-if="grafica.evento.data == undefined">
													<h3 ng-if="!carga.grafica.evento">{{ 'DASHBOARD.Diario.graficaEventos.validacion' | translate }}</h3>
													<img ng-if="carga.grafica.evento" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" ng-show="viewMode.evento==1">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.evento == 0}"><a
										ng-class="{'active-border':viewMode.evento == 0}"
										ng-click="viewMode.evento=0">{{ 'DASHBOARD.Diario.graficaEventos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.evento == 1}"><a
										ng-class="{'active-border':viewMode.evento == 1}"
										ng-click="viewMode.evento=1; toggleTipoBusquedaRuta = false">{{ 'DASHBOARD.Diario.graficaEventos.tabs.grafica' | translate }}</a></li>
								</ul>
								<div style="position:relative;height:100%;">
									<div class="amCharts" id="EventosDiarios" ng-class="{'opacity':grafica.evento.data == undefined}" ng-disabled="grafica.evento.data == undefined"></div>
									<div style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;" ng-if="grafica.evento.data == undefined">
										<h3 ng-if="!carga.grafica.evento">{{ 'DASHBOARD.Diario.graficaEventos.validacion' | translate }}</h3>
										<img ng-if="carga.grafica.evento" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<div class="row">
							<div class="col-md-12" style="line-height:2.5;">
								<h3 class="box-title ng-binding">{{ 'DASHBOARD.Diario.graficaDispositivos.titulo' | translate }}</h3>
							</div>
						</div>	
					
						<div class="box-tools pull-right">
							<switcher class="swTeclo" id-check="stMenuFijo"
								ng-model="b" ng-change="ordenarDispositivosActuales()"
								true-label="Desc" true-value="true"
								false-label="Asc" false-value="false">
							</switcher>	
							<button class="btn btn-box-tool" type="button"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12" ng-show="viewMode.dispos==0">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispos == 0}"><a
										ng-class="{'active-border':viewMode.dispos == 0}"
										ng-click="viewMode.dispos=0">{{ 'DASHBOARD.Diario.graficaDispositivos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispos == 1}"><a
										ng-class="{'active-border':viewMode.dispos == 1}"
										ng-click="viewMode.dispos=1">{{ 'DASHBOARD.Diario.graficaDispositivos.tabs.grafica' | translate }}</a></li>

								</ul>
								<div class="row">
									<div class="col-md-12">
										<div style="height:299px!important;position:relative;overflow:hidden">
											<div class="box-body table-responsive" ng-show="grafica.evento.data.length > 0">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Diario.graficaDispositivos.tabla.labelDi' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Diario.graficaDispositivos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="disposActuales in grafica.dispos.data | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center"><a ng-click="grafica.dispos.seleccion = disposActuales; buscarDispositivoActual()">{{disposActuales.tcNombre}}</a></td>
															<td class="center">{{disposActuales.tcConteo}}</td> 
														</tr>
														<tr ng-if="(disposActuales | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div class="box-body table-responsive" ng-if="grafica.dispos.data == udefined">
												<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
													<thead>
														<tr>
															<th align="center">{{ 'DASHBOARD.Diario.graficaDispositivos.tabla.labelDi' | translate }}</th>
															<th align="center">{{ 'DASHBOARD.Diario.graficaDispositivos.tabla.labelCo' | translate }}</th>
														</tr>
													</thead>
													<tbody>
														<tr dir-paginate="disposActuales in grafica.dispos.vacio | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
															<td class="center">{{disposActuales.tcNombre}}</td>
															<td class="center">{{disposActuales.tcConteo}}</td> 
														</tr>
														<tr ng-if="(disposActuales | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
													</tbody>
												</table>
											</div>
											<div ng-if="grafica.dispos.data == udefined" style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0; background-color: rgba(255,255,255,0.6)" ng-if="grafica.evento.data == undefined">
													<h3 ng-if="!carga.grafica.dispos">{{ 'DASHBOARD.Diario.graficaDispositivos.validacion' | translate }}</h3>
													<img ng-if="carga.grafica.dispos" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12" ng-show="viewMode.dispos==1">
								<ul class="nav nav-tabs preventClic">
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispos == 0}"><a
										ng-class="{'active-border':viewMode.dispos == 0}"
										ng-click="viewMode.dispos=0">{{ 'DASHBOARD.Diario.graficaDispositivos.tabs.tabla' | translate }}</a></li>
									<li role="presentation" class="tabBox"
										ng-class="{'active border-box':viewMode.dispos == 1}"><a
										ng-class="{'active-border':viewMode.dispos == 1}"
										ng-click="viewMode.dispos=1">{{ 'DASHBOARD.Diario.graficaDispositivos.tabs.grafica' | translate }}</a></li>
								</ul>
								<div style="position:relative;height:100%;">
									<div class="amCharts" id="DispositivosDiarios" ng-class="{'opacity':grafica.dispos.data == undefined}"></div>
									<div style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;" ng-if="grafica.dispos.data == undefined">
										<h3 ng-if="!carga.grafica.dispos">{{ 'DASHBOARD.Diario.graficaDispositivos.validacion' | translate }}</h3>
										<img ng-if="carga.grafica.dispos" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box box-danger">
					<div class="box-header with-border ">
						<div class="row">
							<div class="col-md-12">
								<h3 class="box-title">{{ 'DASHBOARD.Diario.graficaEventosPorDispositivo.titulo' | translate }} <span ng-if="grafica.dispo.nombre != undefined">{{ 'DASHBOARD.Diario.graficaEventosPorDispositivo.concat' | translate }} {{grafica.dispo.nombre}}</span></h3>								
							</div>
						</div>
						<div class="box-tools pull-right">
							<switcher class="swTeclo" id-check="stMenuFijo"
								ng-model="c" ng-change="ordenarDispositivoActual()"
								true-label="{{ 'DASHBOARD.Diario.graficaEventosPorDispositivo.orden.des' | translate }}" true-value="true"
								false-label="{{ 'DASHBOARD.Diario.graficaEventosPorDispositivo.orden.asc' | translate }}" false-value="false">
							</switcher>	
							<button class="btn btn-box-tool" type="button"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div id="multiAmCharts" ng-class="{'opacity':grafica.dispo.data == undefined}">
								</div>
								<div style="position:absolute;width:100%;height:100%;display: flex; justify-content: center; align-items: center; top:0;" ng-if="grafica.dispo.data == undefined">
									<h3 ng-if="!carga.grafica.dispo">{{ 'DASHBOARD.Diario.graficaEventosPorDispositivo.validacion' | translate }} '{{ 'DASHBOARD.Diario.graficaDispositivos.titulo' | translate }}'</h3>
									<img ng-if="carga.grafica.dispo" style="z-index:3;width:2rem;height:2rem" src="./static/dist/img/loading.gif" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>