<meta charset="UTF-8">
	<section class="content-header">
		<h1>{{'MANTENIMIENTO.Nuevo.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>

	<section class="content">
		<form name="altaMantenimiento" novalidate>
			<div class="row centerRow">
				<div class="col-md-6">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">
							{{'MANTENIMIENTO.Nuevo.nombreBox.tituloBox' | translate}}</h3>
						</div>
						<div class="box-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.nombreMantenimiento.$invalid && altaMantenimiento.nombreMantenimiento.$dirty) }">
										<label>*{{'MANTENIMIENTO.Nuevo.nombreBox.nuevoMantenimiento.label' | translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-desktop"></i>
											</div>
											<input type="text" class="form-control"
												name="nombreMantenimiento" ng-required="true"
												ng-model="mantenimientoVO.nombre" maxlength="50" />
										</div>
										<div
										ng-show="altaMantenimiento.nombreMantenimiento.$error.required && altaMantenimiento.nombreMantenimiento.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.nuevoMantenimiento.validacion' | translate}}</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" 
									ng-class="{'has-error': (altaMantenimiento.tipoMantenimient.$invalid && altaMantenimiento.tipoMantenimient.$dirty) }">
										<label>*{{'MANTENIMIENTO.Nuevo.nombreBox.tipoMantenimiento.label' | translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>
											<select class="form-control" id="tipoMantenimient" name="tipoMantenimient" 
												data-minimum-results-for-search="Infinity" select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-model="mantenimientoVO.mantenimiento"
												ng-options="tpMant.nombre for tpMant in tipoMantenimiento">
												<option value="" selected="selected">{{'MANTENIMIENTO.Nuevo.nombreBox.tipoMantenimiento.seleccionar' | translate}}</option>
											</select>
										</div>
										<div
											ng-show="altaMantenimiento.tipoMantenimient.$error.required && altaMantenimiento.tipoMantenimient.$dirty"
											ng-style="{color:'red'}">El tipo de mantenimiento es
											requerido</div>
									</div>
								</div>
							</div>
							<div class="row">
								
								
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.fechaI.$invalid && altaMantenimiento.fechaI.$dirty) }">
										<label for="example1">*{{'MANTENIMIENTO.Nuevo.nombreBox.fecha.fechaUno' | translate}}</label>
										<div class="input-group bootstrap-timepicker">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>

											<input class="form-control inputFecha" id="fechaIng"
												name="fechaI" date-picker idioma-dp="{{currentLanguage}}"
												ng-required="true" mindate="mantenimientoVO.fechaRecepcion"
												elemento="'fechaEnt'"
												ng-model="mantenimientoVO.fechaRecepcion" readonly />
										</div>
										<div
										ng-show="altaMantenimiento.fechaI.$error.required && altaMantenimiento.fechaI.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.fecha.validacionUno' | translate}}</div>
									</div>
								</div>
								
								<!-- FECHA DE ENTREGA ESTIMADA -->
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.fechaEE.$invalid && altaMantenimiento.fechaEE.$dirty) }">
										<label for="example1">*{{'MANTENIMIENTO.Nuevo.nombreBox.fecha.fechaTres' | translate}}</label>
										<div class="input-group bootstrap-timepicker">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input class="form-control inputFecha" id="fechaEnt"
												name="fechaES" date-picker idioma-dp="{{currentLanguage}}"
												ng-required="true" maxdate="mantenimientoVO.fechaEntregaEstimada"
												elemento="'fechaIng'"
												ng-model="mantenimientoVO.fechaEntregaEstimada" readonly />
										</div>
										<div
										ng-show="altaMantenimiento.fechaI.$error.required && altaMantenimiento.fechaEE.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.fecha.validacionTres' | translate}}</div>
									</div>
								</div>
								
							</div>
							
							
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.dispos.$invalid && altaMantenimiento.dispos.$dirty) }">
										<label>*{{'MANTENIMIENTO.Nuevo.nombreBox.dispositivo.label' | translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-window-restore"></i>
											</div>
											<select class="form-control" name="dispos"
												id="resolucionesApp" select2 ng-required="true"												
												idioma-s2="{{currentLanguage}}"
												ng-model="mantenimientoVO.dispositivo"												
												ng-options="disP as disP.nombre for disP in dispositivos">
													<option value="" selected="selected">{{'MANTENIMIENTO.Nuevo.nombreBox.dispositivo.seleccionar' | translate}}</option>
											</select>
										</div>
										<div
										ng-show="altaMantenimiento.dispos.$error.required && altaMantenimiento.dispos.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.dispositivo.validacion' | translate}}</div>
									</div>
								</div>								
								
								<div class="col-sm-6">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.imei.$invalid && altaMantenimiento.imei.$dirty) }">
										<label class="popoverTemas labelCheck">*{{'MANTENIMIENTO.Nuevo.nombreBox.imei.label' | translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-desktop"></i>
											</div>
											<input type="text" class="form-control" name="imei" disabled="disabled"
												ng-required="true"
												ng-model="mantenimientoVO.dispositivo.imei" maxlength="200" />
										</div>
										<div
										ng-show="altaMantenimiento.imei.$error.required && altaMantenimiento.imei.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.imei.validacion' | translate}}</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group"
										ng-class="{'has-error': (altaMantenimiento.descripcion.$invalid && altaMantenimiento.descripcion.$dirty) }">
											<label>*{{'MANTENIMIENTO.Nuevo.nombreBox.descripcion.label' | translate}}</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-desktop"></i>
											</div>
											<input type="text" class="form-control"
												name="descripcion" ng-required="true"
												ng-model="mantenimientoVO.descripcion" maxlength="200" />
										</div>
										<div
										ng-show="altaMantenimiento.descripcion.$error.required && altaMantenimiento.descripcion.$dirty"
										ng-style="{color:'red'}">{{'MANTENIMIENTO.Nuevo.nombreBox.descripcion.validacion' | translate}}</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12 text-center">
									<button class="btn btn-danger" ng-click="save()">{{'APP.Base.boton.aceptar' | translate}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
