<meta charset="utf-8" />

<strong>
	Derechos de Autor &copy; {{properties.currentYear}} 
	<a href="http://teclomexicana.mx/" target="_blank">
		Teclo Mexicana.
	</a>
	Todos los Derechos Reservados.
</strong>

<strong>
	Versión: {{properties.versionApp}}
</strong>