<meta charset="utf-8" />

<div class="appLogo">
	<a href="#/">
		<img src="static/dist/img/logoTeclo.png" />
	</a>	
</div>

<nav class="contentAccess" ng-class="{'contentAccessMovil':modeMovil}">
	<ul class="access" ng-class="{'accessMovil':modeMovil}">
		

		
		<li class="liAccess active" id="orders">
			<a href="#/webapp" ng-if="properties.isLogin">
				<span>Web App</span> 
			</a>			
		</li>
		
		<li class="liAccess" id="sucursals-nav">
			<a href="#/log" ng-if="properties.isLogin">
				<span>Logs</span>
			</a>
		</li>
		
		
		
		<li class="access-btn ngOnlyEnter" ng-if="!properties.isLogin">
			<!-- El ng-click se ejecuta en el templateControler -->
			<button class="btn btn-danger" ng-click="properties.isToastLogin=true;">
				Acceder <i class="fa fa-chevron-right"></i>
			</button>
		</li>
		<li class="access-btn ngOnlyEnter" ng-if="properties.isLogin">
			
			<a ng-click="headflags.isProfileUser = !headflags.isProfileUser;">
				<i class="fa fa-user-circle" style="font-size:1.2rem;"></i>
				<strong>{{ 'Admin' }}</strong>
			</a>

			<div class="profileuser ngFadeUp"
				ng-if="headflags.isProfileUser">

				<div class="profileuser-media">
					<img src="static/dist/img/user-profile.png"
						class="imguser"
						alt="Imagen de usuario">
					<h4 class="nameuser">{{ 'Admin' }}</h4>					
				</div>
				<div class="profileuser-items noneSelectedUser">
					
				</div>
				<div class="profileuser-btn">
					
					<a class="btn" ng-click="properties.isToastLogout=true;">
						Cerrar sesión
					</a>
				</div>
			</div>
		</li>
	</ul>
</nav>

<div class="fondoHamburguer" ng-if="showCoatingHamburguer" ng-click="hamburger()"></div>

<div class="contHamburguer visible-xs" ng-click="hamburger()">
	<button class="hamburger hamburger--slider-r">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
</div>

<!-- TOAST LOGOUT -->
<div class="content-toast ngOnlyOut" ng-if="properties.isToastLogout"
	style="z-index:10022 !important;">

	<div class="toast box-login">
		<div class="toast-header">
			<div class="icon-title">
				<div class="icon"><i class="fa fa-info"></i></div>
				<div class="title">CERRAR SESIÓN </div>
			</div>
			<div class="closetoast" ng-click="properties.isToastLogout=false;"><i class="fa fa-times"></i></div>
		</div>
		<div class="toast-body">
			<label>
				¿Seguro que desea salir de la sesión actual?
			</label>
		</div>
		<div class="toast-footer">
			<div class="centerRowAround">
				<a class="btn fadeInDown a-10ms"
					ng-click="properties.isToastLogout=false;">
					Quedarse
				</a>
				<button class="btn btn-danger fadeInDown a-10ms"
					ng-click="logoutCC()">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>

<div class="fakecontainer" ng-click="headflags.isProfileUser=false;"
	ng-if="headflags.isProfileUser">
</div>
<div class="fakecontainer" ng-click="headflags.isNotification=false;"
	ng-if="headflags.isNotification">
</div>