<toast is-toast="properties.isToastLogin"
	icon-toast="fa-user"
	title-toast="Inicio de sesión"
	hidden-close="true"
	backdrop-toast="false"
	uppercase-title="true">

	<toast-content>
		<div class="row centerCol">

            <div class="request" ng-if="properties.isRequestLogin">
                <div class="spinner-grow text-red md zoomIn a-10ms"
                    role="status">
                </div>
                <label>Iniciando sesión</label>
            </div>

			<div class="col-xs-12 col-md-11 fadeInDown a-10ms">
				<div class="form-group">
					<label>
						<span class="asteriskReq">*</span> Usuario:
					</label>
					<div class="input-group">
						<div class="input-group-addon"> 
							<i class="fa fa-user"></i> 
						</div> 
						<input class="form-control" name="user" 
							ng-model="user" />
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-11 fadeInUp a-10ms">
				<div class="form-group">
					<label>
						<span class="asteriskReq">*</span> Contraseña:
					</label>
					<div class="input-group">
						<div class="input-group-addon"> 
							<i class="fa fa-lock"></i> 
						</div> 
						<input class="form-control" name="license" type="password"
							ng-model="pass" />
					</div>
				</div>
			</div>
		</div>
		


		<div class="centerRowAround">
		
			<button class="btn btn-danger fadeInDown a-10ms"
				ng-click="loginCC(user,pass)">
				Iniciar sesión <i class="fa fa-paper-plane"></i>
			</button>
		</div>
	</toast-content>
</toast>