<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Comando</title>
<style>
	#map-canvas{
		overflow:hidden;
		height:70vh;
		width:100%;
	}
</style>
</head>
<body>
	<section class="content-header">
		<h1>Comando</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">		
		<br/>
		<form role="form" name="formAltaComando2">			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 ">
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'COMANDOS.Nuevo.nombreBox.tituloBox' | translate}}</h3>
						</div>
						<div class="box-body">
							<div class="row">
								
								<div class="col-md-3">
									<div class="form-group" ng-class="{'has-error': formAltaComando.comboFiltroComando.$error.required && formAltaComando.comboFiltroComando.$dirty}">	
										<label for="comboFiltroComando">*{{'COMANDOS.Nuevo.filtrado.label' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboFiltroComando" name="comboFiltroComando" 
												data-minimum-results-for-search="Infinity" select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-disabled="inputs.comboFiltro"
												ng-options="listaFiltro.nombre for listaFiltro in listaComboFiltro.lista" ng-model="listaComboFiltro.valor"
												ng-change="changeFiltro(listaComboFiltro.valor)">
												<option value="" selected="selected">{{'COMANDOS.Nuevo.filtrado.seleccionar' | translate}}</option>
											</select>
										</div>
										<div ng-show="formAltaComando.comboFiltroComando.$error.required && formAltaComando.comboFiltroComando.$dirty"
		                     					 ng-style="{color:'red'}">{{'COMANDOS.Nuevo.filtrado.validacion' | translate}}</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group" ng-class="{'has-error': formAltaComando.comboBuscaComando.$error.required && formAltaComando.comboBuscaComando.$dirty}">
										<label for="comboBuscaComando">*{{'COMANDOS.Nuevo.busqueda.label' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
											<select class="form-control" id="comboBuscaComando" name="comboBuscaComando" 
												select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-disabled="disabledBusqueda"
												ng-options="lista.nombre for lista in listaAgrupacion.lista" ng-model="listaAgrupacion.valor"
												ng-change="changeBusqueda(listaAgrupacion.valor)">
												<option value="" selected="selected">{{'COMANDOS.Nuevo.busqueda.seleccionar' | translate}}</option>
											</select>
										</div>
										<div ng-show="formAltaComando.comboBuscaComando.$error.required && formAltaComando.comboBuscaComando.$dirty"
		                     					 ng-style="{color:'red'}">{{'COMANDOS.Nuevo.busqueda.validacion' | translate}}</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group" ng-class="{'has-error': formAltaComando.comboDispositivoComando.$error.required && formAltaComando.comboDispositivoComando.$dirty}">
										<label for="comboDispositivoComando">*{{'COMANDOS.Nuevo.dispositivo.label' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
											<select class="form-control" id="comboDispositivoComando" name="comboDispositivoComando" 
												select2
												idioma-s2="{{currentLanguage}}" ng-required="true"
												ng-disabled="disabledDispositivo"
												ng-options="listaFiltro.nombre for listaFiltro in listaDispositivo.lista" ng-model="listaDispositivo.valor"
												ng-change="busqueda()"
												>
												<option value="" selected="selected">{{'COMANDOS.Nuevo.dispositivo.seleccionar' | translate}}</option>
											</select>
										</div>
										<div ng-show="formAltaComando.comboDispositivoComando.$error.required && formAltaComando.comboDispositivoComando.$dirty"
		                     					 ng-style="{color:'red'}">{{'COMANDOS.Nuevo.dispositivo.validacion' | translate}}</div>
									</div>
								</div>
								
								<div class="col-md-3">
									<div class="form-group" ng-class="{'has-error': formAltaComando.selectMedioComunicacion.$error.required && formAltaComando.selectMedioComunicacion.$dirty}">
										<label>*{{'COMANDOS.Nuevo.medio.label' | translate}}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list-ul"></i>
											</div>
											<select class="form-control"  
												data-minimum-results-for-search="Infinity"
												select2 id="selectMedioComunicacion" name="selectMedioComunicacion"
												idioma-s2="{{currentLanguage}}" ng-required="true"												
												ng-options="x.nombre for x in listaMedioComunicacion.lista" 
												ng-model="listaMedioComunicacion.valor"
												ng-change="busqueda()"
												>
												
											</select>
										</div>
										<div ng-show="formAltaComando.selectMedioComunicacion.$error.required && formAltaComando.selectMedioComunicacion.$dirty"
		                     					 ng-style="{color:'red'}">{{'COMANDOS.Nuevo.dispositivo.validacion' | translate}}</div>										
									</div>
								</div>								
							</div>
							
						
							
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			
			
			
			
			
			
			<div class="row" ng-show="showTabs">
				<div class="col-md-2"></div>
				
				<div class="col-md-8" ng-show="viewMode==0">
						<ul class="nav nav-tabs preventClic">
								<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 0}">
									<a ng-class="{'active-border':viewMode == 0}" ng-click="viewMode=0">
										{{'COMANDOS.Nuevo.nombreBox.tituloBoxTwo' | translate}}
									</a>
								</li>
								<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 1}">
									<a ng-class="{'active-border':viewMode == 1}" ng-click="viewMode=1; logsCommand()">
										{{'COMANDOS.Log.tituloServicio' | translate}}
									</a>
								</li>
							</ul>					
						<div class="box box-danger">
													
						<div class="row">									
							<div class="col-md-12" ng-show="catalogoComandos.length > 0">							
								<br/>
								<br/>															 
								<div class="row" style="font-weight: bold;">
									<div class="col-md-6">
										<div class="row">
												<div class="text-center col-md-4">												
													{{'COMANDOS.Titulo.comando' | translate}}
												</div>															
											
												<div class="text-center col-md-4" ng-show="webComponentes.activarComando.show">
													{{'COMANDOS.Titulo.activarComando' | translate}}
												</div>
												
												<div class=" text-center col-md-4" ng-show="webComponentes.ejecutarComando.show">
													{{'COMANDOS.Titulo.ejecutarComando' | translate}}
												</div>						
											</div>	
										</div>
										<div class="col-md-6">
											<div class="row">
													<div class="text-center col-md-4">												
														{{'COMANDOS.Titulo.comando' | translate}}
													</div>															
												
													<div class="text-center col-md-4" ng-show="webComponentes.activarComando.show">
														{{'COMANDOS.Titulo.activarComando' | translate}}
													</div>
													
													<div class=" text-center col-md-4" ng-show="webComponentes.ejecutarComando.show">
														{{'COMANDOS.Titulo.ejecutarComando' | translate}}
													</div>						
												</div>	
											</div>
									</div>								
									<br/>									
									<div class="row" ng-repeat="x in catalogoComandos">
										<div class="col-md-6">
											<div class="form-group with-border">																			
												<div class="row">
													<div class="text-center col-md-4">
														<label>{{x.a.data.nombre}}</label>
													</div>															
												
													<div class="text-center col-md-4" ng-show="webComponentes.activarComando.show">
														<switcher
															ng-disabled="webComponentes.activarComando.disabled" 
															class="swTeclo"
															id-check="stMenuFijo"
															ng-model="x.a.model"
															ng-change="changeDeviceModel(x.a)"											
															true-label="<i class='fa fa-check-circle'></i>"
															true-value="1"
															false-label="<i class='fa fa-times-circle'></i>"
															false-value="0">
														</switcher>
													</div>
													
													<div class=" text-center col-md-4" ng-show="webComponentes.ejecutarComando.show">
														<button type="button" class="btn btn-danger" 
															ng-disabled="!x.a.show || webComponentes.ejecutarComando.disabled" 
															ng-click="exec(x.a.data.id)">
															{{'APP.Base.boton.ejecutar' | translate}}
														</button>
													</div>						
												</div>									
											</div>
										</div>
									
										<div class="col-md-6">
											<div class="form-group with-border " ng-show="x.b.data">									
												<div class="row">
													<div class="text-center col-md-4">
														<label>{{x.b.data.nombre}}</label>
													</div>
														
													<div class=" text-center col-md-4" ng-show="webComponentes.activarComando.show">
														<switcher
															ng-disabled="webComponentes.activarComando.disabled" 
															class="swTeclo"
															id-check="stMenuFijo"
															ng-model="x.b.model"
															ng-change="changeDeviceModel(x.b)"											
															true-label="<i class='fa fa-check-circle'></i>"
															true-value="1"
															false-label="<i class='fa fa-times-circle'></i>"
															false-value="0">
														</switcher>
													</div>
														
													<div class=" text-center col-md-4" ng-show="webComponentes.ejecutarComando.show">
														<button type="button" class="btn btn-danger" 
														  ng-disabled="!x.b.show || webComponentes.ejecutarComando.disabled" 
														  ng-click="exec(x.b.data.id)">
															{{'APP.Base.boton.ejecutar' | translate}}
														</button>
													</div>
																						
												</div>									
											</div>
										</div>	
									</div>																
								<br/>				
							</div>
							
							<div class="col-md-12" ng-show="catalogoComandos.length === 0">
									<p style=" margin: 20px;text-align: center;font-weight: bold;">
										{{'COMANDOS.disponibles' | translate}}
									</p>
							</diV>
							
						</div>	
										
					</div>
				</div>
				
				<div class="col-md-8" ng-show="viewMode==1" >
						<ul class="nav nav-tabs preventClic">
								<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 0}">
									<a ng-class="{'active-border':viewMode == 0}" ng-click="viewMode=0">
										{{'COMANDOS.Nuevo.nombreBox.tituloBoxTwo' | translate}}
									</a>
								</li>
								<li role="presentation" class="tabBox" ng-class="{'active border-box':viewMode == 1}">
									<a ng-class="{'active-border':viewMode == 1}" ng-click="viewMode=1; logsCommand()">
										{{'COMANDOS.Log.tituloServicio' | translate}}
									</a>
								</li>
							</ul>					
							
							<div class="box box-danger">						
								<div class="box-header row">
										<div class="col-md-6">
											<h3 class="box-title">{{
												'DISPOSITIVOS.Consulta.nombreBox.tituloBoxTwo' | translate}}:
												{{(catalogoData | filter : view.searchSomething).length}}</h3>
										</div>
										
										<div class="text-center col-md-3" style="padding: 6px;">
											<a ng-click="logsCommand()">
												 <span style="margin:6px"><i class="fa fa-refresh fa-lg" ></i></span> 
												 {{'COMANDOS.Log.actualizar' | translate}} 
											</a>
										</div>
										
										<div class="col-md-3">
											<div class="input-group">
												<input id="searchsomething" type="text"
													class="form-control pull-right"
													placeholder="Buscar por filtro"
													ng-model="view.searchSomething">
												<div class="input-group-addon">
													<i class="fa fa-search"></i>
												</div>
											</div>
										</div>
									</div>
																	
									<div class="box-body table-responsive">								
										<table class="table table-striped table-hover header-fixed">
											<thead>
												<tr>
													<th class="center">{{'COMANDOS.TablaLog.dispositivo' | translate}}</th>
													<th class="center">{{'COMANDOS.TablaLog.comando' | translate}}</th>
													<th class="center">{{'COMANDOS.TablaLog.tipoComando' | translate}}</th>
													<th class="center">{{'COMANDOS.TablaLog.medioComunicacion' | translate}}</th>													
													<th class="center">{{'COMANDOS.TablaLog.fecha' | translate}}</th>
													<th class="center">{{'COMANDOS.TablaLog.accion' | translate}}</th>
													<th class="center">{{'COMANDOS.TablaLog.detalle' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr	dir-paginate="c in logComando | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
													<td class="text-center">{{c.dispositivo}}</td>
													<td class="text-center">{{c.comando}}</td>												
													<td class="text-center">{{c.tipoComando}}</td>
													<td class="text-center">{{c.tipoComunicacion}}</td>
													<td class="text-center">{{c.fecha}}</td>
													<td class="text-center">
														<a ng-if="c.archivo === 'audio/3gpp'" ng-href="{{urlApi}}{{c.idArchivo}}" target="_blank">{{c.archivo}}</a>
														<a ng-if="c.archivo === 'image/jpeg'" ng-click="openModalImage(c.idArchivo)" ng-href="#">{{c.archivo}}</a>
														<a ng-if="c.gpsActual" ng-click="openModalGpsActual(c.gpsActual.split('Lattitude = ').pop().split(' Longitude = ')[0],c.gpsActual.split('Longitude = ').pop())" ng-href="#">
															{{c.gpsActual.split('RECIBIDO: NETWORK_PROVIDER ').pop()}}
														</a>
													</td>
													<td class="text-center">
														<a ng-click="openModal(c)" class="fa fa-pencil fa-2x" data-toggle="tooltip" data-placement="left" title="DETALLE"></a>	
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									
									<div class="container-fluid">
										<div class="fixed-table-pagination" style="display: block;">
											<rows-per-page rows="view.rowsPerPage"
												filtro="view.searchSomething" array="logComando"></rows-per-page>
			
											<div class="pull-right pagination">
												<dir-pagination-controls class="pagination"></dir-pagination-controls>
											</div>
										</div>
									</div>								
							</div>
					</div>
					
				</div>
				
						
			</div>			
		</form>		
		<br/>
	</section>
			
	
	<modal visible="showModal" size-modal="lg" noescape modalstatic>
		<modal-header
			title="{{ 'COMANDOS.Modal.titulo' |translate }}">		
		</modal-header> 
		
		<modal-body>
			<br/>
			<div class="row">
					<div class="text-center col-md-3">		
						<div class="form-group">
				    	<label for="a">{{'COMANDOS.TablaLog.dispositivo' | translate}}</label>
				    	<p id="a">{{logComandoHeader.dispositivo}}</p>
				  	</div>
					</div>															
				
					<div class="text-center col-md-3">						
						<div class="form-group">
				    	<label for="a">{{'COMANDOS.TablaLog.comando' | translate}}</label>
				    	<p id="a">{{logComandoHeader.comando}}</p>
				  	</div>
					</div>
					
					<div class=" text-center col-md-3">
						<div class="form-group">
				    	<label for="a">{{'COMANDOS.TablaLog.tipoComando' | translate}}</label>
				    	<p id="a">{{logComandoHeader.tipoComando}}</p>
				  	</div>
					</div>						
					
					<div class=" text-center col-md-3">						
						<div class="form-group">
				    	<label for="a">{{'COMANDOS.TablaLog.medioComunicacion' | translate}}</label>
				    	<p id="a">{{logComandoHeader.tipoComunicacion}}</p>
				  	</div>
					</div>
				</div>	
			</div>
		
		
			<br/>
			
			<div class="row">
					<div class="box-body table-responsive">								
						<table class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th class="center">{{'COMANDOS.TablaLog.log' | translate}}</th>													
									<th class="center">{{'COMANDOS.TablaLog.estatus' | translate}}</th>
									<th class="center">{{'COMANDOS.TablaLog.fecha' | translate}}</th>										
								</tr>
							</thead>
							<tbody>
								<tr	dir-paginate="c in logComandoDetalle | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="text-center">{{c.logs}}</td>
									<td class="text-center">									
										<span class="label" ng-style="{color : c.color}">
											{{c.status}}
										</span>
									</td>
									<td class="text-center">{{c.fecha}}</td>	
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</modal-body> 
		
		<modal-footer btn-close="{{'APP.Base.boton.cerrar' | translate}}"></modal-footer>
	</modal>
		
		
	<modal visible="showModalImage" size-modal="lg" noescape modalstatic>
		<modal-header
			title="{{ 'COMANDOS.Modal.image' |translate }}">		
		</modal-header> 
		
		<modal-body>
			<div id="imgLoading" style="text-align: center; margin: 90px;">
				<img class="tecloSearch" src="static/dist/img/iconTeclo.png">
			</div>
			<img id="imgModal" class="img-responsive" ng-src="{{image}}">
		</modal-body> 
		
		<modal-footer btn-close="{{'APP.Base.boton.cerrar' | translate}}"></modal-footer>
	</modal>	
		
		
	<modal visible="showModalGpsActual" size-modal="lg" noescape modalstatic>
		<modal-header
			title="{{ 'COMANDOS.Modal.image' |translate }}">		
		</modal-header> 
		
		<modal-body>			
				<map-for-device id="map-canvas" 
										  enableCreate="false" 
										  color="defaultColor" 
											allowDraggable="false"
											type="shapeLine"
											enableRealTime="true"											
											allowEvents="false"
											model="listaTracks">
				</map-for-device>
		</modal-body> 
		
		<modal-footer btn-close="{{'APP.Base.boton.cerrar' | translate}}"></modal-footer>
	</modal>		
		
	
</body>
</html>