<div class="row">
	<div class="col-md-12" ng-if="listaDias.length > 0">
		<div class="resumenRuta inline pull-left center middle">
			<p>Ruta de {{info.nombre}}</p>
			<h4>periodo del {{ rangoFecha }}</h4>
		</div>
		<div class="contenidoRutas inline pull-right" id="contenidoRutas">
			<div class="rutaHistorica" id="rutaHistorica" >
				<div  ng-repeat="dia in listaDias track by $id(dia)">
					<div class="diaRutas inline" ng-click="callback(dia.id)" ng-class="{'diaRutasActive': validaSeleccion(dia.id)}">
						<span class="numeroDiaRuta inline">{{ dia.numeroDia }}</span>
						<div class="datoDiaRuta inline">
							<p>{{ dia.dia }}</p>
							<p>{{ dia.mes }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>