<section class="content-header">
	<h1>Log</h1>
	<ol class="breadcrumb">
		<li><a> Teclo </a></li>
		<li class="active">Log</li>
	</ol>
</section>
<br>
<section class="content">

	<div class="row">

		<div class="col-md-4"/>

		<div class="col-md-4">
			<div class="box box-danger fadeInLeft a-10ms">
				<div class="box-header with-border text-center">
					<h3 class="box-title">Logs</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-box-tool" type="button" id="btnAlmacen"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">		
					<div class="form-group">
						<label>Log a descargar:</label>
						<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-database"></i>
							</div>
							<select class="form-control" name="typeSearchSeg"
								id="typeSearchSeg" select2
								data-minimum-results-for-search="Infinity"								
								ng-model="selectLog"
								ng-options="x.name for x in logs">
							</select>
						</div>
					</div>						
				</div>
				<div class="box-footer">
					<div class="row centerRow">					
						<a class="btn btn-danger" ng-disabled="selectLog.name == null"
							ng-href="{{urlConfig}}/server/download?name={{selectLog.name}}" >
							<i class="fa fa-download"></i>  Descargar</a>
					</div>
				</div>
			</div>
		</div>		
		
		<div class="col-md-4"/>

	</div>

</section>
