<html>
<head>
<meta charset="utf-8">
<title>{{'ADMINISTRACION.Logs.administracion.modificacionLog.tituloServicio' | translate}}</title>
</head>
<body>
	<section class="content-header">		
		<h1>Modificación de Logs</h1>
		<ol class="breadcrumb">
			<li>
				<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}</a>
			</li>
			<li>
				<a href="#/administracionLogs">{{breadCrumbs.servicio}}</a>
			</li>
			<li class="active">
				Modificación de Logs
			</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="box box-danger">
					<div class="box-header with-border">
						<div align="center">
							<h3 class="box-title">{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.tituloBox' | translate}}</h3>
						</div>
					</div>

				<div class="box-body">
					<form name="userForm" novalidate>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<!-- Nombre Log -->
								<div class="form-group" ng-class="{ 'has-error' : userForm.logNombre.$invalid && !userForm.logNombre.$pristine }">
									<label>*{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.nombre' | translate}}:</label>
									<div class="input-group">
										<span class="input-group-addon"> <i
											class="fa fa-file-text-o "></i>
										</span> 
										<input type="text" name="logNombre" class="form-control" ng-model="consultaId.logNombre" required maxlength="100">
									</div>
									<span ng-if="userForm.logNombre.$invalid && !userForm.logNombre.$pristine"
										class="help-block">El nombre log es requerido</span>
								</div>
							</div>
							
							<div class="col-xs-12 col-md-6">
								<!--Ruta Archivos-->
								<div class="form-group" ng-class="{ 'has-error' : userForm.rutaArchivos.$invalid && !userForm.rutaArchivos.$pristine }">
									<label>*{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.ruta' | translate}}</label>
									<div class="input-group">
										<span class="input-group-addon"> <i
											class="fa fa-folder-open"></i>
										</span> 
										<input maxlength="500" type="text" name="rutaArchivos" class="form-control"
											ng-model="consultaId.rutaArchivo" required>
									</div>
									<span ng-if="userForm.rutaArchivos.$invalid && !userForm.rutaArchivos.$pristine" class="help-block">La ruta del archivo es requerida</span>
								</div>											
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group" ng-class="{ 'has-error' : userForm.tipoExtensiones.$invalid && !userForm.tipoExtensiones.$pristine }">
									<label>*{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.extension' | translate}}</label>
									<div class="input-group">
										<span class="input-group-addon"> <i
											class="fa fa-ellipsis-v"></i>
										</span> 
										<span> 
											<input data-toggle="tooltip" data-placement="bottom"
											title="Separadas por pipes ( | )" type="text"  maxlength="500"
											name="tipoExtensiones" class="form-control" ng-model="consultaId.tipoExtensiones" required>
										</span>
									</div>
									<span
										ng-if="userForm.tipoExtensiones.$invalid && !userForm.tipoExtensiones.$pristine"
										class="help-block">El tipo de extensión es requerido</span>
								</div>
							</div>
							
							<div class="col-xs-12 col-md-6">
								<div class="form-group" ng-class="{ 'has-error' : userForm.logDescripcion.$invalid && !userForm.logDescripcion.$pristine }">
									<label>*{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.extension' | translate}}</label>
									<textarea style="overflow: auto; resize: none"
										name="logDescripcion" class="form-control"
										ng-model="consultaId.logDescripcion" rows="2" cols="10"
										maxlength="500" required></textarea>
									<span ng-if="userForm.logDescripcion.$invalid && !userForm.logDescripcion.$pristine"
										class="help-block">La descripción es requerida</span>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-12 text-center">
								<button class="btn btn-danger" ng-click="modificarLog(consultaId)">
									{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxGeneral.btnGuardar' | translate}}
								</button>
							</div>
						</div>
						
						
					</form>
				</div>
			</div>
		</div>
	</div>
						<div class="row">
							<div  class="col-md-offset-1 col-md-10">
								<div>
									<div class="box box-danger" align="center">
										<div class="box-header with-border">
											<div align="center">
												<h2 class="box-title">{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.tituloBox' | translate}}</h2>
											</div>
										</div>
										<div class="box-body text-left">
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-12 text-center">
														<label>{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.perfilesActivos' | translate}}</label>
													</div>
												</div>
												<div class="row" style="border-bottom: 1px solid #F4F4F4;">
													<div class="col-sm-12 text-left">
														<label>{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.nombrePerfil' | translate}}</label>
													</div>
												</div>
												<div class="pre-scrollable" style="max-height: 280px;">
													<div class="row"
														style="padding: 5px 0; border-bottom: 2px solid #DDDDDD; margin-right: 3px;"
														ng-repeat="acti in activos">
														<div class="col-xs-10 text-left">{{acti.comboEtiqueta}}</div>
														<div class="col-xs-2">
															<button class="btn btn-xs btn-danger" tooltip="{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.toolTipEliminar' | translate}}" tooltip-placement="left"
																ng-click="eliminar(acti.comboValor)">
																<i class="fa fa-minus"></i>
															</button>
														</div>
													</div>
												</div>

											</div>
											<div class="hidden-md hidden-lg hidden-xl">
												<br /> <br />
											</div>
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-12 text-center">
														<label>{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.perfilesInactivos' | translate}}</label>
													</div>
												</div>
												<div class="row" style="border-bottom: 1px solid #F4F4F4;">
													<div class="col-sm-12 text-left">
														<label>{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.nombrePerfil' | translate}}</label>
													</div>
												</div>
												<div class="pre-scrollable" style="max-height: 280px;">
													<div class="row"
														style="padding: 5px 0; border-bottom: 2px solid #DDDDDD; margin-right: 3px;"
														ng-repeat="inac in noActivos">
														<div class="col-xs-10 text-left">{{inac.comboEtiqueta}}</div>
														<div class="col-xs-2">
															<button class="btn btn-xs btn-success" tooltip="{{'ADMINISTRACION.Logs.administracion.modificacionLog.boxPerfiles.toolTipAgregar' | translate}}" tooltip-placement="left"
																ng-click="agregar(inac.comboValor)">
																<i class="fa fa-plus"></i>
															</button>
														</div>
													</div>
												</div>

											</div>
										</div>
										<div class="box-footer text-left">
											<a type="button" class="btn" ng-click="doTheBack()">
												<i class="fa fa-arrow-circle-left"></i>
												{{'ADMINISTRACION.Logs.administracion.modificacionLog.btnRegresar' | translate}}
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					
				</section>


</body>
</html>
