<html>
<head>
<meta charset="utf-8">
<title>{{'ADMINISTRACION.Logs.administracion.tituloServicio' | translate}}</title>
</head>
<body>

	<section class="content-header">
		<h1 >{{'ADMINISTRACION.Logs.administracion.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li>
				<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}</a>
			</li>
			<li class="active">
				{{breadCrumbs.servicio}}
			</li>
		</ol>
	</section>

	<!-- Main content -->

	<section class="content">	   	
			<div class="row" ng-if="logsActivos.length > 0">
				<div class="col-xs-12">
					<div class="box box-danger">
						<div class="box-header row">
						
							<div class="col-md-6 col-xs-12">
								<h3 class="box-title">{{'ADMINISTRACION.Logs.administracion.tablaResultados.registrosEncontrados' | translate}} {{ (logsActivos | filter:view.searchSomething).length }}</h3>	
							</div>
							<div class="col-md-offset-2 col-md-3 col-xs-10">
								<div class="input-group">
									<input id="searchsomething" type="text" class="form-control" placeholder="{{'ADMINISTRACION.Logs.administracion.tablaResultados.filtrarPor' | translate}} " ng-model="view.searchSomething">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
								</div>
							</div>
							<div class="col-md-1 col-xs-1">
								<a ng-click="showNuevoLog()" data-toggle="tooltip" data-placement="bottom"  class="btn btn-danger pull-right" role="button" title="Crear Log">
									<i class="fa fa-file-code-o" aria-hidden="true"></i>
								</a> 
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							
							<table class="table table-hover header-fixed table-striped">
								<thead align="center">
									<tr align="center">
										<th sort order="'logNombre'"     by="order" reverse="reverse" class="text-center">{{'ADMINISTRACION.Logs.administracion.tablaResultados.log' | translate}}</th>
										<th sort order="'logDescripcion'"     by="order" reverse="reverse" class="text-center">{{'ADMINISTRACION.Logs.administracion.tablaResultados.descripcion' | translate}}</th>
										<th sort order="'rutaArchivos'"     by="order" reverse="reverse" class="text-center">{{'ADMINISTRACION.Logs.administracion.tablaResultados.ruta' | translate}}</th>
										<th sort order="'estado1'"     by="order" reverse="reverse" class="text-center">{{'ADMINISTRACION.Logs.administracion.tablaResultados.estatus' | translate}}</th>
										<th class="text-center">{{'ADMINISTRACION.Logs.administracion.tablaResultados.modificar' | translate}}</th>
									</tr>
								</thead>
								<tbody align="center">
									<tr dir-paginate="activos in logsActivos | orderBy:order:reverse  | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									
										<td><p class="wrap-text">{{activos.logNombre}}</p></td>
										<td><p class="wrap-text">{{activos.logDescripcion}}</p></td>			
										<td><p class="wrap-text">{{activos.rutaArchivos}}</p></td>
										<td>
											
											
											<div >
													<div>
													{{activos.logEstatus != '0' ? 'Habilitado':'Deshabilitado' | uppercase}}
													<button type="button"
													ng-class="activos.logEstatus != '1' ? 'btn btn-xs btn-success' : 'btn btn-xs btn-danger'"
													aria-label="Left Align" data-toggle="tooltip"
													data-placement="bottom"
													ng-attr-title="{{activos.logEstatus != '1' ? 'Habilitar':'Deshabilitar'}}"
													ng-click="cambiaEstatus(activos.logEstatus,activos.logId)">
													<span
														ng-class="activos.logEstatus != '1' ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove' "
														aria-hidden="true"> </span>
												
												   </button>
												</div>
												
											</div>
										</td>
										<td align="center">
											<a class="btn btn-danger" ng-click="modificarLog(activos.logId)"> 
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											</a>
<!-- 											<a href=""    >  -->
<!-- 												<img src="static/dist/img/editar.png"> -->
<!-- 											</a> -->
										</td>
									
									</tr>
									<tr ng-if="(logsActivos | filter:view.searchSomething).length < 1"><td colspan="5" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
								</tbody>
							</table>
						</div>
						<div class="container-fluid">
							<div class="fixed-table-pagination" style="display:block;">
								<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="logsActivos"></rows-per-page>
								
								<div class="pull-right pagination">
									<dir-pagination-controls class="pagination"></dir-pagination-controls>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
			</div>
	</section>
<body>
</html>
