<html>
<head>
<meta charset="utf-8">
<title>{{'ADMINISTRACION.Logs.consulta.tituloServicio' | translate}}</title>
</head>
<body>

	<section class="content-header">
		<h1>{{'ADMINISTRACION.Logs.consulta.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li>
				<a><i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}</a>
			</li>
			<li class="active">
				{{breadCrumbs.servicio}}
			</li>
		</ol>
	</section>

	<!-- Main content -->

	<section class="content">
		<form role="form" name="form" novalidate>
			<div class="row">
				<div class="col-md-offset-4 col-md-4">

					<!-- Datos Del Infractor -->
					<div class="box box-danger">
						<div class="box-header with-border text-center">
							<h3 class="box-title">{{'ADMINISTRACION.Logs.consulta.busquedaBox.tituloBox' | translate}}</h3>
						</div>

						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>{{'ADMINISTRACION.Logs.consulta.busquedaBox.label' | translate}}</label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-ellipsis-v"></i></span> 
												<select name="mySelect" id="mySelect" required
												ng-change="obtenerInfoArchivo(data.selectedOption.logId)"
												ng-options="option.logNombre for option in data track by option.logId"
												ng-model="data.selectedOption"
												class="form-control"  style="width: 100%;">
												<option value="">{{'ADMINISTRACION.Logs.consulta.busquedaBox.seleccione' | translate}}</option>
											</select>
										</div>
										<div ng-if="form.mySelect.$invalid && form.mySelect.$dirty" ng-style="{color:'red'}">El tipo de log es requerido</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row" ng-if="mostrarTabla">
				<div class="col-md-3"></div>
				<div class="col-md-6">
				
					<div class="box box-danger" >
						<div class="box-header">
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table 
								id="tabla_logs" class="table table-hover" >
								<thead >
									<tr align="center">
										<th><div align="center">{{'ADMINISTRACION.Logs.consulta.tablaResultados.nombreArchivo' | translate}}</div></th>
										<th ><div align="center">{{'ADMINISTRACION.Logs.consulta.tablaResultados.fecha' | translate}}</div></th>
										<th><div align="center">{{'ADMINISTRACION.Logs.consulta.tablaResultados.archivo' | translate}}</div></th>
									</tr>
								</thead>
								<tbody>
								
									<tr ng-repeat="archivo in archivoLog"  align="center">
										<td  >{{archivo.logNombre}}</td>
										<td >{{archivo.ultimaFechaModificacion}}</td>
										<td>
											<a class="btn btn-danger btn-sm" ng-click="descargaArchivo(archivo.logId,archivo.logNombre)" tooltip="Descargar">
												<i class="fa fa-download"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
						
					</div>
					<!-- /.box -->
				</div>
				<div class="col-md-3"></div>
			</div>

		</form>
	</section>
<body>
</html>
