<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Alta Grupo</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'GRUPO.Nuevo.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6 ">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">{{ 'GRUPO.Nuevo.nombreBox.tituloBox' | translate }}</h3>
					</div>
					<div class="box-body">
						<form role="form" name="formAltaGrupo" ng-submit="guardarGrupo()" novalidate>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group"  ng-class="{'has-error': formAltaGrupo.inputNombreGrupo.$error.required && formAltaGrupo.inputNombreGrupo.$dirty}">	
										<label for="inputNombreGrupo">*{{ 'GRUPO.Nuevo.nombreGrupo.label' | translate }}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-users"></i>
											</div>
											<input type="text" class="form-control" id="inputNombreGrupo" name="inputNombreGrupo" ng-model="grupoVO.nombre" ng-required="true"/>
										</div>
										<div ng-show="formAltaGrupo.inputNombreGrupo.$error.required && formAltaGrupo.inputNombreGrupo.$dirty"
			                 				 ng-style="{color:'red'}">{{ 'GRUPO.Nuevo.nombreGrupo.validacion' | translate }}</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="comboTipoGrupo">*{{ 'GRUPO.Nuevo.tipoGrupo.label' | translate }}:</label>						
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<select class="form-control" id="comboTipoGrupo" name="comboTipoGrupo"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true"
													ng-options="lista.nombre for lista in listaTipoGrupos.lista" ng-model="listaTipoGrupos.valor">
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group" ng-class="{'has-error': formAltaGrupo.inputDescGrupo.$error.required && formAltaGrupo.inputDescGrupo.$dirty}">
										<label for="inputDescGrupo">*{{ 'GRUPO.Nuevo.descripcionGrupo.label' | translate }}:</label>						
										<textarea rows="" cols="" id="inputDescGrupo" name="inputDescGrupo" class="form-control" ng-model="grupoVO.descripcion" ng-required="true" style="overflow:auto;resize:none">
										</textarea>
										<div ng-show="formAltaGrupo.inputDescGrupo.$error.required && formAltaGrupo.inputDescGrupo.$dirty"
			               					 ng-style="{color:'red'}">{{ 'GRUPO.Nuevo.descripcionGrupo.validacion' | translate }}</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group" ng-class="{'has-error': formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty}">
										
										<div ng-show="formAltaNotifica.textareaMensaje.$error.required && formAltaNotifica.textareaMensaje.$dirty"
			                  				ng-style="{color:'red'}">El campo no puede estar vacio.</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">									
									<button type="submit" class="btn btn-danger center-block">{{ 'APP.Base.boton.guardar' | translate}}</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 ">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">{{ 'GRUPO.Nuevo.nombreBox.tituloBoxTwo' | translate }}</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<dnd-lists
								col="col-md-5"
								max-height="25vh"
								model="listaGrupoDispositivos.list"
								nb-list="titulo"
								nb-item="items"
								nb-texts="Identificador:,N° Serial:, Nombre:"
								nb-labels="idItem, srItem, txtItem"
								locker="dispos.flag"
								model-aux=""
								required-list="false"
								img-cursor="">
							</dnd-lists>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</section>
</body>
</html>