<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Modifica Grupo</title>
</head>
<body>
	<section class="content-header">
		<h1>{{'GRUPO.Modifica.tituloServicio' | translate}}</h1>
		<ol class="breadcrumb">
			<li><a> <i class="{{breadCrumbs.icono}}"></i>{{breadCrumbs.modulo}}
			</a></li>
			<li class="active">{{breadCrumbs.servicio}}</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-danger">
					<div class="box-header with-border text-center">
						<h3 class="box-title">{{'GRUPO.Modifica.nombreBox.label' | translate}}</h3>
					</div>
					<div class="box-body">
						<form role="form" name="formModificaGrupo" ng-submit="consulta(busquedaVO.tipoBusca,busquedaVO.busca)" novalidate>
							<div class="row">
								<div class="col-md-6">
									<label for="inputBusquedaGeocerca">*{{'GRUPO.Modifica.tituloBox.tipo' | translate}}:</label>
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboBusquedaGrupo" name="comboBusquedaGrupo"
													data-minimum-results-for-search="Infinity" select2
													idioma-s2="{{currentLanguage}}" ng-required="true"
													ng-change="modoBusqueda()"
													ng-options="listaFiltro.nombre for listaFiltro in listaCatalogo.lista"
													ng-model="busquedaVO.tipoBusca">
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<label for="inputBusquedaGeocerca">*{{'GRUPO.Modifica.tituloBox.valor' | translate}}:</label>
									<div ng-if="!toggleTipo" class="form-group" ng-class="{'has-error': formModificaGrupo.inputBusquedaGrupo.$error.required && formModificaGrupo.inputBusquedaGrupo.$dirty}">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-pencil"></i>
											</div>
											<input class="form-control" id="inputBusquedaGrupo" name="inputBusquedaGrupo" ng-required="true"  ng-model="busquedaVO.busca" />
											<span class="input-group-btn">
												<button type="submit" class="btn btn-danger btn-flat">{{ 'APP.Base.boton.buscar' |translate}}</button>
											</span>
										</div>
										<div ng-show="formModificaGrupo.inputBusquedaGrupo.$error.required && formModificaGrupo.inputBusquedaGrupo.$dirty"
												 ng-style="{color:'red'}">{{'GRUPO.Modifica.busquedaGrupo.comboBusqueda.validacion' | translate}}</div>
									</div>
									<div  ng-if="toggleTipo" class="form-group" ng-class="{'has-error': formModificaGrupo.comboTipoBusquedaGrupo.$error.required && formModificaGrupo.comboTipoBusquedaGrupo.$dirty}">
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-list"></i>
											</div>
											<select class="form-control" id="comboTipoBusquedaGrupo" name="comboTipoBusquedaGrupo"select2
													idioma-s2="{{currentLanguage}}"
													ng-required="toggleTipo"
													ng-change="consulta(busquedaVO.tipoBusca, tipoBusqueda.valor.id)"
													ng-options="listaFiltro.nombre for listaFiltro in tipoBusqueda.lista track by listaFiltro.id"
													ng-model="tipoBusqueda.valor">
													<option value="" selected="selected">{{'MONITOREO.rutas.nombreBox.filtrado.seleccionar' | translate}}</option>
											</select>
										</div>
										<div ng-show="formModificaGrupo.comboTipoBusquedaGrupo.$error.required && formModificaGrupo.comboTipoBusquedaGrupo.$dirty"
												 ng-style="{color:'red'}">{{'GRUPO.Modifica.busquedaGrupo.comboBusqueda.validacion' | translate}}</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="grupos">
			<div class="col-xs-12">
				<div class="box box-danger">
					<div class="box-header row">
						<div class="col-md-6 col-xs-12">
							<h3 class="box-title">{{ 'GRUPO.Modifica.resultadoGrupo.titleBox' | translate}}: {{ (grupos | filter : view.searchSomething).length }}</h3>
						</div>
						<div class="col-md-offset-3 col-md-3 col-xs-10">
				   			<div class="input-group pull-right">
				       			<input type="text" id="searchsomething" class="form-control" placeholder="Buscar por filtro" ng-model="view.searchSomething">
								<div class="input-group-addon"><i class="fa fa-search"></i></div>
				   			</div>
				     	</div>
					</div>
					<div class="box-body table-responsive">
						<table id="tabla_infracciones" class="table table-striped table-hover header-fixed">
							<thead>
								<tr>
									<th align="center" sort order="'nombre'" by="order" reverse="reverse">{{ 'GRUPO.Modifica.resultadoGrupo.nombre.label' | translate}}</th>
									<th align="center" sort order="'tipo'" by="order" reverse="reverse">{{ 'GRUPO.Modifica.resultadoGrupo.tipo.label' | translate}}</th>
									<th align="center" sort order="'descripcion'" by="order" reverse="reverse">{{ 'GRUPO.Modifica.resultadoGrupo.desc.label' | translate}}</th>
									<th align="center" sort order="'fechaCreacion'" by="order" reverse="reverse">{{ 'GRUPO.Modifica.resultadoGrupo.fecha.label' | translate}}</th>
									<th align="center">{{ 'GRUPO.Modifica.resultadoGrupo.accion.label' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="grupo in grupos | orderBy:order:reverse | filter:view.searchSomething | itemsPerPage: view.rowsPerPage">
									<td class="center">{{grupo.nombre}}</td>
									<td class="center">{{grupo.tipo}}</td>
									<td class="center wrap-text">{{grupo.descripcion}}</td>
									<td class="center wrap-text">{{formatDate(grupo.fechaCreacion) | date:'dd/MM/yyyy H:mm'}}</td>
									<td class="center">
										<a href="#/actualizaGrupo/{{grupo.id}}"  class="fa fa-pencil fa-2x" data-placement="left" data-toggle="tooltip" title="Modificar"></a>
										<a ng-click="eliminarGrupo(grupo)" class="fa fa-remove fa-2x" data-placement="left" data-toggle="tooltip" title="Eliminar"></a>
									</td>
								</tr>
								<tr ng-if="(grupos | filter:view.searchSomething).length < 1"><td colspan="10" class="text-center"><h4>No se encontraron coincidencias</h4></td></tr>
							</tbody>
						</table>
					</div>
					<div class="container-fluid">
						<div class="fixed-table-pagination" style="display:block;">
							<rows-per-page rows="view.rowsPerPage" filtro="view.searchSomething" array="grupos"></rows-per-page>
							<div class="pull-right pagination">
								<dir-pagination-controls class="pagination"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>