<section class="content-header">
	<h1>Home</h1>
	<ol class="breadcrumb">
		<li><a> Teclo </a></li>
		<li class="active">Home</li>
	</ol>
</section>
<br>

<section class="content">

	<div class="row">

		<div class="col-md-2" />

		<div class="col-md-8 text-center">
			<h3>Adminstrador web para aplicación java/sockets</h3>
		</div>

		<div class="col-md-2" />
	</div>
</section>